<mt:include name="dialog/header.tmpl" page_title="<__trans phrase="Bulk Author Import">">

<div class="modal_width dialog import-process">
    <div id="msg-container" class="process-msg">
        <ul>
