        </ul>
    </div>
</div>

<mt:if name="create_success">
<p><strong><__trans phrase="All users were updated successfully."></strong></p>
<p><mt:var name="message"></p>
<mt:else>
<p><strong><__trans phrase="An error occurred during the update process. Please check your CSV file."></strong></p>
</mt:if>

<mt:setvarblock name="action_buttons">

<button
    onclick="closeDialog('<mt:var name="script_url">?__mode=list&amp;_type=author&amp;blog_id=0'); return false"
    type="submit"
    accesskey="x"
    class="close action primary button"
    ><__trans phrase="Close"></button>

</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

<mt:include name="dialog/footer.tmpl">
