<mt:unless name="user_id">
    <mt:if name="is_administrator">
        <a href="<mt:var name="script_url">?__mode=list_association&amp;group_id=<mt:var name="group_id" escape="html">" class="icon-right-xwide icon-group"><$mt:var name="group_name" escape="html"$></a>
    <mt:else>
        <span class="icon-right-xwide icon-group"><$mt:var name="group_name" escape="html"$></span>
    </mt:if>
</mt:unless>
