    <mtapp:setting
        id="basename_prefix"
        label="<__trans phrase="Basename Prefix">">
    <ul>
    <li><input type="text" value="<mt:var name="basename_prefix" escape="html">" name="basename_prefix" id="basename_prefix" /></li>
    </ul>
    </mtapp:setting>