<__trans_section component="CustomObject">
<mt:setvarblock name="page_title">
    <mt:if name="id">
        <mt:Trans component="$component" phrase="Edit [_1] Group" params="$class_label"> (<mt:var name="name" escape="html">)
    <mt:else>
        <mt:Trans component="$component" phrase="Create [_1] Group" params="$class_label">
    </mt:if>
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<style type="text/css">
h3 { margin-bottom:0px }
</style>
<link rel="stylesheet" type="text/css" href="<mt:var name="static_uri">plugins/GroupSorting/css/item_sort.css" />
<MTIgnore><script type="text/javascript" src="<mt:var name="static_uri">jqueryui/ui.sortable.js"></script></MTIgnore>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/GroupSorting/js/item_sort.js"></script>
<script type="text/javascript">
var confirmMsg = '<__trans phrase="Are you sure you want to move to other page?">';
function __toggle_filter( cb ) {
    if ( cb.checked == true ) {
        getByID( 'addfilter' ).style.display = "inline";
        if ( getByID( 'addfilter' ).value == 'tag' ) {
            getByID( 'addfiltertag' ).style.display = "inline";
        <mt:if name="scope_type" eq="website">} else if ( getByID( 'addfilter' ).value == 'blog' ) {
            getByID( 'addfilter_blog_id' ).style.display = "inline";</mt:if>
        }
    } else {
        getByID( 'addfilter' ).style.display = "none";
        getByID( 'addfiltertag' ).style.display = "none";
        <mt:if name="scope_type" eq="website">getByID( 'addfilter_blog_id' ).style.display = "none";</mt:if>
    }
}
function toggle_filter_type ( sel ) {
    if ( sel.value == 'tag' ) {
        <mt:if name="scope_type" eq="website">getByID( 'addfilter_blog_id' ).style.display = "none";</mt:if>
        getByID( 'addfiltertag' ).style.display = "inline";
    <mt:if name="scope_type" eq="website">} else if ( sel.value == 'blog' ) {
        getByID( 'addfilter_blog_id' ).style.display = "inline";
        getByID( 'addfiltertag' ).style.display = "none";</mt:if>
    } else {
        <mt:if name="scope_type" eq="website">getByID( 'addfilter_blog_id' ).style.display = "none";</mt:if>
        getByID( 'addfiltertag' ).style.display = "none";
    }
}
function check_item () {
    var name = jQuery( '#name' ).val();
    if ( name == '' ) {
        alert('<__trans phrase="Enter a Group name.">');
        return false;
    } else {
<mt:if name="names_array">
    var groupNames = new Array( <mt:var name="names_array"> );
    for ( var i = 0; i < groupNames.length; i++ ) {
        if ( groupNames[i] == name ) {
            alert( '<__trans phrase="Another group already exists by that name.">' );
            return false;
        }
    }
</mt:if>
        return true;
    }
}
</script>
</mt:setvarblock>

<mt:setvarblock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
           id="saved"
            class="success"
            rebuild="all">
            <__trans phrase="Your changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<MTSetVarBlock name="utility">
    <div class="utility">
        <div class="utility-inner">
            <span class="check_all">
                <input type="checkbox" value="all" class="select" />
                <a href="javascript:void(0)"><img src="<$mt:var name="static_uri"$>plugins/GroupSorting/images/item_sort_icon_01.gif" wudth="16" height="16" alt="" style="vertical-align: text-bottom" /> <__trans phrase="Reverse Check"></a>
            </span>
            <a class="reverse" href="javascript:void(0)"><img src="<$mt:var name="static_uri"$>plugins/GroupSorting/images/item_sort_icon_02.gif" wudth="16" height="16" alt="" style="vertical-align: text-bottom" /> <__trans phrase="Reverse Item"></a>
        </div>
    </div>
</MTSetVarBlock>

<div class="pkg dropBox">
    <div class="listing-filter">
        <div class="listing-filter-inner inner pkg">
            <form id="filter-select-form" method="get" onsubmit="return false;">
                <input type="hidden" name="__mode" value="view" />
                <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
                <input type="hidden" name="id" value="<mt:var name="id">" />
                <input type="hidden" name="_type" value="customobjectgroup" />
                <input type="hidden" name="class" value="<mt:var name="class" escape="html">" />
                <input type="hidden" name="filter_tag" id="filter_tag" value="<mt:var name="filter_tag" escape="html">" />
                <div class="filter">
                    <div id="filter-select" class="page-title">
                        <mt:var name="label_show">
                            <select name="filter" id="item-type">
                                <option value="" <mt:unless name="filter">selected="selected"</mt:unless>><mt:Trans component="$component" phrase="All [_1]" params="$class_label"></option>
                                <mt:unless name="filter" eq="tag"><option value="tag"><__trans phrase="Tag"></option>
                                <mt:else>
                                    <option value="tag" selected="selected"><__trans phrase="Tag is">'<mt:var name="filter_tag" escape="html">'</option>
                                    <option value="tag"><__trans phrase="Change Tag"></option>
                                </mt:else>
                                </mt:unless>
                            </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="item-left" class="listing">
        <div class="object-listing-header">
            <h3>
                <mt:Trans component="$component" phrase="List of [_1]" params="$class_label">
            </h3>
            <$mt:var name="utility"$>
        </div>
        <div class="object-listing-content">
            <ul>
                <mt:loop name="item_loop">
                    <li id="li1_<mt:var name="item_num">" style="cursor:move;">
                        <span id="objectID<mt:var name="id">" style="vertical-align:baseline">
                            <span><input type="checkbox" /></span>&nbsp;
                            <mt:if name="status" eq="1"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/draft.gif" width="9" height="9" alt="<__trans phrase="Draft">" /></mt:if>
                            <mt:if name="status" eq="2"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/success.gif" width="9" height="9" alt="<__trans phrase="Publishing">" /></mt:if>
                            <mt:if name="status" eq="3"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/warning.gif" width="9" height="9" alt="<__trans phrase="Review">" /></mt:if>
                            <mt:if name="status" eq="4"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/future.gif" width="9" height="9" alt="<__trans phrase="Future">" /></mt:if>
                            <mt:if name="status" eq="5"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/close.gif" width="9" height="9" alt="<__trans phrase="Closed">" /></mt:if>
                            <mt:var name="item_name" remove_html="1"> -
                            <a target="_blank" href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<mt:var name="weblog_id">&amp;id=<mt:var name="id">&amp;_type=customobject&amp;class=<mt:var name="component" escape="html">"><__trans phrase="Edit"></a>
                        </span>
                    </li>
                </mt:loop>
            </ul>
        </div>
    </div>
    <div id="item_arrow">
        <img class="toRight" src="<$mt:var name="static_uri"$>plugins/GroupSorting/images/right.gif" width="28" height="30" alt="Move to Right" />
        <img class="toLeft" src="<$mt:var name="static_uri"$>plugins/GroupSorting/images/left.gif" width="28" height="30" alt="Move to Left" />
    </div>
    <div id="item-right" class="listing">
        <div class="object-listing-header">
            <h3>
                <mt:Trans component="$component" phrase="[_1] of Group" params="$class_label">
            </h3>
            <$mt:var name="utility"$>
        </div>
        <div class="object-listing-content">
            <ul>
                <mt:loop name="group_loop">
                    <li id="li2_<mt:var name="item_num">" style="cursor:move;">
                        <span id="objectID<mt:var name="id">" style="vertical-align:baseline">
                            <span><input type="checkbox" /></span>&nbsp;
                            <mt:if name="status" eq="1"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/draft.gif" width="9" height="9" alt="<__trans phrase="Draft">" /></mt:if>
                            <mt:if name="status" eq="2"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/success.gif" width="9" height="9" alt="<__trans phrase="Publishing">" /></mt:if>
                            <mt:if name="status" eq="3"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/warning.gif" width="9" height="9" alt="<__trans phrase="Review">" /></mt:if>
                            <mt:if name="status" eq="4"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/future.gif" width="9" height="9" alt="<__trans phrase="Future">" /></mt:if>
                            <mt:if name="status" eq="5"><img style="vertical-align:baseline" src="<mt:var name="static_uri">images/status_icons/close.gif" width="9" height="9" alt="<__trans phrase="Closed">" /></mt:if>
                            <mt:var name="item_name" remove_html="1"> -
                            <a target="_blank" href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<mt:var name="weblog_id">&amp;id=<mt:var name="id">&amp;_type=customobject&amp;class=<mt:var name="component" escape="html">"><__trans phrase="Edit"></a>
                        </span>
                    </li>
                </mt:loop>
            </ul>
        </div>
    </div>
</div>
<form onsubmit="saveobject();" id="item_sort" name="item_sort" method="post" action="<mt:var name="mt_url">">
    <input type="hidden" name="__mode" value="save" />
    <input type="hidden" name="_type" value="customobjectgroup" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
    <input type="hidden" name="class" value="<mt:if name="class"><mt:var name="class" escape="html"><mt:else>customobject</mt:else></mt:if>" />
    <input type="hidden" name="id" value="<mt:var name="id">" />
    <input type="hidden" name="filter_tag" value="<mt:var name="filter_tag" escape="html">" />
    <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
    <fieldset id="group-settings">
        <h3><__trans phrase="Group Settings"></h3>
        <div class="group-setting-content">
            <mtapp:setting id="name" required="1" label="<__trans phrase="Name of Group">">
                <input type="text" id="name" name="name" value="<mt:var name="name" escape="html">" class="full-width" />
            </mtapp:setting>
            <mtapp:setting id="settings" label="<__trans phrase="Settings">">
                <label><input onclick="__toggle_filter(this)" type="checkbox" id="additem" name="additem" value="1" <mt:if name="additem">checked="checked"</mt:if> />
                <mt:Trans component="$component" phrase="Add new [_1]" params="$class_label">
                </label>
                <select name="addposition" id="addposition" <mt:unless name="additem">style="display:none;"</mt:unless>>
                    <option value="0" <mt:unless name="addposition">selected="selected"</mt:unless>><__trans phrase="Add first"></option>
                    <option value="1" <mt:if name="addposition">selected="selected"</mt:if>><__trans phrase="Add last"></option>
                </select>
                &nbsp;&nbsp;
                <select onchange="toggle_filter_type(this)" name="addfilter" id="addfilter" <mt:unless name="additem">style="display:none;"</mt:unless>>
                    <option value="all" <mt:if name="addfilter" eq="all">selected="selected"</mt:if>><__trans phrase="All"></option>
                    <mt:if name="scope_type" eq="website"><option value="blog" <mt:if name="addfilter" eq="blog">selected="selected"</mt:if>><__trans phrase="Website/Blog"></option></mt:if>
                    <option value="tag" <mt:if name="addfilter" eq="tag">selected="selected"</mt:if>><__trans phrase="Tag"></option>
                </select>
                &nbsp;&nbsp;
                <mt:if name="scope_type" eq="website">
                <select name="addfilter_blog_id" id="addfilter_blog_id" style="<mt:unless name="additem">display:none;</mt:unless><mt:unless name="addfilter" eq="blog">display:none;</mt:unless>">
                <option value="0" <mt:unless name="addfilter_blog_id">selected="selected"</mt:unless>><__trans phrase="website and all blogs"></option>
                <mt:loop name="weblog_loop">
                <option value="<mt:var name="weblog_id">" <mt:if name="addfilter_blog_id" eq="$weblog_id">selected="selected"</mt:if>><mt:var name="weblog_name" escape="html"></option>
                </mt:loop>
                </select>
                </mt:if>
                <input style="width:150px;<mt:unless name="additem">display:none;</mt:unless><mt:unless name="addfilter" eq="tag">display:none;</mt:unless>" type="text" name="addfiltertag" id="addfiltertag" value="<mt:var name="addfiltertag" escape="html">" />
            </mtapp:setting>
        </div>
    </fieldset>
    <div class="actions-bar actions-bar-bottom settings-actions-bar">
        <button
            type="submit"
            accesskey="s"
            title="<__trans phrase="Save"> (s)"
            class="save action primary-button primary button"
            onclick="return check_item();"><__trans phrase="Save"></button>
        <mt:if name="id">
        <button
            type="submit"
            accesskey="s"
            class="action button"
            title="<__trans phrase="Module"> (m)"
            class="action"
            onclick="window.location.href='<mt:var name="mt_url">?__mode=view&amp;_type=template<mt:if name="template_id">&amp;id=<mt:var name="template_id"><mt:else>&amp;type=module</mt:else></mt:if>&amp;blog_id=<mt:var name="blog_id">&amp;class=<mt:var name="class" escape="html">&amp;customobjectgroup_id=<mt:var name="id">';return false"><mt:if name="template_id"><__trans phrase="Edit Module"><mt:else><__trans phrase="Create Module"></mt:if></button>
        </mt:if>
    </div>
    <input type="hidden" name="additem" value="0" />
</form>
<mt:include name="include/footer.tmpl">
</__trans_section>