<mtapp:setting id="outlink" label="<__trans phrase="Outside link">">
    <input type="checkbox"<mt:if name="outlink"> checked="checked"</mt:if> name="outlink" id="outlink" /> <label for="outlink"><__trans phrase="Check outside links"></label>
</mtapp:setting>
<mtapp:setting id="innerlink" label="<__trans phrase="Inner link">">
    <input type="checkbox"<mt:if name="innerlink"> checked="checked"</mt:if> name="innerlink" id="innerlink" /> <label for="innerlink"><__trans phrase="Check inner links"></label>
</mtapp:setting>
<mtapp:setting id="index" label="<__trans phrase="Index file">">
    <input type="text" value="<mt:var name="index" encode_html="1"/>" name="index" id="index" />
</mtapp:setting>
<mtapp:setting id="do_by_task" label="<__trans phrase="Task">">
    <input type="checkbox"<mt:if name="do_by_task"> checked="checked"</mt:if> name="do_by_task" id="do_by_task" /> <label for="do_by_task"><__trans phrase="Do check by periodic task"></label>
</mtapp:setting>
<mtapp:setting id="notifi_send2" label="<__trans phrase="Notify send to">">
    <input type="text" value="<mt:var name="notifi_send2" encode_html="1"/>" name="notifi_send2" id="notifi_send2" />
</mtapp:setting>
<mtapp:setting id="is_error" label="<__trans phrase="Report">">
    <input type="checkbox"<mt:if name="is_error"> checked="checked"</mt:if> name="is_error" id="is_error" /> <label for="is_error"><__trans phrase="Report errors only"></label>
</mtapp:setting>
<mtapp:setting id="doc_root" label="<__trans phrase="Document root (absolute path)">">
    <input type="text" value="<mt:var name="doc_root" encode_html="1"/>" name="doc_root" id="doc_root" />
</mtapp:setting>
<mtapp:setting id="cgi_bin" label="<__trans phrase="Script alias (absolute path)">">
    <input type="text" value="<mt:var name="cgi_bin" encode_html="1"/>" name="cgi_bin" id="cgi_bin" />
</mtapp:setting>
<mtapp:setting id="cgi_rel" label="<__trans phrase="Script alias (relative path)">">
    <input type="text" value="<mt:var name="cgi_rel" encode_html="1"/>" name="cgi_rel" id="cgi_rel" />
</mtapp:setting>
<mtapp:setting id="path_alias" label="<__trans phrase="Alias">">
    <textarea name="path_alias" id="path_alias" class="text row"><mt:var name="path_alias" encode_html="1"/></textarea>
</mtapp:setting>
<mtapp:setting id="lc_exclude_suffix" label="<__trans phrase="Exclude suffix">">
    <input type="text" value="<mt:var name="lc_exclude_suffix" encode_html="1"/>" name="lc_exclude_suffix" id="lc_exclude_suffix" />
</mtapp:setting>
