<$mt:var name="page_msg"$>
<$mt:var name="error"$>
<div id="main-content">
    <div id="main-content">
        <div id="main-content-inner" class="inner pkg">
            <div id="group-listing" class="listing">
                <table id="report-listing-table" class="legacy listing-table compact">
                    <thead>
                        <tr>
                            <th class="col head" style="padding:7px;"><$mt:var name="result_label"$></th>
                        </tr>
                    </thead>
                    <tbody>
                        <$mt:var name="result_table"$>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
