<__trans_section component="CustomGroup">
<mt:if name="scope_type" eq="blog">
<mt:setvar name="blog_view" value="1">
</mt:if>
<mt:setvarblock name="page_title">
<mt:if name="id">
<__trans phrase="Edit Group"> (<mt:var name="name" escape="html">)
<mt:else>
<__trans phrase="Create Group">
</mt:else>
</mt:if>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" type="text/css" href="<mt:var name="static_uri">plugins/GroupSorting/css/item_sort.css" />
<mt:ignore>
<style type="text/css">
#group_box_category, #group_box_blog {
  display: none;
}
</style>
<script type="text/javascript" src="<mt:var name="static_uri">jqueryui/ui.sortable.js"></script>
</mt:ignore>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/GroupSorting/js/item_sort_object.js"></script>
<script type="text/javascript">
var label_entry    = '<__trans phrase="Entries"> / <__trans phrase="Page">';
var label_category = '<__trans phrase="Categories"> / <__trans phrase="Folders">';
var label_blog     = '<__trans phrase="Websites"> / <__trans phrase="Blogs">';

function check_item () {
    var group_name = getByID('group_name');
    if (group_name.value == '') {
        alert('<__trans phrase="Enter a Group Name.">');
        return false;
    }
    return true;
}
jQuery(function(jQuery) {
    jQuery('#item-left').tabs();
    jQuery('#menu-powercms')
        .addClass('current-menu top-menu-open')
        .find('.sub-menu a[href*="list_objectgroup"]').addClass('current')
});
</script>
</mt:setvarblock>

<mt:setvarblock name="system_msg">
    <div id="msg-block">
        <mt:if name="page_msg">
            <div id="saved-changes" class="msg msg-success">
                <mt:var name="page_msg">
            </div>
        </mt:if>
    </div>
</mt:setvarblock>

<mt:setvar name="can_search_replace" value="0">
<mt:include name="include/header.tmpl">

<MTSetVarBlock name="utility">
    <div class="utility">
        <div class="utility-inner">
            <span class="check_all">
                <input type="checkbox" value="all" class="select" />
                <a href="javascript:void(0)"><img src="<$mt:var name="static_uri"$>plugins/GroupSorting/images/item_sort_icon_01.gif" wudth="16" height="16" alt="" style="vertical-align: text-bottom" /> <__trans phrase="Reverse Check"></a>
            </span>
            <a class="reverse" href="javascript:void(0)"><img src="<$mt:var name="static_uri"$>plugins/GroupSorting/images/item_sort_icon_02.gif" wudth="16" height="16" alt="" style="vertical-align: text-bottom" /> <__trans phrase="Reverse Item"></a>
        </div>
    </div>
</MTSetVarBlock>

<div class="pkg dropBox">
    <div id="item-left" class="listing">
        <ul class="tabs">
            <li><a href="#group_box_entry"><__trans phrase="Entries"> / <__trans phrase="Page"></a></li>
            <li><a href="#group_box_category"><__trans phrase="Categories"> / <__trans phrase="Folders"></a></li>
<mt:unless name="blog_view">
            <li><a href="#group_box_blog"><__trans phrase="Websites"> / <__trans phrase="Blogs"></a></li>
</mt:unless>
        </ul>
        <div class="entry-listing-header">
<mt:ignore>
            <h3><__trans phrase="Items of Entry"></h3>
</mt:ignore>
            <$mt:var name="utility"$>
        </div>
<mt:if name="blog_view">
    <$mt:setvar name="this_blog_id" value="$blog_id"$>
</mt:if>
        <div class="entry-listing-content">
            <div id="group_box_entry" class="tabBox">
                <ul>
                    <MTOGEntries blog_id="$this_blog_id" limit="$entries_limit">
                        <li id="li_entry_<$MTEntryID$>" class="<$MTObjectGroupItemClass$> group_icon_<$MTObjectGroupItemClass$>" title="<$MTEntryTitle escape="html"$>">
                            <span><input type="checkbox" /></span>
                            <$MTEntryTitle remove_html="1"$>
                            <MTUnless name="blog_view"><span class="group_note">(<$MTEntryBlogName$>)</span></MTUnless>
                            - <a target="_blank" href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<MTBlogID>&amp;id=<MTEntryID>&amp;_type=<mt:var name="__class__">"><__trans phrase="Edit"></a>
                        </li>
                    </MTOGEntries>
                </ul>
            </div>
            <mt:Ignore>=====================================================================</mt:Ignore>
            <div id="group_box_category" class="tabBox">
                <ul id="ul_category">
                    <$MTSetVar name="item_num" value="1"$>
                    <MTOGCategories blog_id="$this_blog_id">
                        <li id="li_category_<$MTCategoryID$>" class="<$MTObjectGroupItemClass$> group_icon_<$MTObjectGroupItemClass$>" title="<$MTCategoryLabel escape="html"$>">
                            <span><input type="checkbox" /></span>
                            <$MTCategoryLabel remove_html="1"$>
                            <MTUnless name="blog_view"><span class="group_note">(<$MTBlogName$>)</span></MTUnless>
                            - <a target="_blank" href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<MTBlogID>&amp;id=<MTCategoryID>&amp;_type=<mt:var name="__class__">"><__trans phrase="Edit"></a>
                        </li>
                    </MTOGCategories>
                </ul>
            </div>
            <mt:Ignore>=====================================================================</mt:Ignore>
<mt:unless name="blog_view">
            <div id="group_box_blog" class="tabBox">
                <ul id="ul_blog">
                    <$MTSetVar name="item_num" value="1"$>
                    <MTOGBlogs>
                        <li id="li_blog_<$MTBlogID$>" class="<$MTObjectGroupItemClass$> group_icon_<$MTObjectGroupItemClass$>" title="<$MTBlogName escape="html"$>">
                            <span><input type="checkbox" /></span>
                            <mt:if tag="MTObjectGroupItemClass" eq="blog">(<__trans phrase="Blog">)<mt:else>(<__trans phrase="Website">)</mt:else></mt:if>
                            <$MTBlogName remove_html="1"$> <mt:if name="__website_name__">(<mt:var name="__website_name__">)</mt:if>
                            - <a target="_blank" href="<mt:var name="mt_url">?__mode=cfg_prefs&amp;blog_id=<MTBlogID>"><__trans phrase="Settings"></a>
                        </li>
                        <$MTSetVar name="item_num" op="++"$>
                    </MTOGBlogs>
                </ul>
            </div>
</mt:unless>
       </div>
    </div>
    <div id="item_arrow">
        <img class="toRight" src="<$mt:var name="static_uri"$>plugins/GroupSorting/images/right.gif" width="28" height="30" alt="Move to Right" />
        <img class="toLeft" src="<$mt:var name="static_uri"$>plugins/GroupSorting/images/left.gif" width="28" height="30" alt="Move to Left" />
    </div>
    <div id="item-right" class="listing">
        <div class="entry-listing-header">
            <h3><__trans phrase="Items of Group"></h3>
            <$mt:var name="utility"$>
        </div>
        <div class="entry-listing-content">
            <ul class="tabBox">
                <MTSetVarBlock name="group_id"><mt:var name="id"></MTSetVarBlock>
                <MTObjectGroupItems id="$group_id">
                    <$MTSetVar name="group_note" value=""$>
                    <MTIfObjectGroupItemIsEntry>
                        <$MTSetVar name="type" value="$__class__"$>
                        <$MTEntryTitle setvar="item_label"$>
                        <$MTEntryID setvar="object_id"$>
                        <MTSetVarBlock name="group_note"><$MTEntryBlogName$></MTSetVarBlock>
                        <MTSetVarBlock name="edit_link"><a target="_blank" href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<MTBlogID>&amp;id=<MTEntryID>&amp;_type=<mt:var name="__class__">"><__trans phrase="Edit"></a></MTSetVarBlock>
                    </MTIFObjectGroupItemIsEntry>
                    <MTIfObjectGroupItemIsCategory>
                        <$MTSetVar name="type" value="$__class__"$>
                        <$MTCategoryLabel setvar="item_label"$>
                        <$MTCategoryID setvar="object_id"$>
                        <MTSetVarBlock name="group_note"><$MTBlogName escape="html"$></MTSetVarBlock>
                        <MTSetVarBlock name="edit_link"><a target="_blank" href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<MTBlogID>&amp;id=<MTCategoryID>&amp;_type=<mt:var name="__class__">"><__trans phrase="Edit"></a></MTSetVarBlock>
                    </MTIfObjectGroupItemIsCategory>
                    <MTIfObjectGroupItemIsBlog>
                        <$MTSetVar name="type" value="blog"$>
                        <$MTBlogName setvar="item_label"$>
                        <$MTBlogID setvar="object_id"$>
                        <MTSetVarBlock name="edit_link"><a target="_blank" href="<mt:var name="mt_url">?__mode=cfg_prefs&amp;blog_id=<MTBlogID>"><__trans phrase="Settings"></a></MTSetVarBlock>
                        <MTSetVarBlock name="group_note"><mt:if tag="MTObjectGroupItemClass" eq="blog"><MTBlogParentWebsite><$MTWebsiteName escape="html"$></MTBlogParentWebsite></mt:if></MTSetVarBlock>
                    </MTIfObjectGroupItemIsBlog>
                    <$MTGetVar name="type" setvar="item_type"$>
                    <MTIf name="item_type" eq="page">
                        <$MTSetVar name="item_type" value="entry"$>
                    </MTIf>
                    <MTIf name="item_type" eq="folder">
                        <$MTSetVar name="item_type" value="category"$>
                    </MTIf>
                    <li id="li_<$MTGetVar name="item_type"$>_<$MTGetVar name="object_id"$>" class="<$MTObjectGroupItemClass$> group_icon_<MTIf name="type" eq="blog"><$MTObjectGroupItemClass$><MTElse><$MTGetVar name="type"$></MTElse></MTIf>" title="<mt:var name="item_label" remove_html="1">">
                        <span><input type="checkbox" /></span>
                        <mt:if tag="MTObjectGroupItemClass" eq="blog">(<__trans phrase="Blog">)</mt:if><mt:if tag="MTObjectGroupItemClass" eq="website">(<__trans phrase="Website">)</mt:if>
                        <mt:var name="item_label" remove_html="1">
                        <MTUnless name="blog_view">
                            <MTIf name="group_note">
                                <span class="group_note">(<$MTGetVar name="group_note"$>)</span>
                            </MTIf>
                        </MTUnless>
                        - <mt:var name="edit_link">
                    </li>
                </MTObjectGroupItems>
            </ul>
        </div>
    </div>
</div>

<mt:ignore>
        <script type="text/javascript">
           item_group.tabs.change(document.getElementById('tab_anchor_entry'));
        </script>
</mt:ignore>

<form onsubmit="saveEntry();" id="objectgroup" name="objectgroup" method="get" action="<mt:var name="mt_url">">
    <input type="hidden" name="__mode" value="save" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
    <input type="hidden" name="_type" value="objectgroup" />
    <input type="hidden" name="id" value="<mt:var name="id">" />
    <input type="hidden" name="sort" id="sort" value="" />
    <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

    <fieldset id="group-settings">
        <h3><span><__trans phrase="Group Settings"></span></h3>
        <div class="group-setting-content">
            <mtapp:setting id="group_name" label="<__trans phrase="Name of Group">" >
                <div class="textarea-wrapper">
                    <input type="text" id="group_name" name="name" value="<mt:var name="name" escape="html">" class="full-width text" />
                </div>
            </mtapp:setting>
        </div>
    </fieldset>
    <div class="actions-bar actions-bar-bottom settings-actions-bar">
        <button
            type="submit"
            accesskey="s"
            title="<__trans phrase="Save"> (s)"
            class="save action primary-button primary button"
            onclick="return check_item();"><__trans phrase="Save"></button>
        <mt:if name="id">
        <button
            type="submit"
            accesskey="s"
            title="<__trans phrase="Module"> (m)"
            class="action button"
            onclick="window.location.href='<mt:var name="mt_url">?__mode=view&amp;_type=template<mt:if name="template_id">&amp;id=<mt:var name="template_id"><mt:else>&amp;type=module</mt:else></mt:if>&amp;blog_id=<mt:var name="blog_id">&amp;objectgroup_id=<mt:var name="group_id">';return false"><mt:if name="template_id"><__trans phrase="Edit Module"><mt:else><__trans phrase="Create Module"></mt:if></button>
        </mt:if>
    </div>
</form>
<script type="text/javascript">
<mt:if name="add_filter-cat">
    var items_filter = getByID('add_items_filter');
    items_filter.style.display = 'inline';
    var filter_link = getByID('add_filter_link');
    filter_link.style.display = 'none';
    add_setFilterCol('category_id');
    var flag = getByID('add_filter_flag');
    flag.value = 1;
</mt:if>
<mt:if name="add_filter-exacttag">
    var items_filter = getByID('add_items_filter');
    items_filter.style.display = 'inline';
    var filter_link = getByID('add_filter_link');
    filter_link.style.display = 'none';
    add_setFilterCol('exacttag');
    var flag = getByID('add_filter_flag');
    flag.value = 1;
    var selector = getByID('add_filter-col');
    selector.selectedIndex = 1;
</mt:if>
<mt:if name="class" eq="entry">
    getByID('page-type').selectedIndex = 1;
</mt:if>
<mt:if name="class" eq="page">
    getByID('page-type').selectedIndex = 2;
</mt:if>
</script>
<mt:include name="include/footer.tmpl">
</__trans_section>
