<mtapp:setting
    id="emoticon_size"
    label="<__trans phrase="Emoticon Size">">
    <ul>
    <li><select name="emoticon_size" id="emoticon_size">
        <option value="12"<mt:if name="emoticon_size" eq="12"> selected="selected"</mt:if>>12px</option>
        <option value="16"<mt:if name="emoticon_size" eq="16"> selected="selected"</mt:if>>16px</option>
    </select></li>
    </ul>
</mtapp:setting>
<mtapp:setting
    id="basename_prefix"
    label="<__trans phrase="Basename Prefix">">
    <ul>
    <li><input type="text" value="<mt:var name="basename_prefix" escape="html">" name="basename_prefix" id="basename_prefix" /></li>
    </ul>
</mtapp:setting>
