<__trans_section component="ContactForm">
<mt:setvarblock name="list_id"><mt:var name="object_type">-listing</mt:setvarblock>
<mt:if name="blog_id"><mt:var name="blog_view" value="1"></mt:if>
<mt:unless name="search_replace">
<mt:unless name="dialog_view">
<mt:setvarblock name="action_buttons">
        <button
            class="mt-delete-items"
            onclick="doRemoveItems(getByID('<mt:var name="object_type">-listing-form'), '<__trans phrase="Form Element" escape="js">', '<__trans phrase="Form Elements" escape="js">'); return false;"
            accesskey="x"
            title="<__trans phrase="Delete selected Form Elements (x)">"
            ><__trans phrase="Delete"></button>
</mt:setvarblock>
<mt:else>
    <div class="listing-filter">
        <form action="<mt:var name="script_url">" method="get" id="modal-search">
            <input type="hidden" name="__mode" value="list_contactform" />
            <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
            <input type="hidden" name="edit_field" value="<mt:var name="edit_field" escape="html">" />
            <input type="hidden" name="dialog" value="1" />
            <input type="hidden" name="dialog_view" value="1" />
            <input type="text" value="<mt:unless name="query"><__trans phrase="Search"><mt:else><mt:var name="query" escape="html"></mt:else></mt:unless>" name="query" class="search-input search-query" onblur="if(this.value==''){this.style.color=''; this.form.reset()}" onfocus="this.value = ''; this.style.color = '#000';" />
            <input type="image" class="search-command search-submit" src="<$mt:var name="static_uri"$>images/search-submit-dialog.png" title="<__trans phrase="Search">" />
            <a href="javascript:void(0)" class="search-reset hidden"><__trans phrase="Reset"></a>
        </form>
    </div>
</mt:else>
</mt:unless>
</mt:unless>
<mt:setvarblock name="table_header">
    <tr>
    <mt:unless name="search_replace">
        <th class="cb">
        <mt:unless name="dialog_view">
            <input type="checkbox" name="id-head" value="all" class="select" />
        </mt:unless>
        </th>
    </mt:unless>
        <th class="col head name" style="padding:7px;"><__trans phrase="Name"></th>
        <th class="col head type" style="width:65px;padding:7px;"><__trans phrase="Type"></th>
        <th class="col head author_name" style="width:77px;padding:7px;"><__trans phrase="Author"></th>
        <th class="col head created_on" style="width:77px;padding:7px;"><__trans phrase="Created On"></th>
        <mt:if name="scope_type" eq="website">
        <th class="col head blog_name" style="width:77px;padding:7px;"><__trans phrase="Blog"></th>
        </mt:if>
    </tr>
</mt:setvarblock>

<mtapp:listing id="$list_id">
    <mt:if __first__>
            <thead><mt:var name="table_header"></thead>
            <tfoot><mt:var name="table_header"></tfoot>
            <tbody>
    </mt:if>
                <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                <mt:unless name="search_replace">
                    <td class="cb">
                        <mt:if name="dialog_view">
                            <input type="radio" name="id" value="<mt:var name="id" escape="html">" class="select" />
                        <mt:else>
                            <mt:if name="can_edit">
                                <input type="checkbox" name="id" value="<mt:var name="id" escape="html">" class="select" />
                            </mt:if>
                        </mt:else>
                        </mt:if>
                    </td>
                </mt:unless>
                    <td class="col name">
                        <input type="hidden" id="name-<mt:var name="id" escape="html">" value="<mt:var name="name" escape="html">" />
                    <mt:if name="can_edit"><a<mt:if name="dialog_view"> target="_blank"</mt:if> href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<mt:var name="blog_id">&amp;id=<mt:var name="id">&amp;_type=contactform"></mt:if>
                        <mt:var name="name" escape="html">
                    <mt:if name="can_edit"></a></mt:if>
                    </td>
                    <td class="col type">
                    <mt:var name="field_label">
                    <mt:if name="required">
                    *
                    </mt:if>
                    </td>
                    <td class="col author_name"><mt:var name="author_name" escape="html"></td>
                    <td class="col created_on"><mt:var name="created_on"></td>
                    <mt:if name="scope_type" eq="website">
                    <td class="col blog_name"><a href="<mt:var name="mt_url">?__mode=list&amp;_type=contactform&amp;blog_id=<mt:var name="weblog_id">"><mt:var name="weblog_name" escape="html"></a></td>
                    </mt:if>
                </tr>
    <mt:if __last__>
            </tbody>
    </mt:if>
</mtapp:listing>

<mt:if name="dialog_view">
    <div class="actions-bar">
        <form action="" method="">
            <button
                onclick="append_object();return false;"
                type="submit"
                accesskey="s"
                title="<__trans phrase="Next (s)">"
                class="action primary-button close disabled-button"
                >
                <__trans phrase="Next"></button>
            <button
                type="submit"
                accesskey="x"
                class="cancel action mt-close-dialog"
                title="<__trans phrase="Cancel (x)">">
                <__trans phrase="Cancel"></button>
        </form>
        <script type="text/javascript">
            function append_object(){
                var tags = document.getElementsByTagName( 'input' );
                var len  = tags.length;
                var selected;
                var name;
                for ( var i = 0; i < len; i++ ) {
                    var rb = tags[ i ];
                    if ( rb.type == 'radio' ) {
                        if ( rb.checked ) {
                            selected = rb.value;
                            name = getByID( 'name-' + selected ).value;
                            break;
                        }
                    }
                }
                if ( selected ) {
                    var is_multi = false;
                    if(window.parent.getByID('<mt:var name="edit_field" escape="js">-checker').value == 'multi'){
                        is_multi = true;
                    }
                    var script_multi = '';
                    if(is_multi){
                        script_multi = '_multi';
                    }
                    name = '<div id="obj-<mt:var name="edit_field" escape="js">-' + selected + '">' + name + ' (ID:' + selected + ') <a href="javascript:;" onclick="jQuery(this).parent().remove();remove_val' + script_multi + '(\'' + selected + '\',\'<mt:var name="edit_field" escape="js">\');"><img src="<mt:var name="static_uri">images/status_icons/close.gif" alt="<__trans phrase="Delete">" title="<__trans phrase="Delete">" /></a></div>';
                    if(!window.parent.getByID('obj-<mt:var name="edit_field" escape="js">-' + selected)){
                        if(is_multi){
                            window.parent.getByID('field_value-<mt:var name="edit_field" escape="js">').innerHTML += name;
                        }else{
                            window.parent.getByID('field_value-<mt:var name="edit_field" escape="js">').innerHTML = name;
                        }

                        //window.parent.getByID('field_remove-<mt:var name="edit_field" escape="js">').style.display = 'inline';
                        var insert_val = '';
                        if(is_multi){
                            var val = window.parent.getByID('<mt:var name="edit_field" escape="js">').value;
                            if(val == ''){
                                val = ',';
                            }
                            insert_val = val + selected + ',';
                        }else{
                            insert_val = selected;
                        }
                        window.parent.getByID('<mt:var name="edit_field" escape="js">').value = insert_val;
                    }

                    window.parent.jQuery.fn.mtDialog.close();
                } else {
                    alert( '<__trans phrase="None selected">' );
                }
                return false;
            }
        </script>
    </div>
</mt:if>
</__trans_section>
