<__trans_section component="AdditionalFields">
<mt:if name="class" eq="entry">
<mt:setvar name="page_title" value="<__trans phrase="Entries List">">
<mt:else>
<mt:setvar name="page_title" value="<__trans phrase="Pages List">">
</mt:else>
</mt:if>
<mt:setvarblock name="html_head" append="1">
<style type="text/css">
.plugin-actions { display:none }
.pagination { margin-top:-32px; }
.legacy { margin-top:-22px; margin-bottom:-12px; }
</style>
</mt:setvarblock>
<mt:setvarblock name="system_msg">
</mt:setvarblock>
<mt:setvar name="options-class" value="absolute">
<mt:setvarblock name="html_body_footer">
    <mt:include name="include/display_options.tmpl">
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<style type="text/css">
</style>
<script type="text/javascript">
/* <![CDATA[ */
function enableFilterButton () {
    getByID( 'filter-button' ).style.display = 'inline';
}

function toggleFilter () {
    var filterActive = getByID( 'filter-title' );
    if ( filterActive.style.display == 'none' ) {
        filterActive.style.display = 'block';
        getByID ( 'filter-select' ) .style.display = "none";
    } else {
        filterActive.style.display = 'none';
        getByID ( 'filter-select' ) .style.display = "block";
    }
}

function setFilterCol ( choice ) {
    var sel = getByID ( 'filter-select-form' );
    if ( !sel ) return;
    var filters = [ 'author_id', 'status', 'exacttag', 'category_id' ];
    var fld = getByID( 'filter-col' );
    for ( var i = 0; i < filters.length; i++ ) {
        var filter_sel = getByID( 'filter-' + filters[ i ] );
        if ( filter_sel ) {
            if ( choice == filters[ i ] ) {
                filter_sel.style.display = 'inline';
                if ( fld ) {
                    fld.selectedIndex = i;
                }
            } else {
                filter_sel.style.display = 'none';
            }
        }
    }
    if ( choice == 'none' ) {
        var filter_sel = getByID( 'filter-' + filters[ 0 ] );
        filter_sel.style.display = 'inline';
    }
    col_span = getByID ( 'filter-text-col' );
    if ( choice != 'none' ) {
        if ( fld.selectedIndex > -1 && col_span ) {
            col_span.innerHTML =
                fld.options[fld.selectedIndex].text;
        }
    }
    if ( choice == 'exacttag' ) {
        getByID( 'filter-text-val' ).innerHTML = '<mt:var name="filter_val" escape="html">';
    }
}

var tableSelect;
function init()
{
    // setup
    tableSelect = new TC.TableSelect( "<mt:var name="object_type">-listing-table" );
    tableSelect.rowSelect = true;
    setFilterCol(<mt:if name="filter">'<mt:var name="filter" escape="js">'<mt:else>'none'</mt:if>);<mt:if name="filter">
    setFilterVal('<mt:var name="filter_val" escape="js">');
</mt:if>
}

TC.attachLoadEvent( init );

/* ]]> */
</script>
</mt:setvarblock>

<mt:setvarblock name="list_filter_form">
<form id="filter-form" method="get" action="<mt:var name="mt_url">">
    <input type="hidden" name="__mode" value="entries_dialog" />
        <mt:if name="blog_id">
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
        </mt:if>
        <mt:if name="dialog_view">
    <input type="hidden" name="dialog_view" value="1" />
        </mt:if>
    <input id="filter" type="hidden" name="filter" value="" />
    <input id="filter_val" type="hidden" name="filter_val" value="" />
    <input type="hidden" name="class" value="<mt:var name="class">" />
</form>
<div class="listing-filter">
    <div class="listing-filter-inner inner pkg">
        <form id="filter-select-form" method="get" onsubmit="execFilter(this)">
            <div class="filter">
                <div id="filter-title" class="filter-title">
                <mt:unless name="filter">
                    <strong><__trans phrase="All [_1]" params="<mt:var name="class_label">"></strong>
                    <a href="javascript:void(0)" onclick="toggleFilter()" class="filter-link">[ <__trans phrase="change"> ]</a>
                <mt:else>
                <strong><mt:unless name="query">
                    <__trans phrase="[_1] where [_2] is [_3]" params='<mt:var name="class_label">%%<span id="filter-text-col">&nbsp;</span>%%<span id="filter-text-val"></span>'>
                <mt:else>
                    <__trans phrase="[_1] where [_2] contains [_3]" params='<mt:var name="class_label">%%<mt:var name="search_col_label">%%<mt:var name="query" escape="html">'>
                    <span id="filter-text-val" style="display:none"></span>
                    <span id="filter-text-col" style="display:none">&nbsp;</span>
                </mt:else>
                </mt:unless></strong>
                    <a href="<mt:var name="script_url">?__mode=<mt:var name="mode" escape="url"><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if><mt:if name="dialog_view">&amp;dialog_view=1&amp;dialog=1</mt:if>&amp;class=<mt:var name="class">">[ <__trans phrase="Remove filter"> ]</a>
                </mt:unless>
                </div>
        <div id="filter-select" class="page-title" style="display: none">
            <!-- start filter form -->
                <select id="filter-col" name="filter" onchange="setFilterCol(this.options[this.selectedIndex].value);enableFilterButton(this)">
                    <option value="author_id"><__trans phrase="Author"></option>
                    <option value="status"><__trans phrase="Status"></option>
                    <option value="exacttag"><__trans phrase="Tags"></option>
                    <option value="category_id"><mt:if name="class" eq="entry"><__trans phrase="Category"><mt:else><__trans phrase="Folder"></mt:else></mt:if></option>
                </select>
                <__trans phrase="is">
                <span id="filter-author_id" style="display: none">
                    <select id="author_id-val" name="filter_val" onchange="enableFilterButton()">
                        <mt:loop name="author_loop">
                            <option value="<mt:var name="author_id">"><mt:var name="author_name" escape="html"></option>
                        </mt:loop>
                    </select>
                </span>
                <span id="filter-status" style="display: none">
                    <select id="status-val" name="filter_val" onchange="enableFilterButton()">
                        <option value="1"><__trans phrase="Draft"></option>
                        <option value="2"><__trans phrase="Publishing"></option>
                    </select>
                </span>
                <span id="filter-exacttag" style="display: none">
                    <select id="exacttag-val" name="exacttag" onchange="enableFilterButton()">
                        <mt:loop name="tag_loop">
                            <option value="<mt:var name="tag_name" escape="html">"><mt:var name="tag_name" escape="html"></option>
                        </mt:loop>
                    </select>
                </span>
                <span id="filter-category_id" style="display: none">
                    <select id="category_id-val" name="category_id" onchange="enableFilterButton()">
                    <mt:loop name="blog_loop">
                        <MTBlogs blog_ids="$weblog_id">
                        <MTCfEntrySetContext stash="blog_id" value="$weblog_id">
                        <mt:if name="class" eq="entry">
                            <MTTopLevelCategories>
                            <option value="<$MTCategoryID$>"><$MT:CategoryLabel$></option>
                            <MTSubCategories>
                            <option value="<$MTCategoryID$>">&nbsp;&nbsp;<$MTCategoryLabel escape="html"$></option>
                              <$MTSubCatsRecurse$>
                            </MTSubCategories>
                            </MTTopLevelCategories>
                        <mt:else>
                            <MTTopLevelFolders>
                            <option value="<$MTFolderID$>"><$MT:FolderLabel$></option>
                            <MTSubFolders>
                            <option value="<$MTFolderID$>">&nbsp;&nbsp;<$MTFolderLabel escape="html"$></option>
                              <$MTSubCatsRecurse$>
                            </MTSubFolders>
                            </MTTopLevelFolders>
                        </mt:else>
                        </mt:if>
                        </MTCfEntrySetContext>
                        </MTBlogs>
                    </mt:loop>
                    </select>
                </span>
            <span class="buttons">
                <button
                    id="filter-button"
                    onclick="return execFilter(getByID('filter-select-form'))"
                    type="submit"
                    class="button"
                    ><__trans phrase="Filter"></button>
                <button
                    onclick="toggleFilter(); return false;"
                    type="submit"
                    class="button"
                    ><__trans phrase="Cancel"></button>
            </span>
            </div>
            </div>
        </form>
    </div>
</div>
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">
<mt:setvar name="has_list_actions" value="0">
<mt:var name="list_filter_form">
<mt:include name="dialog/entry_table.tmpl">
<mt:include name="dialog/footer.tmpl">
</__trans_section>