<__trans_section component="Link">
<mt:ifPlugin component="TinyMCE">
<mt:else>
<mt:setvar name="use_wysiwyg" value="">
</mt:else>
</mt:ifPlugin>
<mt:setvarblock name="html_head" append="1">
<style type="text/css">
.field { margin-bottom:0px }
.field-header{ width:100px !important; }
.field-content { position:relative; left:-45px }
fieldset{ position:relative; top:-5px }
.field-content p { margin-bottom:4px }
.field-content #notes { height:240px }
.field input.full-width, .field textarea.full-width { width:100% }
#notes-field .field-header { margin-top:25px }
#url-field { margin-bottom:-10px }
#name { font-size:150% }
#url_more, #rss_more { margin-top:8px }
.bloken-error { <mt:if name="saved">margin-top:-18px !important;</mt:if> margin-bottom:25px !important; }
.msg-success{ margin-bottom:25px !important; }
<mt:ifie>
<mt:if name="ie_version" le="7">
input.text.full-width,
textarea.full-width {
    width: 98% !important;
}
</mt:if>
</mt:ifie>
</style>
<script type="text/javascript">
function validation () {
    var name = jQuery( '#name' ).val();
    var url = jQuery( '#url' ).val();
    if ( ( name == '' ) || ( url == '' ) ) {
        alert( '<__trans phrase="Link requires Name and URL.">' );
        return false;
    }
    return true;
}
<mt:ifPlugin component="TinyMCE">
var editor_another_setting = true;
var theme_advanced_buttons1 = '<$mt:var name="theme_advanced_buttons1" escape="js"$>';
var theme_advanced_buttons2 = '<$mt:var name="theme_advanced_buttons2" escape="js"$>';
var theme_advanced_buttons3 = '<$mt:var name="theme_advanced_buttons3" escape="js"$>';
var theme_advanced_buttons4 = '<$mt:var name="theme_advanced_buttons4" escape="js"$>';
var theme_advanced_buttons5 = '<$mt:var name="theme_advanced_buttons5" escape="js"$>';
var editor_content_css = '<$mt:var name="editor_style_css" escape="js"$>';
</mt:ifPlugin>
</script>
</mt:setvarblock>
<mt:setvarblock name="page_title"><mt:if name="id"><__trans phrase="Edit Link"><mt:else><__trans phrase="Create Link"></mt:else></mt:if></mt:setvarblock>
<mt:setvar name="position_actions_bottom" value="1">
<mt:setvarblock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
           id="saved"
            class="success">
            <__trans phrase="Your changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="broken_link">
        <mtapp:statusmsg
            id="generic-error-bloken-link"
            class="error bloken-error">
            <__trans phrase="This URL is broken.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="broken_rss">
        <mtapp:statusmsg
            id="generic-error-bloken-rss"
            class="error bloken-error">
            <__trans phrase="This RSS is broken.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="broken_image">
        <mtapp:statusmsg
            id="generic-error-bloken-image"
            class="error bloken-error">
            <__trans phrase="This image is broken.">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:setvartemplate name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        onclick="return validation();"
        title="<__trans phrase="Save this Link (s)">"
        class="save action primary-button primary button"
        ><__trans phrase="Save"></button>
    <mt:if name="id">
    <button
        onclick="
        if ( window.confirm( '<__trans phrase="Are you sure you want to remove this Link?">' ) ) {
            getByID( 'this_mode' ).value='delete';
            getByID( 'this_return_args' ).value='__mode=list&amp;_type=link&amp;blog_id=<mt:var name="blog_id">';
            this.form.submit();
        } else {
            return false;
        }
        "
        type="submit"
        accesskey="x"
        title="<__trans phrase="Delete this Link (x)">"
        class="delete action button"
        ><__trans phrase="Delete"></button>
    </mt:if>
</mt:setvartemplate>
<mt:setvarblock name="related_content">
    <mtapp:PageActions>
</mt:setvarblock>

<mt:setvarblock name="object_nav">
    <ul class="object-nav">
        <li id="previous-link"><mt:if name="previous_link_id"><a href="<mt:var name="script_url">?__mode=view&amp;_type=link&amp;id=<mt:var name="previous_link_id" escape="url">&amp;blog_id=<mt:var name="blog_id" escape="url">"><__trans phrase="Previous"></a><mt:else><span><__trans phrase="Previous"></span></mt:if></li>
        <li id="next-link"><mt:if name="next_link_id"><a href="<mt:var name="script_url">?__mode=view&amp;_type=link&amp;id=<mt:var name="next_link_id" escape="url">&amp;blog_id=<mt:var name="blog_id" escape="url">"><__trans phrase="Next"></a><mt:else><span><__trans phrase="Next"></span></mt:if></li>
    </ul>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<form method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="id" value="<mt:var name="id" escape="html">" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id" escape="html">" />
    <input type="hidden" name="__mode" value="save" id="this_mode" />
    <input type="hidden" name="action_name" value="" />
    <input type="hidden" name="itemset_action_input" value="" />
    <input type="hidden" name="_type" value="link" />
    <input type="hidden" name="class" value="link" />
    <input type="hidden" name="return_args" id="this_return_args" value="<mt:var name="return_args" escape="html">" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<mt:if name="position_actions_top">
    <mt:include name="include/actions_bar.tmpl" bar_position="top" hide_pager="1">
</mt:if>
<fieldset>
    <mtapp:setting
        id="name"
        required="1"
        label="<__trans phrase="Name">"
        show_hint="0">
    <input type="text" name="name" id="name" class="full-width" value="<mt:var name="name" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="url"
        required="1"
        label="<__trans phrase="URL">"
        show_hint="0">
    <input<mt:if name="url"> onchange="getByID('view-link').href=this.value;"</mt:if> type="text" name="url" id="url" class="full-width" value="<mt:var name="url" escape="html">" />
    <mt:if name="url"><mt:setvar name="show_more" value="1"></mt:if>
    <mt:if name="urlupdated_on"><mt:setvar name="show_more" value="1"></mt:if>
    <mt:if name="show_more">
    <div id="url_more">
    <mt:if name="url"><a id="view-link" href="<mt:var name="url" escape="html">" target="_blank"><__trans phrase="View this link"></a>
    | <a onclick="window.location.href=this.href+encodeURIComponent(getByID('view-link').href);return false;" href="<mt:var name="script_url">?__mode=search_replace&amp;_type=entry&amp;do_search=1&amp;quicksearch=1&amp;magic_token=<mt:var name="magic_token">&amp;search="><__trans phrase="Search entry that contains this URL"></a>
    | <a onclick="window.location.href=this.href+encodeURIComponent(getByID('view-link').href);return false;" href="<mt:var name="script_url">?__mode=search_replace&amp;_type=page&amp;do_search=1&amp;quicksearch=1&amp;magic_token=<mt:var name="magic_token">&amp;search="><__trans phrase="Search page that contains this URL"></a>
    </mt:if>
    <mt:if name="urlupdated_on">
    (<__trans phrase="Last-Modified">:<mt:var name="urlupdated_on_date" escape="html"> <mt:var name="urlupdated_on_time" escape="html">)
    </mt:if>
    </div>
    </mt:if>
    </mtapp:setting>
    <mtapp:setting
        id="notes"
        label="<__trans phrase="Notes">"
        show_hint="0">
    <mt:if name="use_wysiwyg">
    <div style="font-size:10px;margin-bottom:3px;text-align:right">
        <select name="editor_select" id="editor_select" style="font-size:10px;">
        <option value="0"><__trans phrase="Rich Text"></option>
        <option value="1"<mt:if name="editor_select"> selected="selected"</mt:if>><__trans phrase="None"></option>
        </select>
    </div>
    </mt:if>
    <textarea name="notes" id="notes" class="full-width text"><mt:var name="notes" escape="html"></textarea>
    <mt:if name="use_wysiwyg">
    <script type="text/javascript">
        jQuery(function() {
            toggle_editor(getByID('editor_select'), jQuery('#notes'));
            jQuery('#editor_select').change(function() {
                toggle_editor(this, jQuery('#notes'));
            });
        });
    </script>
    </mt:if>
    </mtapp:setting>
    <mtapp:setting
        id="description"
        label="<__trans phrase="Description">"
        show_hint="0">
    <input type="text" name="description" id="description" class="full-width" value="<mt:var name="description" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="tags"
        label="<__trans phrase="Tags">"
        show_hint="0">
    <input type="text" name="tags" id="tags" class="full-width" value="<mt:var name="tags" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="title"
        label="<__trans phrase="title">"
        show_hint="0">
    <input type="text" name="title" id="title" class="full-width" value="<mt:var name="title" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="target"
        label="<__trans phrase="target">"
        show_hint="0">
    <p><label style="color:#666"><input type="radio" name="target" id="target_blank" value="_blank"<mt:if name="target" eq="_blank"> checked="checked"</mt:if>/> <__trans phrase=" _blank - new window or tab."></label></p>
    <p><label style="color:#666"><input type="radio" name="target" id="target_top" value="_top"<mt:if name="target" eq="_top"> checked="checked"</mt:if>/> <__trans phrase=" _top - current window or tab, with no frames."></label></p>
    <p><label style="color:#666"><input type="radio" name="target" id="target_none" value=""<mt:unless name="target"> checked="checked"</mt:unless>/> <__trans phrase="none - same window or tab."></label></p>
    </mtapp:setting>
    <mtapp:setting
        id="rel"
        label="<__trans phrase="rel">"
        show_hint="0">
    <input type="text" name="rel" id="rel" class="full-width" value="<mt:var name="rel" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="image_address"
        label="<__trans phrase="Image URL">"
        show_hint="0">
    <input type="text" name="image_address" id="image_address" class="full-width" value="<mt:var name="image_address" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="rss_address"
        label="<__trans phrase="Rss URL">"
        show_hint="0">
    <input type="text" name="rss_address" id="rss_address" class="full-width" value="<mt:var name="rss_address" escape="html">" />
    <mt:if name="rssupdated_on"><div id="rss_more">(<__trans phrase="Last-Modified">:<mt:var name="rssupdated_on_date" escape="html"> <mt:var name="rssupdated_on_time" escape="html">)</div></mt:if>
    </mtapp:setting>
    <mtapp:setting
        id="rating"
        label="<__trans phrase="Rating">"
        show_hint="0">
        <select name="rating" id="rating">
            <mt:for var="__counter__" from="0" to="10">
            <option value="<mt:var name="__counter__">"<mt:if name="rating" eq="$__counter__"> selected="selected"</mt:if>><mt:var name="__counter__"></option>
            </mt:for>
        </select>
    </mtapp:setting>
    <mtapp:setting
        id="authored_on"
        label="<__trans phrase="Created On">"
        show_hint="0">
        <input type="text" name="authored_on_date" id="authored_on_date" style="width:7em;" class="text-date" value="<mt:var name="authored_on_date" escape="html">" />
        <input type="text" name="authored_on_time" id="authored_on_time" style="width:5.5em;" value="<mt:var name="authored_on_time" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="status"
        label="<__trans phrase="Status">"
        show_hint="0">
    <select name="status" id="status">
    <option value="1"<mt:if name="status" eq="1"> selected="selected"</mt:if>><__trans phrase="Draft"></option>
    <option value="2"<mt:unless name="status"> selected="selected"</mt:unless><mt:if name="status" eq="2"> selected="selected"</mt:if>><__trans phrase="Publishing"></option>
    </select>
    </mtapp:setting>
</fieldset>

<mt:if name="position_actions_bottom">
    <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1">
</mt:if>
</form>

<script type="text/javascript">
/* <![CDATA[ */
App.bootstrapInline( false );
jQuery( function() {
    jQuery( 'input.text-date' ).datepicker( {
        dateFormat: 'yy-mm-dd',
        dayNamesMin: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
        monthNames: ['-01', '-02', '-03', '-04', '-05', '-06', '-07', '-08', '-09', '-10', '-11', '-12'],
        showMonthAfterYear: true,
        prevText: '&lt;',
        nextText: '&gt;'
    } );
} );
function custom_insertHTML( html, target ) {
    var ed = Editor;
    ed.focus();
    ed.selection.moveToBookmark( ed.bookmark );
    ed.execCommand( 'mceInsertContent', false, html );
    //insert_at_caret( $( '#' + target ), html );
}
function insert_at_caret ( target, v ) {
    var area = target.get( 0 );
    area.focus();
    if ( jQuery.browser.msie ) {
        var r = document.selection.createRange();
        r.text = v;
        r.select();
    } else {
        var s = area.value;
        var p = area.selectionStart;
        var np = p + v.length;
        area.value = s.substr( 0, p ) + v + s.substr( p );
        area.setSelectionRange( np, np );
    }
}
function toggle_editor(sel, target) {
    var val = jQuery(sel).val();
    if ( val == 0 ) {
        tinymce_editor.show(target);
    } else if ( val == 1 ) {
        tinymce_editor.remove(target);
    }
}
/* ]]> */
</script>
<mt:include name="include/footer.tmpl">
</__trans_section>
