<__trans_section component="Link">
<mt:setvar name="page_title" value="<__trans phrase="Manage Links">">
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript">
var select_upload_file;
function file_select() {
    select_upload_file = 1;
}
function upload_csv() {
    if ( getByID( 'import_file' ).style.display === 'none' ) {
        getByID( 'import_file' ).style.display = 'inline';
        return false;
    }
    if ( select_upload_file == 1 ) {
        if ( window.confirm( '<__trans phrase="Are you sure you want to import link from CSV or OPML?">' ) ) {
            var form = getByID( 'upload_link' );
            form.submit();
        }
    } else {
        alert( '<__trans phrase="Please select a file to upload.">' );
    }
    return false;
}
</script>
</mt:setvarblock>
<mt:setvarblock name="system_msg">
    <mt:if name="saved_deleted">
        <mtapp:statusmsg
            id="saved-deleted"
            class="success">
                <__trans phrase="The Link has been deleted from the database.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="published">
        <mtapp:statusmsg
            id="saved-published"
            class="success"
            rebuild="all">
                <__trans phrase="The Link has been published.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="not_published">
        <mtapp:statusmsg
            id="saved-not_published"
            class="success">
                <__trans phrase="The Link has not been published.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="unpublished">
        <mtapp:statusmsg
            id="saved-unpublished"
            class="success"
            rebuild="all">
                <__trans phrase="The Link has been unpublished.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="not_unpublished">
        <mtapp:statusmsg
            id="saved-not_unpublished"
            class="success">
                <__trans phrase="The Link has not been unpublished.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="imported">
        <mtapp:statusmsg
            id="imported"
            class="success">
                <__trans phrase="The Link has been imported from File.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="not_imported">
        <mtapp:statusmsg
            id="not_imported"
            class="error">
                <__trans phrase="The Link has not been imported from File.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="not_broken">
        <mtapp:statusmsg
            id="not_broken"
            class="success">
                <__trans phrase="The broken Link was not found.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="broken">
        <mtapp:statusmsg
            id="broken"
            class="error">
                <mt:setvar name="message" value="">
                <mt:if name="broken_links">
                    <mt:setvarblock name="message" append="1"><mt:var name="broken_links"><__trans phrase=" Links"></mt:setvarblock>
                </mt:if>
                <mt:if name="broken_rsses">
                    <mt:setvarblock name="message" append="1"><mt:if name="message">, </mt:if><mt:var name="broken_rsses"><__trans phrase=" RSS"></mt:setvarblock>
                </mt:if>
                <mt:if name="broken_images">
                    <mt:setvarblock name="message" append="1"><mt:if name="message">, </mt:if><mt:var name="broken_images"><__trans phrase=" Images"></mt:setvarblock>
                </mt:if>
                <__trans phrase="The broken Link was found."> (<mt:var name="message">)
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>

<mt:setvarblock name="content_header">
    <ul class="action-link-list">
        <li><a href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<mt:var name="blog_id">&amp;_type=link" class="icon-left icon-create"><__trans phrase="Create Link"></a></li>
        <li style="margin-top:-4px;">
        <a href="javascript:void(0);" class="icon-left icon-create" onclick="return upload_csv()"><__trans phrase="Import from CSV or OPML"></a>
        <form enctype="multipart/form-data" method="post" style="display:inline" action="<mt:var name="mt_url">" id="upload_link">
        <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
        <input type="hidden" name="__mode" value="upload_link" />
        <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
        <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
        <span id="import_file" style="display:none;">
        <input onchange="file_select()" style="font-size:11px;" type="file" name="file" id="file" />
        </span>
        </form>
        &nbsp;&nbsp; <a href="<mt:var name="mt_url">?__mode=download_link_csv&amp;blog_id=<mt:var name="blog_id">&amp;magic_token=<mt:var name="magic_token">"><__trans phrase="Download CSV"></a>
        </li>
        </ul>
</mt:setvarblock>

<mt:setvarblock name="related_content">
    <mtapp:PageActions from="$mode">
</mt:setvarblock>

<mt:setvar name="options-class" value="absolute">

<mt:setvarblock name="html_body_footer">
    <mt:include name="include/display_options.tmpl">
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<style type="text/css">
</style>
<script type="text/javascript">
/* <![CDATA[ */
function enableFilterButton () {
    getByID( 'filter-button' ).style.display = 'inline';
}

function toggleFilter () {
    var filterActive = getByID( 'filter-title' );
    if ( filterActive.style.display === 'none' ) {
        filterActive.style.display = 'block';
        getByID ( 'filter-select' ) .style.display = "none";
    } else {
        filterActive.style.display = 'none';
        getByID ( 'filter-select' ) .style.display = "block";
    }
}

function setFilterCol ( choice ) {
    var sel = getByID ( 'filter-select-form' );
    if ( !sel ) return;
    var filters = [ 'author_id', 'status', 'rating', 'broken_link', 'exacttag' ];
    var fld = getByID( 'filter-col' );
    for ( var i = 0; i < filters.length; i++ ) {
        var filter_sel = getByID( 'filter-' + filters[ i ] );
        if ( filter_sel ) {
            if ( choice == filters[ i ] ) {
                filter_sel.style.display = 'inline';
                if ( fld ) {
                    fld.selectedIndex = i;
                }
            } else {
                filter_sel.style.display = 'none';
            }
        }
    }
    if ( choice === 'none' ) {
        var filter_sel = getByID( 'filter-' + filters[ 0 ] );
        filter_sel.style.display = 'inline';
    }
    col_span = getByID ( 'filter-text-col' );
    if ( choice != 'none' ) {
        if ( fld.selectedIndex > -1 && col_span ) {
            col_span.innerHTML =
                fld.options[fld.selectedIndex].text;
        }
    }
    if ( choice == 'exacttag' ) {
        getByID( 'filter-text-val' ).innerHTML = '<mt:var name="filter_val" escape="html">';
    }
}

var tableSelect;
function init()
{
    // setup
    tableSelect = new TC.TableSelect( "<mt:var name="object_type">-listing-table" );
    tableSelect.rowSelect = true;
    setFilterCol(<mt:if name="filter">'<mt:var name="filter" escape="js">'<mt:else>'none'</mt:if>);<mt:if name="filter">
    setFilterVal('<mt:var name="filter_val" escape="js">');
</mt:if>
}

TC.attachLoadEvent( init );

/* ]]> */
</script>
</mt:setvarblock>

<mt:setvarblock name="list_filter_form">
<form id="filter-form" method="get" action="<mt:var name="mt_url">">
    <input type="hidden" name="__mode" value="list_<mt:var name="object_type">" />
        <mt:if name="blog_id">
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
        </mt:if>
        <mt:if name="dialog_view">
    <input type="hidden" name="dialog_view" value="1" />
    <input type="hidden" name="dialog" value="1" />
    <input type="hidden" name="edit_field" value="<mt:var name="edit_field" escape="html">" />
    <input type="hidden" name="costomobject_select" value="1" />
        </mt:if>
    <input id="filter" type="hidden" name="filter" value="" />
    <input id="filter_val" type="hidden" name="filter_val" value="" />
</form>
<div class="listing-filter">
    <div class="listing-filter-inner inner pkg">
        <form id="filter-select-form" method="get" onsubmit="execFilter(this)">
            <div class="filter">
                <div id="filter-title" class="filter-title">
                <mt:unless name="filter_val">
                    <mt:unless name="query">
                        <strong><__trans phrase="All [_1]" params="<mt:var name="object_label_plural">"></strong>
                        <a href="javascript:void(0)" onclick="toggleFilter()" class="filter-link">[ <__trans phrase="change"> ]</a>
                    </mt:unless>
                <mt:else>
                <strong><mt:unless name="query">
                    <__trans phrase="[_1] where [_2] is [_3]" params='<mt:var name="object_label_plural">%%<span id="filter-text-col">&nbsp;</span>%%<span id="filter-text-val"></span>'>
                <mt:else>
                </mt:else>
                </mt:unless></strong>
                    <a href="<mt:var name="script_url">?__mode=<mt:var name="mode" escape="url"><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if><mt:if name="dialog_view">&amp;dialog_view=1&amp;dialog=1&amp;edit_field=<mt:var name="edit_field" escape="html">&amp;costomobject_select=1</mt:if>">[ <__trans phrase="Remove filter"> ]</a>
                </mt:unless>
                <mt:if name="query">
                    <__trans phrase="[_1] where [_2] contains [_3]" params='<mt:var name="object_label_plural">%%<mt:var name="search_col_label" escape="html">%%<mt:var name="query" escape="html">'>
                    <span id="filter-text-val" style="display:none"></span>
                    <span id="filter-text-col" style="display:none">&nbsp;</span>
                    <a href="javascript:void(0)" onclick="toggleFilter()" class="filter-link">[ <__trans phrase="change"> ]</a>
                </mt:if>
                </div>
        <mt:if name="dialog_view">
    <input type="hidden" name="dialog_view" value="1" />
    <input type="hidden" name="dialog" value="1" />
    <input type="hidden" name="edit_field" value="<mt:var name="edit_field" escape="html">" />
    <input type="hidden" name="costomobject_select" value="1" />
        </mt:if>

        <div id="filter-select" class="page-title" style="display: none">
            <!-- start filter form -->
                <select id="filter-col" name="filter" onchange="setFilterCol(this.options[this.selectedIndex].value);enableFilterButton(this)">
                    <option value="author_id"><__trans phrase="Author"></option>
                    <option value="status"><__trans phrase="Status"></option>
                    <option value="rating"><__trans phrase="Rating"></option>
                    <option value="broken_link"><__trans phrase="Link"></option>
                    <option value="exacttag" style="display:none"><__trans phrase="Tags"></option>
                </select>
                <__trans phrase="is">
                <span id="filter-author_id" style="display: none">
                    <select id="author_id-val" name="filter_val" onchange="enableFilterButton()">
                        <mt:loop name="author_loop">
                            <option value="<mt:var name="author_id">"><mt:var name="author_name" escape="html"></option>
                        </mt:loop>
                    </select>
                </span>
                <span id="filter-status" style="display: none">
                    <select id="status-val" name="filter_val" onchange="enableFilterButton()">
                        <option value="1"><__trans phrase="Draft"></option>
                        <option value="2"><__trans phrase="Publishing"></option>
                    </select>
                </span>
                <span id="filter-rating" style="display: none">
                    <select id="rating-val" name="filter_val" onchange="enableFilterButton()">
                        <mt:for var="__counter__" from="0" to="10">
                            <option value="<mt:var name="__counter__">"><mt:var name="__counter__"></option>
                        </mt:for>
                    </select>
                </span>
                <span id="filter-broken_link" style="display: none">
                    <select id="broken_link-val" name="broken_link" onchange="enableFilterButton()">
                        <option value="0"><__trans phrase="Active Link"></option>
                        <option value="1"><__trans phrase="Broken Link"></option>
                    </select>
                </span>
                <span id="filter-exacttag" style="display: none">
                    <select id="exacttag-val" name="filter_val" onchange="enableFilterButton()">
                        <mt:loop name="tag_loop">
                            <option value="<mt:var name="tag_name" escape="html">"><mt:var name="tag_name" escape="html"></option>
                        </mt:loop>
                    </select>
                </span>
            <span class="buttons">
                <button
                    class="button"
                    id="filter-button"
                    onclick="return execFilter(getByID('filter-select-form'))"
                    type="submit"
                    ><__trans phrase="Filter"></button>
                <button
                    class="button"
                    onclick="toggleFilter(); return false;"
                    type="submit"
                    ><__trans phrase="Cancel"></button>
            </span>
            </div>
            </div>
        </form>
    </div>
</div>
</mt:setvarblock>

<mt:if name="dialog_view">
<mt:include name="dialog/header.tmpl">
<mt:else>
<mt:include name="include/header.tmpl">
</mt:else>
</mt:if>
<mt:var name="list_filter_form">
<mt:if name="dialog_view">
<mt:include name="dialog/link_table.tmpl">
<mt:include name="dialog/footer.tmpl">
<mt:else>
<mt:include name="include/link_table.tmpl">
<mt:include name="include/footer.tmpl">
</mt:else>
</mt:if>
</__trans_section>
