id  : <mt:var name="plugin_id">
key : <mt:var name="class">
name: <mt:var name="plugin_id">
version: <mt:var name="plugin_version">
description: <mt:var name="desc_prefix"><mt:var name="description"><mt:var name="desc_suffix">
system_config_template: customobject_config.tmpl
blog_config_template: customobject_config.tmpl
l10n_class: <mt:var name="plugin_id">::L10N
archive_types:
    <mt:var name="plugin_id">: ArchiveType::<mt:var name="plugin_id">
    Folder<mt:var name="plugin_id">: ArchiveType::Folder<mt:var name="plugin_id">
rebuild_options:
    <mt:var name="plugin_id">:
        code: $customobject::ArchiveType::CustomObject::rebuild_archive
    Folder<mt:var name="plugin_id">:
        code: $customobject::ArchiveType::FolderCustomObject::rebuild_archive
listing_screens:
    <mt:var name="class">:
        object_label: <mt:var name="plugin_id">
        primary: name
        default_sort_key: name
        condition: $customobject::CustomObject::Plugin::_customobject_permission
        view:
            - website
            - blog
            - system
    <mt:var name="class">group:
        object_label: <mt:var name="plugin_id"> Group
        primary: name
        default_sort_key: name
        condition: $customobject::CustomObject::Plugin::_customobject_permission
        view:
            - website
            - blog
            - system
system_filters:
    tag: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::system_filters_tag
    <mt:var name="class">: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::system_filters_<mt:var name="class">
    <mt:var name="class">group: $customobject::CustomObject::Listing::system_filters_group
list_properties:
    tag: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::list_props_tag
    <mt:var name="class">: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::list_props
    <mt:var name="class">group: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::list_group_props
list_actions:
    <mt:var name="class">: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::list_actions
    <mt:var name="class">group: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::list_group_actions
content_actions:
    <mt:var name="class">: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::content_actions
custom_objects:
    <mt:var name="class">:
        id: <mt:var name="plugin_id">
        archive_types:
            - <mt:var name="plugin_id">
            - Folder<mt:var name="plugin_id">
permissions:
    blog.manage_<mt:var name="class">:
        label: Manage <mt:var name="plugin_id">
        group: auth_pub
        order: 1100
    blog.manage_<mt:var name="class">group:
        label: Manage <mt:var name="plugin_id"> Groups
        group: blog_admin
        order: 2200
settings:
    menu_order:
        Default: <mt:var name="menu_order">
    field_order:
    display_options:
    is_active:
        Default: 1
    default_period:
        Default: 30
    status_draft:
        Default: 1
    status_review:
        Default: 0
    status_publishing:
        Default: 1
    status_future:
        Default: 1
    status_closed:
        Default: 1
    default_status:
        Default: 1
    use_wysiwyg:
        Default: 0
    editor_style_css:
        Default: '<<mt:var name="tag_prefix">StaticWebPath>plugins/TinyMCE/css/editor_style.css'
    theme_advanced_buttons1:
        Default: bold,|,justifyleft,justifycenter,justifyright,|,bullist,|,forecolor,|,indent,outdent,|,link,unlink,formatselect,|,anchor,|,pasteword,|,code,|,mt-image,mt-file,|,fullscreen
    theme_advanced_buttons2:
    theme_advanced_buttons3:
    theme_advanced_buttons4:
    theme_advanced_buttons5:
    default_module_mtml:
    label_en:
        Default: <mt:var name="plugin_id">
    label_ja:
    label_plural:
        Default: <mt:var name="plural">
customfield_objects:
    <mt:var name="class">:
        context:
            - system
            - website
            - blog
        order: 10000
object_types:
    <mt:var name="class">: <mt:var name="plugin_id">::<mt:var name="plugin_id">
    <mt:var name="class">group: <mt:var name="plugin_id">::<mt:var name="plugin_id">Group
callbacks:
    MT::App::CMS::template_param.edit_<mt:var name="class">: $customobject::CustomObject::Plugin::_edit_customobject
    cms_post_save.<mt:var name="class">: CustomFields::App::CMS::CMSPostSave_customfield_objs
    cms_save_filter.<mt:var name="class">: $customobject::CustomObject::Plugin::_cb_cmssavefilter_customfield_objs
    MT::App::CMS::pre_run: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::_pre_run
    cms_pre_save.<mt:var name="class">: $customobject::CustomObject::Plugin::_cms_pre_save_customobject
    cms_delete_permission_filter.<mt:var name="class">: $customobject::CustomObject::Plugin::_cms_pre_save_customobject
    cms_pre_load_filtered_list.<mt:var name="class">: $customobject::CustomObject::Listing::_cms_pre_load_filtered_list
    cms_pre_load_filtered_list.<mt:var name="class">group: $customobject::CustomObject::Listing::_cms_pre_load_filtered_list_group
applications:
    cms:
        menus:
            <mt:var name="class">:
                label: <mt:var name="plugin_id">
                order: <mt:var name="menu_order">
            <mt:var name="class">:list_customobject:
                label: Manage
                mode: list
                order: 1
                view:
                    - website
                    - blog
                    - system
                condition: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::_menu_permission
                args:
                    _type: <mt:var name="class">
                    class: <mt:var name="class">
                    blog_id: 0
            <mt:var name="class">:create_customobject:
                label: New
                mode: view
                args:
                    _type: customobject
                    class: <mt:var name="class">
                order: 2
                view:
                    - website
                    - blog
                condition: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::_menu_permission
            <mt:var name="class">:list_customobjectgroup:
                label: Manage Groups
                mode: list
                args:
                    _type: <mt:var name="class">group
                    class: <mt:var name="class">group
                    blog_id: 0
                order: 3
                view:
                    - website
                    - blog
                    - system
                condition: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::_group_menu_permission
            <mt:var name="class">:create_customobjectgroup:
                label: Create Group
                mode: view
                args:
                    _type: customobjectgroup
                    class: <mt:var name="class">group
                order: 4
                view:
                    - website
                    - blog
                condition: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::_group_menu_permission
            <mt:var name="class">:edit_tags:
                label: Tags
                mode: list
                args:
                    _type: tag
                    filter_key: <mt:var name="class">
                order: 5
                view:
                    - website
                    - blog
                permission: edit_tags
                condition: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::_menu_permission
        compose_menus:
            <mt:var name="class">:
                label: <mt:var name="plugin_id">
                order: 1010
                mode: view
                args:
                    _type: customobject
                    class: <mt:var name="class">
                view:
                    - website
                    - blog
                condition: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::_menu_permission
customfield_types: $<mt:var name="class">::<mt:var name="plugin_id">::Plugin::_customfield_types
