package ArchiveType::Folder<mt:var name="plugin_id">;

use strict;
use base qw( ArchiveType::FolderCustomObject );

sub name {
    return 'Folder<mt:var name="plugin_id">';
}

sub default_archive_templates {
    return [
        {   label    => 'folder_path/<mt:var name="class">/index.html',
            template => '%c/<mt:var name="class">/%i',
            default  => 1
        },
    ];
}

sub archive_label {
    my $plugin = MT->component( '<mt:var name="plugin_id">' );
    return $plugin->translate( 'Folder-<mt:var name="plugin_id">' );
}

sub template_params {
    return {
        archive_class         => 'folder-<mt:var name="class">-archive',
        customobject_class    => '<mt:var name="class">',
        folder_customobject_archive => 1,
        archive_template      => 1,
    };
}

sub archive_group_iter {}
sub archive_group_entries {}
sub archive_entries_count { return 0; }

1;