package <mt:var name="plugin_id">::<mt:var name="plugin_id">;
use strict;

use base qw( CustomObject::CustomObject );

__PACKAGE__->install_properties( {
    class_type => '<mt:var name="class">',
    child_of => 'MT::Blog',
} );

MT->add_callback( 'api_pre_save.' . '<mt:var name="class">',
    1, undef, \&MT::Revisable::mt_presave_obj );
MT->add_callback( 'cms_pre_save.' . '<mt:var name="class">',
    1, undef, \&MT::Revisable::mt_presave_obj );
MT->add_callback( 'api_post_save.' . '<mt:var name="class">',
    9, undef, \&MT::Revisable::mt_postsave_obj );
MT->add_callback( 'cms_post_save.' . '<mt:var name="class">',
    9, undef, \&MT::Revisable::mt_postsave_obj );

__PACKAGE__->add_callback( 'post_remove', 0, MT->component('core'),
    \&MT::Revisable::mt_postremove_obj );

sub plugin {
    return MT->component( '<mt:var name="plugin_id">' );
}

sub config_plugin {
    return MT->component( '<mt:var name="plugin_id">' );
}

sub class_label {
    my $plugin = MT->component( '<mt:var name="plugin_id">' );
    return $plugin->translate( '<mt:var name="plugin_id">' );
}

sub class_label_plural {
    my $plugin = MT->component( '<mt:var name="plugin_id">' );
    return $plugin->translate( '<mt:var name="plural">' );
}

sub class_plural {
    return '<mt:var name="plural">';
}

sub group_label {
    my $plugin = MT->component( '<mt:var name="plugin_id">' );
    return $plugin->translate( '<mt:var name="plugin_id"> Group' );
}

sub group_label_plural {
    my $plugin = MT->component( '<mt:var name="plugin_id">' );
    return $plugin->translate( '<mt:var name="plugin_id"> Groups' );
}

1;