    <mtapp:setting
        id="throttle"
        label="<__trans phrase="Throttle">">
    <ul>
    <li><input type="text" id="throttle" name="throttle" value="<mt:var name="throttle" escape="html">" /></li>
    </ul>
    </mtapp:setting>

<h5 class="plugin-name"><__trans phrase="Template"></h5>
    <mtapp:setting
        id="template_type_text"
        label="<__trans phrase="text">">
    <ul>
    <li>
    <textarea id="template_type_text" name="template_type_text"><mt:var name="template_type_text" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="template_type_textarea"
        label="<__trans phrase="textarea">">
    <ul>
    <li>
    <textarea id="template_type_textarea" name="template_type_textarea"><mt:var name="template_type_textarea" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="template_type_checkbox"
        label="<__trans phrase="checkbox">">
    <ul>
    <li>
    <textarea id="template_type_checkbox" name="template_type_checkbox"><mt:var name="template_type_checkbox" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="template_type_select"
        label="<__trans phrase="select">">
    <ul>
    <li>
    <textarea id="template_type_select" name="template_type_select"><mt:var name="template_type_select" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="template_type_radio"
        label="<__trans phrase="radio">">
    <ul>
    <li>
    <textarea id="template_type_radio" name="template_type_radio"><mt:var name="template_type_radio" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="template_type_checkbox-multiple"
        label="<__trans phrase="checkbox-multiple">">
    <ul>
    <li>
    <textarea id="template_type_checkbox-multiple" name="template_type_checkbox-multiple"><mt:var name="template_type_checkbox-multiple" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="template_type_select-multiple"
        label="<__trans phrase="select-multiple">">
    <ul>
    <li>
    <textarea id="template_type_select-multiple" name="template_type_select-multiple"><mt:var name="template_type_select-multiple" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="template_type_date"
        label="<__trans phrase="date">">
    <ul>
    <li>
    <textarea id="template_type_date" name="template_type_select-multiple"><mt:var name="template_type_date" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>