<__trans_section component="ContactForm"><mt:if name="template_type" eq="mail_admin"><__trans phrase="New feedback for '[_1] (Blog:[_2])' was accepted." params="<$mt:var name="form_name"$>%%<$mt:BlogName$>"><mt:else><__trans phrase="This Message has been posted for [_1] - [_2]" params="<$mt:BlogName$>%%<mt:var name="form_name">"></mt:else></mt:if>

<mt:if name="template_type" eq="mail_admin"><mt:if name="feedback_status" eq="1"><__trans phrase="A feedback has been unapproved."><mt:elseif name="feedback_status" eq="2"><__trans phrase="A feedback has been approved."><mt:else><__trans phrase="A feedback has been flagged."></mt:else></mt:if>

<__trans phrase="View Feedback">:
<$mt:admincgipath$><$mt:adminscript$>?__mode=view&_type=feedback&id=<$mt:var name="feedback_id" encode_url="1"$>&blog_id=<$mt:BlogID$><mt:else><__trans phrase="Posted Data">:</mt:else></mt:if>

<__trans phrase="IP    :"> <$mt:var name="feedback_remote_ip"$>
<__trans phrase="Email :"> <$mt:var name="feedback_email"$>

<__trans phrase="Feedback">:
<mt:if name="field_loop">--------------<mt:loop name="field_loop"><mtif name="field_type" ne="emailcheck">
<$mt:var name="field_label"$>:
<mt:if name="field_type" eq="date"><$mt:var name="field_value" format_ts="1" replace=" 00:00",""$><mt:elseif name="field_type" eq="date-and-time"><$mt:var name="field_value" format_ts="1"$><mt:else><$mt:var name="field_value"$></mt:else></mt:if>
--------------</mt:if></mt:loop></mt:if>
-- 
Powered by Movable Type</__trans_section>