<__trans_section component="ContactForm">
<mt:setvarblock name="page_title"><mt:if name="id">
<__trans phrase="Edit Form Element"> (<mt:var name="name" escape="html">)
<mt:else>
<__trans phrase="Create Form Element">
</mt:else></mt:if>
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" href="<$mt:var name="static_uri"$>addons/ContactForm.pack/css/edit_contactform.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
<script type="text/javascript" src="<mt:var name="static_uri">addons/ContactForm.pack/js/contact_form.js"></script>
</mt:setvarblock>
<mt:setvar name="position_actions_bottom" value="1">
<mt:setvarblock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
           id="saved"
            class="success">
            <__trans phrase="Your changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:setvartemplate name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save this Form Element (s)">"
        class="save action primary-button primary button"
        ><__trans phrase="Save"></button>
    <mt:if name="id">
    <button
        onclick="
        if ( window.confirm( '<__trans phrase="Are you sure you want to remove this Form Element?">' ) ) {
            getByID( 'this_mode' ).value='delete';
<mt:if tag="version" like="/^5\.0/">
            getByID( 'this_return_args' ).value='__mode=list_contactform&amp;blog_id=<mt:var name="blog_id">';
<mt:else>
            getByID( 'this_return_args' ).value='__mode=list&amp;_type=contactform&amp;blog_id=<mt:var name="blog_id">';
</mt:if>
            this.form.submit();
        } else {
            return false;
        }
        "
        type="submit"
        accesskey="x"
        title="<__trans phrase="Delete this Form Element (x)">"
        class="delete action button"
        ><__trans phrase="Delete"></button>
    </mt:if>
</mt:setvartemplate>
<mt:setvarblock name="related_content">
    <mtapp:PageActions>
</mt:setvarblock>

<mt:setvarblock name="object_nav">
    <ul class="object-nav">
        <li id="previous-link"><mt:if name="previous_contactform_id"><a href="<mt:var name="script_url">?__mode=view&amp;_type=contactform&amp;id=<mt:var name="previous_contactform_id" escape="url">&amp;blog_id=<mt:var name="blog_id" escape="url">"><__trans phrase="Previous"></a><mt:else><span><__trans phrase="Previous"></span></mt:if></li>
        <li id="next-link"><mt:if name="next_contactform_id"><a href="<mt:var name="script_url">?__mode=view&amp;_type=contactform&amp;id=<mt:var name="next_contactform_id" escape="url">&amp;blog_id=<mt:var name="blog_id" escape="url">"><__trans phrase="Next"></a><mt:else><span><__trans phrase="Next"></span></mt:if></li>
    </ul>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<form method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="id" value="<mt:var name="id" escape="html">" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id" escape="html">" />
    <input type="hidden" name="__mode" id="this_mode" value="save" />
    <input type="hidden" name="action_name" value="" />
    <input type="hidden" name="itemset_action_input" value="" />
    <input type="hidden" name="_type" value="contactform" />
    <input type="hidden" name="class" value="contactform" />
    <input type="hidden" name="return_args" id="this_return_args" value="<mt:var name="return_args" escape="html">" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<mt:if name="position_actions_top">
    <mt:include name="include/actions_bar.tmpl" bar_position="top" hide_pager="1">
</mt:if>
<fieldset>
    <MTIgnore><h3><mt:var name="page_title"></h3></MTIgnore>
    <mtapp:setting
        id="name"
        required="1"
        label="<__trans phrase="Name">"
        show_hint="0">
    <input type="text" name="name" id="name" class="text full-width" value="<mt:var name="name" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="type"
        label="<__trans phrase="Type">"
        show_hint="0">
        <select name="type" id="type">
            <mt:loop name="contactforms_loop">
                <option value="<mt:var name="field_key">"<mt:if name="type" eq="$field_key"> selected="selected"</mt:if>><mt:var name="field_label"></option>
            </mt:loop>
        </select>
        <mt:if name="id">
            <div class="hint"><__trans phrase="To change the type, templates are initialized."></div>
        </mt:if>
    </mtapp:setting>
    <mtapp:setting
        id="options"
        label="<__trans phrase="Options">"
        hint="<__trans phrase="Please enter all allowable options for this field as a comma delimited list">"
        show_hint="1">
    <input type="text" name="options" id="options" class="text full-width" value="<mt:var name="options" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="size"
        label="<__trans phrase="Size of Drop Down Menu">">
    <input type="text" name="size" id="size" class="text num" value="<mt:var name="size" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="default"
        label="<__trans phrase="Default">"
        show_hint="0">
    <input type="text" name="default" id="default" class="text full-width" value="<mt:var name="default" escape="html">" />
    </mtapp:setting>
    <mtapp:setting
        id="required"
        label="<__trans phrase="Required">"
        show_hint="0">
        <p class=""><label><input type="checkbox" name="required" id="required"<mt:if name="required"> checked="checked"</mt:if> value="1" />
        <__trans phrase="Must the user enter data into this field before the object may be saved?"></label>
        <input type="hidden" name="required" value="0" /></p>
    </mtapp:setting>
    <mtapp:setting
        id="validate"
        label="<__trans phrase="Validate">"
        show_hint="0">
        <p class=""><label><input type="checkbox" name="validate" id="validate"<mt:if name="validate"> checked="checked"</mt:if> value="1" />
        <__trans phrase="Verify this field?"></label>
        <input type="hidden" name="validate" value="0" /></p>
    </mtapp:setting>
    <mtapp:setting
        id="normalize"
        label="<__trans phrase="Normalize">"
        show_hint="0">
        <label><input type="checkbox" name="normalize" id="normalize"<mt:if name="normalize"> checked="checked"</mt:if> value="1" />
        <__trans phrase="To normalize the input data?"></label>
        <input type="hidden" name="normalize" value="0" /></p>
    </mtapp:setting>
    <mtapp:setting
        id="check_length"
        label="<__trans phrase="Max Length">"
        show_hint="0">
        <p class="">
        <label><input type="checkbox" name="check_length" id="check_length"<mt:if name="check_length"> checked="checked"</mt:if> value="1" />
        <__trans phrase="Specify Max Length"></label>
        <label>&nbsp;&nbsp;<__trans phrase="Number of characters"> : <input type="text" name="max_length" value="<mt:var name="max_length">" class="text num" style="width:55px" /></label>
        <input type="hidden" name="check_length" value="0" />
        <label>&nbsp;&nbsp;<input type="checkbox" name="count_multibyte" id="count_multibyte"<mt:if name="count_multibyte"> checked="checked"</mt:if> value="1" />
        <__trans phrase="Count Multi-byte characters"></label>
        <input type="hidden" name="count_multibyte" value="0" />
        </p>
    </mtapp:setting>
    <mtapp:setting
        id="description"
        label="<__trans phrase="Description">"
        show_hint="0">
    <textarea name="description" id="description" style="height:70px" class="text full-width"><mt:var name="description" escape="html"></textarea>
    </mtapp:setting>
    <mt:if name="id">
    <mtapp:setting
        id="html"
        label="<__trans phrase="Template">"
        show_hint="0">
    <textarea name="mtml" id="mtml" style="height:180px" class="text full-width"><mt:var name="mtml" escape="html"></textarea>
    </mtapp:setting>
    </mt:if>
    <mtapp:setting
        id="basename"
        label="<__trans phrase="basename">"
        show_hint="0">
    <input type="text" name="basename" id="basename" class="text full-width" value="<mt:var name="basename" escape="html">" />
    </mtapp:setting>
    <input type="hidden" name="status" value="2" />
</fieldset>

<mt:if name="position_actions_bottom">
    <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1">
</mt:if>
</form>

<script type="text/javascript">
App.bootstrapInline( false );
jQuery( function() {
    jQuery( 'input.text-date' ).datepicker( {
        dateFormat: 'yy-mm-dd',
        dayNamesMin: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
        monthNames: ['-01','-02','-03','-04','-05','-06','-07','-08','-09','-10','-11','-12'],
        showMonthAfterYear: true,
        prevText: '&lt;',
        nextText: '&gt;'
    } );
} );
jQuery(function() {
    jQuery('fieldset').contactForm({
        defaultValue: '<mt:var name="default" escape="javascript">',
        selectSize: '<mt:var name="size" escape="javascript">'
    });
});
jQuery(function() {
    jQuery('button.save').click(function() {
        var name = jQuery( '#name' ).val();
        if ( name == '' ) {
            alert( '<__trans phrase="Form Element requires Name.">' );
            return false;
        }
        return true;
    });
});

function custom_insertHTML( html, target ) {
    var ed = Editor;
    ed.focus();
    ed.selection.moveToBookmark( ed.bookmark );
    ed.execCommand( 'mceInsertContent', false, html );
    //insert_at_caret( $( '#' + target ), html )
}
function insert_at_caret ( target, v ) {
    var area = target.get( 0 );
    area.focus();
    if ( jQuery.browser.msie ) {
        var r = document.selection.createRange();
        r.text = v;
        r.select();
    } else {
        var s = area.value;
        var p = area.selectionStart;
        var np = p + v.length;
        area.value = s.substr( 0, p ) + v + s.substr( p );
        area.setSelectionRange( np, np );
    }
}
function toggle_editor( sel ) {
    if ( sel.selectedIndex == 0 ) {
        init_mce();
    } else if ( sel.selectedIndex == 1 ) {
        Editor.remove();
    }
}
</script>
<mt:include name="include/footer.tmpl">
</__trans_section>
