<__trans_section component="ContactForm">
<mt:setvar name="page_title" value="<__trans phrase="Manage Form Elements">">
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript">
var select_csv;
function file_select() {
    select_csv = 1;
    getByID( 'send_csv' ).style.display = 'inline';
}
function upload_csv() {
    if ( getByID( 'csv' ).style.display == 'none' ) {
        getByID( 'csv' ).style.display = 'inline';
        return false;
    }
    if ( select_csv == 1 ) {
        if ( window.confirm( '<__trans phrase="Are you sure you want to import Form from CSV?">' ) ) {
            var form = getByID( 'upload_contactform_csv' );
            form.submit();
        }
    } else {
        alert( '<__trans phrase="Please select a file to upload.">' );
    }
    return false;
}
</script>
</mt:setvarblock>
<mt:setvarblock name="system_msg">
    <mt:if name="saved_deleted">
        <mtapp:statusmsg
            id="saved-deleted"
            class="success">
                <__trans phrase="The Form Elements has been deleted from the database.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="imported">
        <mtapp:statusmsg
            id="imported"
            class="success">
                <__trans phrase="The Form Elements has been imported from CSV.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="not_imported">
        <mtapp:statusmsg
            id="not_imported"
            class="error">
                <__trans phrase="The Form Elements has not been imported from CSV.">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>

<mt:setvarblock name="content_header">
    <ul class="action-contactform-list" style="margin-bottom:0.5em;">
        <li style="display:inline"><a href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<mt:var name="blog_id">&amp;_type=contactform" class="icon-left icon-create"><__trans phrase="Create Form Element"></a>&nbsp;&nbsp; </li>
        <li style="display:inline">
        <a href="javascript:void(0);" class="icon-left icon-create" onclick="return upload_csv()"><__trans phrase="Import from CSV"></a>
        <form method="post" style="display:inline" action="<mt:var name="mt_url">" enctype="multipart/form-data" id="upload_contactform_csv">
        <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
        <input type="hidden" name="__mode" value="upload_contactform_csv" />
        <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
        <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
        <span id="csv" style="display:none;">
        <input onchange="file_select()" style="font-size:11px;" type="file" name="file" id="file" />
        <a href="javascript:void(0)" style="display:none" id="send_csv" onclick="return upload_csv()"><__trans phrase="Send"></a>
        &nbsp;&nbsp; </span>
        </form>
        &nbsp;&nbsp; </li>
        <li style="display:inline"><a class="icon-left icon-create" href="<mt:var name="mt_url">?__mode=download_contactform_csv&amp;blog_id=<mt:var name="blog_id">&amp;magic_token=<mt:var name="magic_token">"><__trans phrase="Download CSV"></a>
        </li>
    </ul>
</mt:setvarblock>

<mt:setvarblock name="related_content">
    <mtapp:PageActions from="$mode">
</mt:setvarblock>

<mt:setvar name="options-class" value="absolute">

<mt:setvarblock name="html_body_footer">
    <mt:include name="include/display_options.tmpl">
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<style type="text/css">
</style>
<script type="text/javascript">
function enableFilterButton () {
    getByID( 'filter-button' ).style.display = 'inline';
}

function toggleFilter () {
    var filterActive = getByID( 'filter-title' );
    if ( filterActive.style.display == 'none' ) {
        filterActive.style.display = 'block';
        getByID ( 'filter-select' ) .style.display = "none";
    } else {
        filterActive.style.display = 'none';
        getByID ( 'filter-select' ) .style.display = "block";
    }
}

function setFilterCol ( choice ) {
    var sel = getByID ( 'filter-select-form' );
    if ( !sel ) return;
    var filters = [ 'author_id', 'type' ];
    //var filters = [  ];
    var fld = getByID( 'filter-col' );
    for ( var i = 0; i < filters.length; i++ ) {
        var filter_sel = getByID( 'filter-' + filters[ i ] );
        if ( filter_sel ) {
            if ( choice == filters[ i ] ) {
                filter_sel.style.display = 'inline';
                if ( fld ) {
                    fld.selectedIndex = i;
                }
            } else {
                filter_sel.style.display = 'none';
            }
        }
    }
    if ( choice == 'none' ) {
        var filter_sel = getByID( 'filter-' + filters[ 0 ] );
        filter_sel.style.display = 'inline';
    }
    col_span = getByID ( 'filter-text-col' );
    if ( choice != 'none' ) {
        if ( fld.selectedIndex > -1 && col_span ) {
            col_span.innerHTML =
                fld.options[fld.selectedIndex].text;
        }
    }
}
var tableSelect;
function init()
{
    // setup
    tableSelect = new TC.TableSelect( "<mt:var name="object_type">-listing-table" );
    tableSelect.rowSelect = true;
    setFilterCol(<mt:if name="filter">'<mt:var name="filter" escape="js">'<mt:else>'none'</mt:if>);<mt:if name="filter">
    setFilterVal('<mt:var name="filter_val" escape="js">');
</mt:if>
}
TC.attachLoadEvent( init );
</script>
</mt:setvarblock>

<mt:setvarblock name="list_filter_form">
<form id="filter-form" method="get" action="<mt:var name="mt_url">">
    <input type="hidden" name="__mode" value="list_<mt:var name="object_type">" />
        <mt:if name="blog_id">
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
        </mt:if>
    <input id="filter" type="hidden" name="filter" value="" />
    <input id="filter_val" type="hidden" name="filter_val" value="" />
        <mt:if name="dialog_view">
    <input type="hidden" name="dialog_view" value="1" />
    <input type="hidden" name="edit_field" value="<mt:var name="edit_field" escape="html">" />
    <input type="hidden" name="contantform_select" value="1" />
    <input type="hidden" name="dialog" value="1" />
        </mt:if>
</form>
<div class="listing-filter">
    <div class="listing-filter-inner inner pkg">
        <form id="filter-select-form" method="get" onsubmit="execFilter(this)">
            <div class="filter">
                <div id="filter-title" class="filter-title">
                <mt:unless name="filter">
                <mt:unless name="query">
                    <strong><__trans phrase="All [_1]" params="<mt:var name="object_label_plural">"></strong>
                    <a href="javascript:void(0)" onclick="toggleFilter()" class="filter-link">[ <__trans phrase="change"> ]</a>
                <mt:else>
                    <strong><__trans phrase="[_1] where name contains [_2]" params='<mt:var name="object_label_plural">%%<mt:var name="query" escape="html">'></strong>
                    <a href="<mt:var name="script_url">?__mode=<mt:var name="mode" escape="url"><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if><mt:if name="dialog_view">&amp;dialog_view=1&amp;edit_field=<mt:var name="edit_field" escape="url">&amp;costomobject_select=1&amp;dialog=1</mt:if>">[ <__trans phrase="Remove filter"> ]</a>
                </mt:unless>
                <mt:else>
                <strong>
                    <__trans phrase="[_1] where [_2] is [_3]" params='<mt:var name="object_label_plural">%%<span id="filter-text-col">&nbsp;</span>%%<span id="filter-text-val"></span>'>
                </strong>
                    <a href="<mt:var name="script_url">?__mode=<mt:var name="mode" escape="url"><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if><mt:if name="dialog_view">&amp;dialog_view=1&amp;edit_field=<mt:var name="edit_field" escape="url">&amp;costomobject_select=1&amp;dialog=1</mt:if>">[ <__trans phrase="Remove filter"> ]</a>
                </mt:unless>
                </div>
        <div id="filter-select" class="page-title" style="display: none">
            <!-- start filter form -->
                <select id="filter-col" name="filter" onchange="setFilterCol(this.options[this.selectedIndex].value);enableFilterButton(this)">
                    <option value="author_id"><__trans phrase="Author"></option>
                    <option value="type"><__trans phrase="Type"></option>
                </select>
                <__trans phrase="is">
                <span id="filter-author_id" style="display: none">
                    <select id="author_id-val" name="filter_val" onchange="enableFilterButton()">
                        <mt:loop name="author_loop">
                            <option value="<mt:var name="author_id">"><mt:var name="author_name" escape="html"></option>
                        </mt:loop>
                    </select>
                </span>
                <span id="filter-type" style="display: none">
                <select id="type-val" name="filter_val" onchange="enableFilterButton()">
                    <mt:loop name="contactforms_loop">
                        <option value="<mt:var name="field_key">"<mt:if name="type" eq="$field_key"> selected="selected"</mt:if>><mt:var name="field_label"></option>
                    </mt:loop>
                </select>
                </span>
            <span class="buttons">
                <button
                    id="filter-button"
                    onclick="return execFilter(getByID('filter-select-form'))"
                    type="submit"
                    ><__trans phrase="Filter"></button>
                <button
                    onclick="toggleFilter(); return false;"
                    type="submit"
                    ><__trans phrase="Cancel"></button>
            </span>
            </div>
            </div>
        </form>
    </div>
</div>
</mt:setvarblock>
<mt:if name="dialog_view">
<mt:include name="dialog/header.tmpl">
<mt:else>
<mt:include name="include/header.tmpl">
</mt:else>
</mt:if>
<mt:var name="list_filter_form">
<mt:include name="include/contactform_table.tmpl">
<mt:if name="dialog_view">
<mt:include name="dialog/footer.tmpl">
<mt:else>
<mt:include name="include/footer.tmpl">
</mt:else>
</mt:if>
</__trans_section>
