    <mt:IfContactFormIsOpen>
        <mt:If name="template_type" eq="submit">
        <mt:If name="__first__">
            <p class="contact-form-information"><$mt:FeedbackThanksMessage nl2br="xhtml"$></p>
        </mt:If>
        <mt:Else>
        <mt:If name="__first__">
            <mt:unless name="template_type">
                <$mt:setVar name="template_type" value="view"$>
            </mt:unless>
        <div id="contactform">
            <p class="contact-form-information">
            <mt:If name="confirm_ok">
                <$mt:FeedbackConfirmMessage nl2br="xhtml"$>
            <mt:Else>
                <mt:If name="template_type" eq="view">
                <$mt:FeedbackInformationMessage nl2br="xhtml"$>
                <mt:ElseIf name="template_type" eq="confirm">
                <$mt:FeedbackErrorMessage nl2br="xhtml"$>
                </mt:If>
            </mt:If>
            </p>
        <form action="<mt:if name="config.ContactFormCGIPath"><$mt:Var name="config.ContactFormCGIPath"$><mt:else><$mt:CGIPath$></mt:if><$mt:ContactFormScript$>" method="post"<mt:if name="config.ContactFormAllowUploadFile"> enctype="multipart/form-data"</mt:if>>
        <mt:if name="mode" eq="confirm">
            <input type="hidden" name="sessid" value="<$MTGetVar name="request.sessid" escape="html"$>" />
        <mt:else>
            <input type="hidden" name="sessid" value="<MTIfDynamic><$MTGetVar name="request.sessid" escape="html"$><MTElse><MTIfBlogDynamicMTML><mtml tag="MTGetVar" params='name="request.sessid" escape="html"'></MTIfBlogDynamicMTML></MTIfDynamic>" />
        </mt:if>
            <input type="hidden" name="__mode" value="<mt:If name="confirm_ok">submit<mt:Else>confirm</mt:If>" />
        <mt:If name="template_type" eq="confirm">
            <input type="hidden" name="id" value="<mt:Var name="id" escape="html">" />
            <input type="hidden" name="blog_id" value="<mt:Var name="blog_id" escape="html">" />
            <input type="hidden" name="model" value="<mt:Var name="model" escape="html">" />
            <input type="hidden" name="object_id" value="<mt:Var name="object_id" escape="html">" />
            <input type="hidden" name="identifier" value="<mt:Var name="identifier" escape="html">" />
        <mt:Elseif name="template_type" eq="submit">
        <mt:Else>
            <input type="hidden" name="blog_id" value="<$mt:BlogID$>" />
            <input type="hidden" name="id" value="<$mt:ContactFormID$>" />
        <$MTArchiveType setvar="archive_type"$>
        <mt:If name="archive_type" eq="Individual">
            <input type="hidden" name="object_id" value="<$mt:EntryID$>" />
            <input type="hidden" name="model" value="entry" />
        <mt:Elseif name="archive_type" eq="Page">
            <input type="hidden" name="object_id" value="<$mt:PageID$>" />
            <input type="hidden" name="model" value="page" />
        <mt:Elseif name="archive_type" like="Category">
            <input type="hidden" name="object_id" value="<$mt:CategoryID$>" />
            <input type="hidden" name="model" value="category" />
        </mt:If>
        </mt:If>
        <div class="contact-form">
        </mt:If>
        <mt:If name="template_type" eq="confirm">
            <$mt:Var name="field_html"$>
        <mt:Elseif name="template_type" eq="submit">
        <mt:Else>
            <$mt:FormElementHTML$>
        </mt:If>
        <mt:If name="__last__">
        <div class="contact-form-submit">
        <mt:If name="confirm_ok">
            <input type="submit" value="<$mt:Trans phrase="Submit" component="ContactForm"$>" />
        <mt:Else>
            <input type="submit" value="<$mt:Trans phrase="Confirm" component="ContactForm"$>" />
        </mt:If>
        </div>
        </div>
        </form>
        </div>
        </mt:If>
        </mt:If>
    <mt:Else>
        <mt:If name="__first__">
            <p class="contact-form-information">
            <mt:IfContactFormIsClosed>
                <$mt:FeedbackClosedMessage nl2br="xhtml"$>
            </mt:IfContactFormIsClosed>
            <mt:IfContactFormIsPreOpen>
                <$mt:FeedbackPreOpenMessage nl2br="xhtml"$>
            </mt:IfContactFormIsPreOpen>
            </p>
        </mt:If>
    </mt:IfContactFormIsOpen>
