<mt:var name="request._type" setvar="component">
<mt:Trans component="$component" phrase="CustomObject" setvar="class_label">
<mt:Trans component="$component" phrase="CustomObjects" setvar="class_label_plural">
<mt:setvarblock name="system_msg" append="1">
    <div id="msg-container">
    <mt:if name="dynamic_all">
        <mt:setvar name="rebuild" value="">
    <mt:elseif name="request.no_rebuild">
        <mt:setvar name="rebuild" value="">
    <mt:else>
        <mt:if name="blog_id">
            <mt:setvar name="rebuild" value="">
        <mt:else>
            <mt:setvar name="rebuild" value="">
        </mt:if>
    </mt:if>
    <mt:if name="request.saved">
        <mtapp:statusmsg
            id="saved"
            class="success"
            rebuild="$rebuild">
            <__trans phrase="Your changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.saved_deleted">
        <mtapp:statusmsg
            id="saved-deleted"
            class="success"
            rebuild="$rebuild">
            <mt:Trans component="$component" phrase="The [_1] has been deleted from database." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.published">
        <mtapp:statusmsg
            id="saved-published"
            class="success"
            >
                <mt:Trans component="$component" phrase="The [_1] has been published." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.not_published">
        <mtapp:statusmsg
            id="saved-not_published"
            class="success">
                <mt:Trans component="$component" phrase="The [_1] has not been published." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    
    <mt:if name="request.closed">
        <mtapp:statusmsg
            id="saved-closed"
            class="success"
            >
                <mt:Trans component="$component" phrase="The [_1] has been closed." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.unpublished">
        <mtapp:statusmsg
            id="saved-unpublished"
            class="success"
            >
                <mt:Trans component="$component" phrase="The [_1] has been unpublished." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.not_unpublished">
        <mtapp:statusmsg
            id="saved-not_unpublished"
            class="success">
                <mt:Trans component="$component" phrase="The [_1] has not been unpublished." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.imported">
        <mtapp:statusmsg
            id="imported"
            rebuild="all"
            class="success">
                <mt:Trans component="$component" phrase="The [_1] has been imported from CSV." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.not_imported">
        <mtapp:statusmsg
            id="not_imported"
            class="error">
                <mt:Trans component="$component" phrase="The [_1] has not been imported from CSV." params="$class_label">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.add_tags_to_customobject">
        <mtapp:statusmsg
            id="add_tags_to_customobject"
            class="success">
                <mt:Trans component="$component" phrase="Added Tags to selected [_1]." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.not_add_tags_to_customobject">
        <mtapp:statusmsg
            id="not_add_tags_to_customobject"
            class="error">
                <mt:Trans component="$component" phrase="Not added Tags to selected [_1]." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.remove_tags_to_customobject">
        <mtapp:statusmsg
            id="remove_tags_to_customobject"
            class="success">
                <mt:Trans component="$component" phrase="Remove Tags from selected [_1]." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.not_remove_tags_to_customobject">
        <mtapp:statusmsg
            id="not_remove_tags_to_customobject"
            class="error">
                <mt:Trans component="$component" phrase="Not removed Tags from selected [_1]." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    </div>
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<style type="text/css">.icon-none{ display:none }</style>
<script type="text/javascript">
var select_csv;
function file_select() {
    select_csv = 1;
    getByID( 'send_csv' ).style.display = 'inline';
}
function upload_csv() {
    if ( getByID( 'csv' ).style.display == 'none' ) {
        getByID( 'csv' ).style.display = 'inline';
        return false;
    }
    if ( select_csv == 1 ) {
        if ( window.confirm( '<mt:Trans component="$component" phrase="Are you sure you want to import [_1] from CSV?" params="$class_label_plural">' ) ) {
            var form = getByID( 'upload_customobject_csv' );
            form.submit();
        }
    } else {
        alert( '<__trans phrase="Please select a file to upload.">' );
    }
    return false;
}
</script>
</mt:setvarblock>