<mt:var name="request._type" regex_replace="/group$/","" setvar="component">
<mt:Trans component="$component" phrase="CustomObject Groups" setvar="class_label_plural">
<mt:setvarblock name="system_msg" append="1">
    <div id="msg-container">
    <mt:if name="request.saved_deleted">
        <mtapp:statusmsg
            id="saved-deleted"
            class="success"
            rebuild="$rebuild">
            <mt:Trans component="$component" phrase="The [_1] has been deleted from database." params="$class_label_plural">
        </mtapp:statusmsg>
    </mt:if>
    </div>
</mt:setvarblock>