<__trans_section component="PowerRevision">

<mt:setvarblock name="list_id"><$mt:var name="object_type"$>-listing</mt:setvarblock>
<mt:if name="blog_id"><mt:var name="blog_view" value="1"></mt:if>

<mt:setvarblock name="table_header">
                <tr>
                    <th class="col head object-status" style="padding:7px;width:3em"><__trans phrase="Object"></th>
                    <th class="col head revision-status" style="padding:7px;width:3em"><__trans phrase="Status"></th>
                    <th class="col head recover" style="padding:7px;width:3em"><__trans phrase="Recover"></th>
                    <th class="col head object_name" style="padding:7px;"><__trans phrase="Title"></th>
                    <th class="col head object_class" style="padding:7px;width:10%"><__trans phrase="Type"></th>
                    <th class="col head author_name" style="padding:7px;width:10%"><__trans phrase="Username"></th>
                    <mt:if name="system_view">
                    <th class="col head blog_name" style="padding:7px;width:10%"><__trans phrase="Blog"></th>
                    </mt:if>
                    <th class="col head class" style="padding:7px;width:10%"><__trans phrase="Class"></th>
                    <th class="col head comment" style="padding:7px;"><__trans phrase="Comment for revision"></th>
                    <th class="col head object_authored_on" style="padding:7px;"><__trans phrase="Publish Date"></th>
                    <th class="col head modified_on" style="padding:7px;"><__trans phrase="Modified On"></th>
                    <th class="col head view" style="padding:7px;width:3em"><__trans phrase="View"></th>
<$mt:templatenote note="THIS_NOTE_IS_HOOKPOINT(FOR_EXTRA_COLUMN_TH_TO_LAST)"$>
                </tr>
</mt:setvarblock>

<div id="selector" class="selector listing">
<mtapp:listing
    show_actions="0"
    id="$list_id">
    <mt:if __first__>
            <thead><p><$mt:var name="table_header"$></p></thead>
            <tbody>
    </mt:if>
                <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                    <td class="col object-status" style="text-align:center;">
                    <mt:if name="entry_status">
                        <mt:if name="can_edit_entry"><a target="_top" href="<mt:var name="mt_url">?__mode=view&amp;_type=<mt:var name="object_class" escape="html">&amp;id=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Edit current version">"></mt:if>
                        <mt:if name="entry_status" eq="1">
                        <img src="<$mt:var name="static_uri"$>images/status_icons/draft.gif" width="9" height="9" title="<__trans phrase="Edit this entry">" alt="<__trans phrase="Unpublished (Draft)">" />
                        </mt:if>
                        <mt:if name="entry_status" eq="2">
                        <img src="<$mt:var name="static_uri"$>images/status_icons/success.gif" width="9" height="9" title="<__trans phrase="Edit this entry">" alt="<__trans phrase="Published">" />
                        </mt:if>
                        <mt:if name="entry_status" eq="4">
                        <img src="<$mt:var name="static_uri"$>images/status_icons/future.gif" width="9" height="9" title="<__trans phrase="Edit this entry">" alt="<__trans phrase="Scheduled">" />
                        </mt:if>
                        <mt:if name="entry_status" eq="3">
                        <img src="<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/status_review.gif" width="11" height="9" title="<__trans phrase="Edit this entry">" alt="<__trans phrase="Unpublished (Review)">" />
                        </mt:if>
                        <mt:if name="can_edit_entry"></a></mt:if>
                        <mt:else>
                        <img src="<$mt:var name="static_uri"$>images/nav_icons/mini/delete.gif" title="<__trans phrase="Removed">" alt="<__trans phrase="Removed">" /></mt:else>
                    </mt:if>
                    </td>
                    <td class="col revision-status" style="text-align:center;">
                    <mt:if name="status" eq="1">
                    <a target="_top" href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=status&amp;filter_val=<mt:var name="status">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show unpublished revision data">">
                    <img src="<$mt:var name="static_uri"$>images/status_icons/draft.gif" width="9" height="9" alt="<__trans phrase="Unpublished (Draft)">" />
                    </a>
                    </mt:if>
                    <mt:if name="status" eq="4">
                    <a target="_top" href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=status&amp;filter_val=<mt:var name="status">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show scheduled revision data">">
                    <img src="<$mt:var name="static_uri"$>images/status_icons/future.gif" width="9" height="9" alt="<__trans phrase="Scheduled">" />
                    </a>
                    </mt:if>
                    <mt:if name="status" eq="3">
                    <a target="_top" href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=status&amp;filter_val=<mt:var name="status">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show revision data as under approval">">
                    <img src="<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/status_review.gif" width="11" height="9" alt="<__trans phrase="Unpublished (Review)">" />
                    </a>
                    </mt:if>
                    </td>
                    <td class="col recover" style="text-align:center;">
                        <mt:if name="can_edit_entry"><a target="_top" onclick="return confirm('<__trans phrase="Are you sure you want to recover this [_1]?" params="<mt:if name="object_class" eq="entry"><__trans phrase="entry"><mt:else><__trans phrase="page"></mt:else></mt:if>">')" href="<mt:var name="mt_url">?__mode=recover_entry&amp;_type=<mt:var name="object_class">&amp;entry_id=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">&amp;revision_id=<mt:var name="id">"
                        title="<__trans phrase="Recover from this version">"><img src="<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/revision.gif" alt="<__trans phrase="Recover">" width="8" height="9" /></a>
                        </mt:if>
                    </td>
                    <td class="col object_name">
                        <mt:if name="can_edit_revision"><a target="_top" href="<mt:var name="mt_url">?__mode=edit_revision&amp;_type=<mt:var name="object_class" escape="html">&amp;entry_id=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">&amp;revision_id=<mt:var name="id">"
                        title="<__trans phrase="Edit this revision data">"></mt:if><mt:var name="object_name" escape="html" default="..."><mt:if name="can_edit_revision"></a></mt:if>
                        <a target="_top" href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=object_id&amp;filter_val=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">"
                        title="<mt:if name="object_class" eq='entry'><__trans phrase="Only show this entry's revision data"><mt:else><__trans phrase="Only show this page's revision data"></mt:else></mt:if>"><img alt="<__trans phrase="Do filter">" src="<mt:var name="static_uri">images/filter.gif" width="8" height="8" border="0" /></a>
                    </td>
                    <td class="col object_class">
                        <mt:if name="object_class" eq='entry'>
                        <a target="_top" href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=object_class&amp;filter_val=entry&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show entry's revision data">"><__trans phrase="entry"></a>
                        <mt:else>
                        <a target="_top" href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=object_class&amp;filter_val=page&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show page's revision data">"><__trans phrase="page"></a>
                        </mt:else>
                        </mt:if>
                    </td>
                    <td class="col author_name">
                        <a target="_top" href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=author_id&amp;filter_val=<mt:var name="author_id">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show this user's revision data">"><mt:var name="author_name"></a>
                    </td>
                    <mt:if name="system_view">
                    <td class="col blog_name">
                        <mt:var name="blog_name" escape="html">
                    </td>
                    </mt:if>
                    <td class="col class">
                        <mt:if name="class" eq="workflow">
                        <a target="_top" href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=class&amp;filter_val=<mt:var name="class" escape="html">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show workflow revision data">">
                            <__trans phrase="Workflow">
                        </a>
                        </mt:if>
                        <mt:if name="class" eq="backup">
                        <a target="_top" href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=class&amp;filter_val=<mt:var name="class" escape="html">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show backup revision data">">
                            <__trans phrase="Backup">
                        </a>
                        </mt:if>
                    </td>
                    <td class="col comment">
                        <mt:var name="comment" escape="html">
                    </td>
                    <td class="col obj_auth_on">
                        <mt:var name="obj_auth_on">
                    </td>
                    <td class="col modified_on">
                        <mt:var name="modified_on">
                    </td>
                    <td class="col view">
                        <a href="<mt:var name="mt_url">?__mode=preview_history&amp;_type=<mt:var name="object_class" escape="html">&amp;entry_id=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">&amp;revision_id=<mt:var name="id">"
                        title="<__trans phrase="View">"
                        target="_blank"><img src="<$mt:var name="static_uri"$>images/status_icons/view.gif" alt="<__trans phrase="View">" /></a>
                    </td>
<$mt:templatenote note="THIS_NOTE_IS_HOOKPOINT(FOR_EXTRA_COLUMN_TD_TO_LAST)"$>
                </tr>
    <mt:if __last__>
            </tbody>
    </mt:if>
</mtapp:listing>
<div class="actions-bar actions-bar-bottom"> 
    <button 
        type="submit"
        accesskey="x"
        class="button cancel action mt-close-dialog"
        title="<__trans phrase="Cancel ([_1])" params="x">"
        ><__trans phrase="Cancel"></button> 
    <div class="plugin-actions">
    </div> 
</div> 
</div>
</__trans_section>
