<__trans_section component="Link">
<mt:setvarblock name="list_id"><mt:var name="object_type">-listing</mt:setvarblock>
<mt:if name="blog_id"><mt:var name="blog_view" value="1"></mt:if>

    <div class="listing-filter">
        <form action="<mt:var name="script_url">" method="get" id="modal-search" style="margin-top:1em">
            <input type="hidden" name="__mode" value="list_link" />
            <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
            <input type="hidden" name="edit_field" value="<mt:var name="edit_field" escape="html">" />
            <input type="hidden" name="dialog_view" value="1" />
            <input type="hidden" name="dialog" value="1" />
            <input type="text" value="<mt:unless name="query"><__trans phrase="Search"><mt:else><mt:var name="query" escape="html"></mt:else></mt:unless>" name="query" class="search-input search-query" onblur="if(this.value==''){this.style.color=''; this.form.reset()}" onfocus="this.value = ''; this.style.color = '#000';" />
            <select name="search_col">
                <option value="name" <mt:if name="search_col" eq="name">selected="selected"</mt:if>><__trans phrase="Name"></option>
                <option value="notes" <mt:if name="search_col" eq="notes">selected="selected"</mt:if>><__trans phrase="Notes"></option>
                <option value="description" <mt:if name="search_col" eq="description">selected="selected"</mt:if>><__trans phrase="Description"></option>
                <option value="url" <mt:if name="search_col" eq="url">selected="selected"</mt:if>><__trans phrase="URL"></option>
                <option value="rss_address" <mt:if name="search_col" eq="rss_address">selected="selected"</mt:if>><__trans phrase="RSS URL"></option>
                <option value="image_address" <mt:if name="search_col" eq="image_address">selected="selected"</mt:if>><__trans phrase="Image URL"></option>
                <option value="title" <mt:if name="search_col" eq="title">selected="selected"</mt:if>><__trans phrase="title"></option>
            </select>
            <input type="image" class="search-command search-submit" src="<$mt:var name="static_uri"$>images/search-submit-dialog.png" title="<__trans phrase="Search">" />
            <a href="javascript:void(0)" class="search-reset hidden"><__trans phrase="Reset"></a>
        </form>
    </div>

<mt:setvarblock name="table_header">
    <tr>
        <th class="cb col head" style="padding: 7px; width:25px;">&nbsp;</th>
        <th class="col head status" style="padding: 7px; text-align:left;width:14px;"><img src="<mt:var name="static_uri">images/status_icons/invert-flag.gif" width="9" height="9" alt="<__trans phrase="Status">" /></th>
        <th class="col head name primary-col" style="padding: 7px;"><__trans phrase="Name"></th>
        <th class="col head url primary-col" style="padding: 7px;"><__trans phrase="URL"></th>
        <th class="col head rating" style="padding: 7px; white-space:nowrap;width:35px;"><__trans phrase="Rating"></th>
        <mt:if name="scope_type" ne="blog">
        <th class="col head blog_name" style="padding: 7px;"><__trans phrase="Blog"></th>
        </mt:if>
        <th class="col head view" style="padding: 7px; white-space:nowrap;"><__trans phrase="View"></th>
    </tr>
</mt:setvarblock>

<mtapp:listing id="$list_id">
    <mt:if __first__>
            <thead><mt:var name="table_header"></thead>
            <tfoot><mt:var name="table_header"></tfoot>
            <tbody>
    </mt:if>
                <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                    <td class="cb col">
                        <mt:setvar name="listing" value="1">
                        <input type="radio" name="id" id="id-<mt:var name="id" escape="html">" value="<mt:var name="id" escape="html">" class="select" />
                        <input type="hidden" name="url" id="url-<mt:var name="id" escape="html">" value="<mt:var name="url" escape="html">" />
                        <input type="hidden" name="name" id="name-<mt:var name="id" escape="html">" value="<mt:var name="name" escape="html">" />
                        <input type="hidden" name="rel" id="rel-<mt:var name="id" escape="html">" value="<mt:var name="rel" escape="html">" />
                        <input type="hidden" name="target" id="target-<mt:var name="id" escape="html">" value="<mt:var name="target" escape="html">" />
                        <input type="hidden" name="title" id="title-<mt:var name="id" escape="html">" value="<mt:var name="title" escape="html">" />
                    </td>
                    <td class="status col" style="text-align:center;padding-top:10px;width:14px;">
                        <a href="<mt:var name="mt_url">?__mode=list_link&amp;blog_id=<mt:var name="blog_id">&amp;filter=status&amp;filter_val=<mt:var name="status">">
                            <mt:if name="status" eq="1"><img src="<mt:var name="static_uri">images/status_icons/draft.gif" width="9" height="9" alt="<__trans phrase="Draft">" /></mt:if>
                            <mt:if name="status" eq="2"><img src="<mt:var name="static_uri">images/status_icons/success.gif" width="9" height="9" alt="<__trans phrase="Publishing">" /></mt:if>
                        </a>
                    </td>
                    <td class="name col">
                        <mt:var name="name" escape="html">
                    </td>
                    <td class="url col"><mt:var name="url_short" escape="html"></td>
                    <td class="rating col"><mt:var name="rating" escape="html"></td>
                    <mt:if name="scope_type" ne="blog">
                    <td class="blog_name col"><a href="<mt:var name="mt_url">?__mode=list_link&amp;blog_id=<mt:var name="weblog_id">&amp;dialog_view=1"><mt:var name="weblog_name" escape="html"></a></td>
                    </mt:if>
                    <td class="view col" style="text-align:center;padding-top:10px">
                    <mt:if name="url">
                        <a target="_blank" href="<mt:var name="url" escape="html">" title="<mt:var name="url" escape="html">">
                            <img src="<mt:var name="static_uri">images/status_icons/view.gif" width="13" height="9" alt="<__trans phrase="View">" />
                        </a>
                    </mt:if>
                    </td>
                </tr>
    <mt:if __last__>
            </tbody>
    </mt:if>
</mtapp:listing>

    <mt:if name="request.costomobject_select">
        <mt:include name="include/js_attachfield_multi.tmpl">
    <mt:else>
    <div class="actions-bar">
        <form action="" method="get" onsubmit="insert();return false">
        <mt:if name="listing">
            <button
                type="submit"
                accesskey="s"
                title="<__trans phrase="Insert (s)">"
                class="action primary-button close disabled-button primary button"
                >
                <__trans phrase="Insert (s)"></button>
        </mt:if>
            <button
                type="submit"
                accesskey="x"
                class="cancel action mt-close-dialog button"
                title="<__trans phrase="Cancel (x)">">
                <__trans phrase="Cancel"></button>
        </form>
    </div>
<script type="text/javascript">
function insert() {
    var select_id;
    var select_id = jQuery('.select:checked').attr('value');
    if ( select_id ) {
        var url  = getByID( 'url-' + select_id ).value;
        var name = getByID( 'name-' + select_id ).value;
        var rel  = getByID( 'rel-' + select_id ).value;
        var target = getByID( 'target-' + select_id ).value;
        var title = getByID( 'title-' + select_id ).value;
        var tag = '<a href="' + url + '"';
        if ( rel != '' ) {
            tag = tag + ' rel="' + rel + '"';
        }
        if ( target != '' ) {
            tag = tag + ' target="' + target + '"';
        }
        if ( title != '' ) {
            tag = tag + ' title="' + title + '"';
        }
        tag = tag + '>' + name + '</a>';
        window.parent.app.insertHTML( tag, '<mt:var name="edit_field" escape="js">' );
        window.parent.jQuery.fn.mtDialog.close();
    } else {
        alert( '<__trans phrase="No link was selected to insert.">' );
    }
    return false;
}
</script>
</mt:if>
</__trans_section>
