<mtapp:setting
    id="entry_sort_by"
    label="<__trans phrase="Sort by/Sort order in select dialog, entry">">
    <__trans phrase="Template: ">
    <select name="entry_sort_by">
        <option value="name"<mt:if name="entry_sort_by" eq="name"> selected="selected"</mt:if>><__trans phrase="Name"></option>
        <option value="created_on"<mt:if name="entry_sort_by" eq="created_on"> selected="selected"</mt:if>><__trans phrase="Created On"></option>
    </select>
    <__trans phrase="and">
    <select name="entry_sort_order">
        <option value="descend"<mt:if name="entry_sort_order" eq="descend"> selected="selected"</mt:if>><__trans phrase="Descend"></option>
        <option value="ascend"<mt:if name="entry_sort_order" eq="ascend"> selected="selected"</mt:if>><__trans phrase="Ascend"></option>
    </select>
</mtapp:setting>
<mtapp:setting
    id="page_sort_by"
    label="<__trans phrase="Sort by/Sort order in select dialog, page">">
    <__trans phrase="Template: ">
    <select name="page_sort_by">
        <option value="name"<mt:if name="page_sort_by" eq="name"> selected="selected"</mt:if>><__trans phrase="Name"></option>
        <option value="created_on"<mt:if name="page_sort_by" eq="created_on"> selected="selected"</mt:if>><__trans phrase="Created On"></option>
    </select>
    <__trans phrase="and">
    <select name="page_sort_order">
        <option value="descend"<mt:if name="page_sort_order" eq="descend"> selected="selected"</mt:if>><__trans phrase="Descend"></option>
        <option value="ascend"<mt:if name="page_sort_order" eq="ascend"> selected="selected"</mt:if>><__trans phrase="Ascend"></option>
    </select>
</mtapp:setting>