    <mtapp:setting
        id="members_email_notify2"
        label="<__trans phrase="Notify Send to">">
    <ul>
    <li><label><input type="text" value="<mt:var name="members_email_notify2" escape="html">" name="members_email_notify2" id="members_email_notify2" /></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="members_email_from"
        label="<__trans phrase="Notify Send From">">
    <ul>
    <li><label><input type="text" value="<mt:var name="members_email_from" escape="html">" name="members_email_from" id="members_email_from" /></li>
    </ul>
    </mtapp:setting>