<__trans_section component="Members"><__trans phrase="This email is to notify you that a new untrusted user registered on '[_1]'." params="<$mt:BlogName$>">

<__trans phrase="New User Information:">
<__trans phrase="Username: [_1]" params="<$mt:AuthorName$>"> 
<__trans phrase="Full Name: [_1]" params="<$mt:AuthorDisplayName$>">
<__trans phrase="Email: [_1]" params="<$mt:AuthorEmail$>">

<__trans phrase="To trust this user, please click on or cut and paste the following URL into a web browser:">
<mt:var name="user_url">
</__trans_section>