<__trans_section component="Members"><__trans phrase="System administrator of '[_1]' trusted you." params='<$mt:BlogName$>'>

<__trans phrase="Login to '[_1]'" params='<$mt:BlogName$>'> :
<mt:var name="login_url">
</__trans_section>