<__trans_section component="Members">
<$MTBlogID setvar="blog_id"$>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link href="<$MTStaticWebPath$>plugins/PowerCMS/css/login.css" rel="stylesheet" type="text/css" media="screen,print" />
		<title><__trans phrase="Change Password"> | <mt:blogname escape="html"></title>
	</head>
	<body>
		<!-- [contents] -->
		<div id="contents">
			<div class="login_field">
			<div class="login_field_set">
				<div class="login_field_inner">
					<h1 class="logo"><img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_logo.gif" width="280" height="55" alt="<$MTBlogName$>" /></h1>
					<div class="title">
						<p><__trans phrase="Change Password"></p>
					</div>
					<$MTSetVar name="msg" value=""$>
					<MTIf name="error">
						<MTSetVarBlock name="msg"><$MTGetVar name="error"$></MTSetVarBlock>
					</MTIf>
					
					<MTIf name="msg">
					<div class="msg msg-error"><$MTGetVar name="msg"$></div>
					</MTIf>
					
					<form class="login_form" method="post" action="<$MTGetVar name="script_url"$>">
						<input type="hidden" name="__mode" value="new_pw" />
						<input type="hidden" name="token" value="<mt:var name="token" escape="html">" />
						<input type="hidden" name="email" value="<mt:var name="email" escape="html">" />
						<input type="hidden" name="blog_id" value="<mt:var name="blog_id" escape="html">" />
						<p>
							<label for="password"><__trans phrase="New Password"></label>
							<span class="post_input">
								<input type="password" name="password" id="password" value="" />
							</span>
						</p>
						<p>
							<label for="password_again"><__trans phrase="Confirm New Password"></label>
							<span class="post_input">
								<input type="password" name="password_again" id="password_again" value="" />
							</span>
						</p>
						<p class="post_submit2">
							<input type="image" src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_btn_pass_01.gif" alt="<__trans phrase="Change">" />
						</p>
					</form>
				</div>
			</div>
			</div>
		</div>
		<!-- /[contents] -->
		<hr class="doc_separate" />
		<!-- [footer] -->
		<div id="footer">
			<div id="footer_info">
				<address class="copy">Copyright &copy; <$MTDate format="%Y"$> <$MTBlogName$>. All rights reserved.</address>
			</div>
		</div>
		<!-- /[footer] -->
	</body>
</html>
</__trans_section>
