Options -Indexes +SymLinksIfOwnerMatch
DirectoryIndex <$MTBlogRelativeURL$>mt-members.php
<MTBlogFilesMatchDirective>
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^(.*)$ <$MTBlogRelativeURL$>mt-members.php [L]
</IfModule>
<IfModule !mod_rewrite.c>
  Order allow,deny
  Deny from all
  ErrorDocument 403 <$MTBlogRelativeURL$>mt-members.php
</IfModule>
</FilesMatch>