<$mt:BlogID setvar="blog_id"$>
<$mt:setvar name="login_page" value="1"$>
<mt:SetVarBlock name="page_title">アカウントを作成する</mt:SetVarBlock>
<mt:SetVarBlock name="title"><$mt:BlogName encode_html="1"$></mt:SetVarBlock>
<$mt:Include module="ヘッダー(携帯用)"$>

<mt:if name="error">
	<mt:if name="exist_error">
		<span style="color:red">ユーザー名が既に使用されています。</span>
		<hr style="color:#ccc;background:#ccc;height:1px;border:0px solid #ccc;margin:0.3em 0;" size="1"/>
		<mt:else>
		<span style="color:red">保存に失敗しました。</span>
		<hr style="color:#ccc;background:#ccc;height:1px;border:0px solid #ccc;margin:0.3em 0;" size="1"/>
		</mt:else>
	</mt:if>
</mt:if>
<mt:if name="saved">
	ご登録ありがとうございます。
	<mt:unless name="registered"><br />
		登録を完了するためにまずアカウントを確認する必要があります。<mt:var name="send_email" escape="html">にメールを送信しました。
	</mt:unless>
	<mt:else>
		<mt:if name="regist">
			<mt:if name="registration_failed">
				アクセス権がありません。システム管理者に連絡してください。
				<mt:else>
				ご登録ありがとうございます。システム管理者によって承認されるまでしばらくお待ちください。
				</mt:else>
			</mt:if>
			<mt:else>
				<form method="post" action="<mt:var name="script_url">" utn="utn">
					ユーザー名<span style="color:red">[必須]</span><br />
						<input type="text" name="username" id="username" istyle="3" format="*m" style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;;-wap-input-format:*m;" mode="alphabet" value="<mt:var name="username" escape="html">" /><br />
					表示名<span style="color:red">[必須]</span><br />
						<input type="text" name="nickname" istyle="3" format="*m" style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;;-wap-input-format:*m;" mode="alphabet" value="<mt:var name="nickname" escape="html">" /><br />
					電子メール<span style="color:red">[必須]</span><br />
						<input type="text" name="email" id="email" istyle="3" format="*m" style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;;-wap-input-format:*m;" mode="alphabet" value="<mt:var name="email" escape="html">" /><br />
					携帯メール<span style="color:red">[必須]</span><br />
						<input type="text" name="mobile_address" istyle="3" format="*m" style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;;-wap-input-format:*m;" mode="alphabet" value="<mt:var name="mobile_address" escape="html">" /><br />
					秘密のフレーズ<br />
						<input type="text" name="mail_token" istyle="3" format="*m" style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;;-wap-input-format:*m;" mode="alphabet" /><br />
					初期パスワード<span style="color:red">[必須]</span><br />
						<input name="password" type="text" istyle="3" format="*m" style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;;-wap-input-format:*m;" mode="alphabet" /><br />
					パスワード再入力<span style="color:red">[必須]</span><br />
						<input name="pass_verify" type="text" istyle="3" format="*m" style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;;-wap-input-format:*m;" mode="alphabet" /><br />
                    <MTIfPlugin component="MailMagazine">
					メールマガジンの購読<br />
						<input name="mail_subscription" type="checkbox" /> 購読する<br />
                    </MTIfPlugin>
					<mt:setvarblock name="blog_selector">
						<select name="blog_id">
							<mt:blogs>
								<mt:blogid setvar="this_id">
								<option value="<mt:blogid>" <mt:if name="this_id" eq="$blog_id">selected="selected"</mt:if>><mt:blogname></option>
							</mt:blogs>
						</select>
					</mt:setvarblock>
					<mt:if name="blog_id">
						<input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
						<mt:else>
							<mt:var name="blog_selector">
						</mt:else>
					</mt:if>
					<input type="hidden" name="__mode" value="do_signup" />
					<hr />
					<div align="center" style="margin-top:0.3em;"><input type="submit" value="アカウントを作成する" /></div>
				</form>
			</mt:else>
		</mt:if>
	</mt:else>
</mt:if>
<$mt:Include module="フッター(携帯用)"$>