<__trans_section component="Members"><__trans phrase="This email is to notify you that a new signup on '[_1]'." params='<$mt:BlogName$>'>
<__trans phrase="Please click to regist '[_1]'" params='<$mt:BlogName$>'> :
<mt:var name="register_url">

<__trans phrase="If you did not request this change, you can safely ignore this email.">
</__trans_section>
