<__trans_section component="Members">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<mt:PublishCharset>" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<title><__trans phrase="Password Recovery"> | <$mt:BlogName$></title>
</head>
<body>
<mt:var name="screen_id" value="reset-password">
<mt:setvarblock name="page_title"><__trans phrase="Password Recovery"></mt:setvarblock>
<mt:setvar name="complete" value="1">

<mt:if name="error">
        <p>
            <mt:var name="error">
        </p>
</mt:if>

<mt:If name="not_unique_email">
        <p>
            <__trans phrase="The email address provided is not unique.  Please enter your username.">
        </p>
</mt:if>

<mt:if name="recovered">
<p><__trans phrase="An email with a link to reset your password has been sent to your email address ([_1]).", params="<mt:var name="email" escape="html">"></p>


<div class="actions-bar">
<mt:If name="return_to">
    <a
       href="<$mt:var name="return_to" escape="html" $>"
       accesskey="x"
       title="<__trans phrase="Go Back (x)">"
       class="action button primary-button"
       ><__trans phrase="Go Back"></a>
</mt:If>
</div>


<mt:else>
    <form method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="__mode" value="recover" />
    <input type="hidden" name="blog_id" value="<MT:BlogID>" />
    <input type="hidden" name="return_to" value="<mt:Var name="return_to" escape="html">" />
<fieldset>

<mtapp:setting
    id="email"
    label="<__trans phrase="Email Address">"
    label_class="top-label">
    <input type="text" name="email" id="email" class="ti" value="<mt:var name="email" escape="html">" />
</mtapp:setting>

<mt:If name="not_unique_email">
<mtapp:setting
    id="name"
    label="<__trans phrase="Username">"
    label_class="top-label">
    <input type="text" name="name" id="name" class="ti" value="<mt:var name="name" escape="html">" />
</mtapp:setting>
</mt:If>

<div class="actions-bar">
    <button
       type="submit"
       accesskey="s"
       title="<__trans phrase="Recover (s)">"
       class="recover action primary-button"
       ><__trans phrase="Recover"></button>
    <button
       onclick="history.back(); return false;"
       type="submit"
       accesskey="x"
       class="action"
       title="<__trans phrase="Go Back (x)">"
       ><__trans phrase="Go Back"></button>
</div>

</fieldset>
</form>
</mt:if>
</body>
</html>
</__trans_section>