<mt:include identifier="members_htaccess">

RewriteEngine On

# for docomo

RewriteCond %{HTTP_USER_AGENT} DoCoMo [NC]
RewriteRule (.*)\.png$ <$MTBlogURL$>mobile/$1.jpg [L]

# for SoftBank

RewriteCond %{HTTP_USER_AGENT} vodafone [NC]
RewriteRule (.*)\.gif$ <$MTBlogURL$>mobile/$1.png [L]

RewriteCond %{HTTP_USER_AGENT} J-PHONE [NC]
RewriteRule (.*)\.gif$ <$MTBlogURL$>mobile/$1.png [L]

RewriteCond %{HTTP_USER_AGENT} SoftBank [NC]
RewriteRule (.*)\.gif$ <$MTBlogURL$>mobile/$1.png [L]

# for au

RewriteCond %{HTTP_USER_AGENT} Up.Browser [NC]
RewriteRule (.*)\.png$ <$MTBlogURL$>mobile/$1.jpg [L]
