<__trans_section component="Members">
<$MTBlogID setvar="blog_id"$>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link href="<$MTStaticWebPath$>plugins/PowerCMS/css/login.css" rel="stylesheet" type="text/css" media="screen,print" />
		<title><__trans phrase="Create an account"> | <mt:blogname escape="html"></title>
	</head>
	<body class="contents_wide">
		<!-- [contents] -->
		<div id="contents">
			<div class="login_field">
			<div class="login_field_set">
				<div class="login_field_inner">
					<h1 class="logo"><img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_logo.gif" width="280" height="55" alt="<$MTBlogName$>" /></h1>
					<$MTSetVar name="msg" value=""$>
					<MTIf name="error">
						<MTIf name="exist_error">
							<MTSetVarBlock name="msg"><__trans phrase="A user with the same name already exists."></MTSetVarBlock>
							<MTElse>
								<MTSetVarBlock name="msg"><__trans phrase="Saving failed."></MTSetVarBlock>
							</MTElse>
						</MTIf>
					</MTIf>
					<MTIf name="saved">
						<MTSetVarBlock name="msg"><__trans phrase="Thanks for signing up"></MTSetVarBlock>
						<MTUnless name="registered">
							<MTSetVarBlock name="msg"><__trans phrase="To complete the registration process you must first confirm your account. An email has been sent to [_1]." params="<mt:var name="send_email" escape="html">"></MTSetVarBlock>
						</MTUnless>
						<MTElse>
							<MTIf name="regist">
								<MTIf name="registration_failed">
									<MTSetVarBlock name="msg"><__trans phrase="You have attempted to use a feature that you do not have permission to access. If you believe you are seeing this message in error contact your system administrator."></MTSetVarBlock>
									<MTElse>
										<MTSetVarBlock name="msg"><__trans phrase="Thanks for the confirmation. This account has been disabled. Please wait for a while until it is approved by the administrator."></MTSetVarBlock>
									</MTElse>
								</MTIf>
								<MTElse>
									<$MTSetVar name="display_form" value="1"$>
								</MTElse>
							</MTIf>
						</MTElse>
					</MTIf>
					
					<MTIf name="msg">
					<div class="msg msg-error"><$MTGetVar name="msg"$></div>
					</MTIf>
					
					<MTIf name="display_form">
					<form class="login_form" method="post" action="<$MTGetVar name="script_url"$>" enctype="multipart/form-data">
						<table class="form_table">
							<tr>
								<th scope="row"><label for="username"><__trans phrase="Username"> <img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_req_01.gif" alt="<__trans phrase="Required">" class="icon_req" /></label></th>
								<td>
									<span class="post_input">
										<input type="text" name="username" id="username" style="ime-mode: disabled;" value="<$MTGetVar name="username" escape="html"$>" />
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="nickname"><__trans phrase="Display Name"> <img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_req_01.gif" alt="<__trans phrase="Required">" class="icon_req" /></label></th>
								<td>
									<span class="post_input">
										<input type="text" name="nickname" id="nickname" value="<$MTGetVar name="nickname" escape="html"$>" />
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="email"><__trans phrase="Email Address"> <img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_req_01.gif" alt="<__trans phrase="Required">" class="icon_req" /></label></th>
								<td>
									<span class="post_input">
										<input type="text" name="email" id="email" style="ime-mode: disabled;" value="<$MTGetVar name="email" escape="html"$>" />
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="mobile_address"><__trans phrase="Moblie E-mail"></label></th>
								<td>
									<span class="post_input">
										<input type="text" name="mobile_address" id="mobile_address" style="ime-mode: disabled;" value="<$MTGetVar name="mobile_address" escape="html"$>" />
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="mail_token"><__trans phrase="Secret Token"></label></th>
								<td>
									<span class="post_input">
										<input type="password" name="mail_token" id="mail_token" style="ime-mode: disabled;" value="<$MTGetVar name="mail_token" escape="html"$>" />
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="userpic"><__trans phrase="Userpic"></label></th>
								<td>
									<input type="file" name="userpic" id="userpic" />
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="password"><__trans phrase="Initial Password"> <img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_req_01.gif" alt="<__trans phrase="Required">" class="icon_req" /></label></th>
								<td>
									<span class="post_input">
										<input name="password" id="password" type="password" />
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row"><label for="pass_verify"><__trans phrase="Password Confirm"> <img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_req_01.gif" alt="<__trans phrase="Required">" class="icon_req" /></label></th>
								<td>
									<span class="post_input">
										<input name="pass_verify" id="pass_verify" type="password" />
									</span>
								</td>
							</tr>
                            <MTIfPlugin component="MailMagazine">
                            <__trans_section component="MailMagazine">
                            <tr>
                                <th scope="row"><label for="mail_subscription"><__trans phrase="Mail Subscription"></label></th>
                                <td>
                                    <label><input name="mail_subscription" id="mail_subscription" type="checkbox" /> <__trans phrase="Subscribe"></label>
                                </td>
                            </tr>
                            </__trans_section>
                            </MTIfPlugin>
							<MTUnless name="blog_id">
							<tr>
								<th scope="row">&nbsp;</th>
								<td>
									<select name="blog_id">
									<MTBlogs>
									<MTBlogID setvar="this_id">
									<option value="<MTBlogID>" <MTIf name="this_id" eq="$blog_id">selected="selected"</MTIf>><MTBlogName></option>
									</MTBlogs>
									</select>
								</td>
							</tr>
							</MTUnless>
						</table>
						
						<MTIf name="blog_id">
							<input type="hidden" name="blog_id" value="<$MTGetVar name="blog_id"$>" />
						</MTIf>
						<input type="hidden" name="__mode" value="do_signup" />
						<p class="post_submit2">
							<input type="image" src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_btn_acount_01.gif" alt="<__trans phrase="Create an account">" />
						</p>
					</form>
					</MTIf>
				</div>
			</div>
			</div>
		</div>
		<!-- /[contents] -->
		<hr class="doc_separate" />
		<!-- [footer] -->
		<div id="footer">
			<div id="footer_info">
				<address class="copy">Copyright &copy; <$MTDate format="%Y"$> <$MTBlogName$>. All rights reserved.</address>
			</div>
		</div>
		<!-- /[footer] -->
	</body>
</html>
</__trans_section>
