<__trans_section component="Members">
<$MTBlogID setvar="blog_id"$>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link href="<$MTStaticWebPath$>plugins/PowerCMS/css/login.css" rel="stylesheet" type="text/css" media="screen,print" />
		<title><__trans phrase="Sign In"> | <mt:blogname escape="html"></title>
	</head>
	<body>
		<!-- [contents] -->
		<div id="contents">
			<div class="login_field">
			<div class="login_field_set">
				<div class="login_field_inner">
					<h1 class="logo"><img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_logo.gif" width="280" height="55" alt="<$MTBlogName$>" /></h1>
					<$MTSetVar name="msg" value=""$>
					<MTIf name="logged_out">
						<MTIf name="delegate_auth">
								<MTSetVarBlock name="msg"><__trans phrase="Your Movable Type session has ended."></MTSetVarBlock>
							<MTElse>
								<MTSetVarBlock name="msg"><__trans phrase="Your Movable Type session has ended. If you wish to sign in again, you can do so below."></MTSetVarBlock>
							</MTElse>
						</MTIf>
						<MTElse>
							<MTIf name="login_again">
								<MTSetVarBlock name="msg"><__trans phrase="Your Movable Type session has ended. Please sign in again to continue this action."></MTSetVarBlock>
								<MTElse>
									<MTIf name="error">
										<MTSetVarBlock name="msg"><$MTGetVar name="error"$></MTSetVarBlock>
									</MTIf>
								</MTElse>
							</MTIf>
						</MTElse>
					</MTIf>
					<MTIf name="msg">
					<div class="msg msg-error"><$MTGetVar name="msg"$></div>
					</MTIf>
					<form class="login_form" method="post" action="<$MTGetVar name="script_url"$>">
						<MTLoop name="query_params">
						<input type="hidden" name="<MTGetVar name="name" escape="html">" value="<MTGetVar name="value" escape="html">" />
						</MTLoop>
						<p>
							<label for="username"><__trans phrase="Username"></label>
							<span class="post_input">
								<input type="text" name="username" id="username" value="" />
							</span>
						</p>
						<p>
							<label for="password"><__trans phrase="Password"></label>
							<span class="post_input">
								<input type="password" name="password" id="password" />
							</span>
						</p>
						<p>
							<span class="post_input_etc">
								<label><input type="checkbox" name="remember" value="1" /> <__trans phrase="Remember me?"></label>
							</span>
						</p>
						<p class="post_submit">
							<input type="image" src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_btn_login_01.gif" alt="<__trans phrase="Sign In">" />
						</p>
					</form>
					<p class="notes">
					<a href="<$MTGetVar name="script_url"$>?__mode=start_recover&amp;blog_id=<$MTGetVar name="blog_id"$>"><__trans phrase="Forgot your password?"></a><br />
					<__trans phrase="Not a member? <a href="[_1]">Sign Up</a>!" params="<mt:var name="script_url">?__mode=signup&amp;blog_id=<mt:var name="blog_id">">
					</p>
				</div>
			</div>
			</div>
		</div>
		<!-- /[contents] -->
		<hr class="doc_separate" />
		<!-- [footer] -->
		<div id="footer">
			<div id="footer_info">
				<address class="copy">Copyright &copy; <$MTDate format="%Y"$> <$MTBlogName$>. All rights reserved.</address>
			</div>
		</div>
		<!-- /[footer] -->
	</body>
</html>
</__trans_section>
