<__trans_section component="Members">
<$MTBlogID setvar="blog_id"$>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<$MTPublishCharset$>" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link href="<$MTStaticWebPath$>plugins/PowerCMS/css/login.css" rel="stylesheet" type="text/css" media="screen,print" />
		<title><__trans phrase="Password Recovery"> | <mt:blogname escape="html"></title>
	</head>
	<body>
		<!-- [contents] -->
		<div id="contents">
			<div class="login_field">
			<div class="login_field_set">
				<div class="login_field_inner">
					<h1 class="logo"><img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_logo.gif" width="280" height="55" alt="<$MTBlogName$>" /></h1>
					<div class="title">
						<p><__trans phrase="Password Recovery"></p>
					</div>
					<$MTSetVar name="msg" value=""$>
					<MTIf name="error">
						<MTSetVarBlock name="msg"><$MTGetVar name="error"$></MTSetVarBlock>
					</MTIf>
					<MTIf name="not_unique_email">
						<MTSetVarBlock name="msg"><__trans phrase="The email address provided is not unique.  Please enter your username."></MTSetVarBlock>
					</MTIf>
					<MTIf name="recovered">
						<MTSetVarBlock name="msg"><__trans phrase="An email with a link to reset your password has been sent to your email address ([_1]).", params="<$MTGetVar name="email" escape="html"$>"></MTSetVarBlock>
					</MTIf>
					
					<MTIf name="msg">
					<div class="msg msg-error"><$MTGetVar name="msg"$></div>
					</MTIf>
					
					<MTIf name="recovered">
						<MTIf name="return_to">
						<p class="post_submit2">
							<a href="<$MTGetVar name="return_to" escape="html"$>"><img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_btn_back_01.gif" alt="<__trans phrase="Go Back">" /></a>
						</p>
						</MTIf>
						<MTElse>
							<$MTSetVar name="display_form" value="1"$>
						</MTElse>
					</MTIf>
					
					<MTIf name="display_form">
					<form class="login_form" method="post" action="<$MTGetVar name="script_url"$>">
						<input type="hidden" name="__mode" value="recover" />
						<input type="hidden" name="blog_id" value="<$MTBlogID$>" />
						<input type="hidden" name="return_to" value="<$MTGetVar name="return_to" escape="html"$>" />
						<p>
							<label for="email"><__trans phrase="Email Address"></label>
							<span class="post_input">
								<input type="text" name="email" id="email" value="<$MTGetVar name="email" escape="html"$>" />
							</span>
						</p>
						<MTIf name="not_unique_email">
						<p>
							<label for="name"><__trans phrase="Username"></label>
							<span class="post_input">
								<input type="text" name="name" id="name" value="<$MTGetVar name="name" escape="html"$>" />
							</span>
						</p>
						</MTIf>
						
						<p class="post_submit2">
							<a href="#" onclick="history.back(); return false;"><img src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_btn_back_01.gif" alt="<__trans phrase="Go Back">" /></a>
							<input type="image" src="<$MTStaticWebPath$>plugins/PowerCMS/images/login_btn_set_01.gif" alt="<__trans phrase="Recover">" />
						</p>
					</form>
					</MTIf>
				</div>
			</div>
			</div>
		</div>
		<!-- /[contents] -->
		<hr class="doc_separate" />
		<!-- [footer] -->
		<div id="footer">
			<div id="footer_info">
				<address class="copy">Copyright &copy; <$MTDate format="%Y"$> <$MTBlogName$>. All rights reserved.</address>
			</div>
		</div>
		<!-- /[footer] -->
	</body>
</html>
</__trans_section>
