<__trans_section component="AdditionalFields">
<mt:setvarblock name="list_id"><mt:var name="object_type">-listing</mt:setvarblock>
<mt:if name="blog_id"><mt:var name="blog_view" value="1"></mt:if>
<mt:setvarblock name="original_blog_id"><mt:var name="blog_id"></mt:setvarblock>
    <div class="listing-filter" style="margin-top:1em;">
        <form action="<mt:var name="script_url">" method="get" id="modal-search">
            <input type="hidden" name="__mode" value="entries_dialog" />
            <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
            <input type="hidden" name="class" value="<mt:var name="class">" />
            <input type="hidden" name="edit_field" value="<mt:var name="edit_field" escape="html">" />
            <input type="hidden" name="dialog" value="1" />
            <input class="text" type="text" value="<mt:unless name="query"><__trans phrase="Search"><mt:else><mt:var name="query" escape="html"></mt:else></mt:unless>" name="query" class="search-input search-query" onblur="if(this.value==''){this.style.color=''; this.form.reset()}" onfocus="this.value = ''; this.style.color = '#000';" />
            <select name="search_col">
                <option value="title" <mt:if name="search_col" eq="title">selected="selected"</mt:if>><__trans phrase="Title"></option>
                <option value="text" <mt:if name="search_col" eq="text">selected="selected"</mt:if>><__trans phrase="Entry Body"></option>
                <option value="text_more" <mt:if name="search_col" eq="text_more">selected="selected"</mt:if>><__trans phrase="Extended Entry"></option>
                <option value="keywords" <mt:if name="search_col" eq="keywords">selected="selected"</mt:if>><__trans phrase="Keywords"></option>
                <option value="excerpt" <mt:if name="search_col" eq="excerpt">selected="selected"</mt:if>><__trans phrase="Excerpt"></option>
            </select>
            <input type="image" class="search-command search-submit" src="<$mt:var name="static_uri"$>images/search-submit-dialog.png" title="<__trans phrase="Search">" />
            <a href="javascript:void(0)" class="search-reset hidden"><__trans phrase="Reset"></a>
        </form>
    </div>
<mt:setvarblock name="table_header">
    <tr>
        <th class="col head cb" style="padding:7px;"></th>
        <th class="col head status" style="padding:7px;text-align:left;width:14px"><img src="<mt:var name="static_uri">images/status_icons/invert-flag.gif" width="9" height="9" alt="<__trans phrase="Status">" /></th>
        <th class="col head title" style="padding:7px;"><__trans phrase="Title"></th>
        <th class="col head" style="padding:7px;"><__trans phrase="Entry Body"></th>
        <th class="col head category" style="padding:7px;width:45px;"><__trans phrase="Category"></th>
        <mt:if name="scope_type" ne="blog">
        <th class="col head blog_name" style="padding:7px;width:70px;"><__trans phrase="Blog"></th>
        </mt:if>
        <th class="col head author_name" style="padding:7px;width:45px;"><__trans phrase="Author"></th>
    </tr>
</mt:setvarblock>
<mtapp:listing id="$list_id" type="$class">
    <mt:if __first__>
            <thead><mt:var name="table_header"></thead>
            <tfoot><mt:var name="table_header"></tfoot>
            <tbody>
    </mt:if>
                <tr id="tr-<mt:var name="id">" class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                    <td class="col cb">
                        <input type="radio" name="id" value="<mt:var name="id" escape="html">" class="select" />
                    </td>
                    <td class="col status si<mt:if name="status" eq="1"> status-draft</mt:if><mt:if name="status" eq="2"> status-publish</mt:if><mt:if name="status" eq="3"> status-review</mt:if><mt:if name="status" eq="4"> status-future</mt:if><mt:if name="status" eq="5"> status-spam</mt:if>">
                        <mt:if name="status" eq="1">
                                <a href="<$mt:var name="script_url"$>?__mode=entries_dialog<mt:if name="original_blog_id">&amp;blog_id=<$mt:var name="original_blog_id"$></mt:if>&amp;filter=status&amp;filter_val=1&amp;class=<mt:var name="class">" title="<mt:if name="class" eq="entry"><__trans phrase="Only show unpublished entries"><mt:else><__trans phrase="Only show unpublished pages"></mt:if>"><img src="<$mt:var name="static_uri"$>images/spacer.gif" alt="<__trans phrase="Unpublished (Draft)">" width="9" height="9" /></a>
                        </mt:if>
                        <mt:if name="status" eq="2">
                                <a href="<$mt:var name="script_url"$>?__mode=entries_dialog<mt:if name="original_blog_id">&amp;blog_id=<$mt:var name="original_blog_id"$></mt:if>&amp;filter=status&amp;filter_val=2&amp;class=<mt:var name="class">" title="<mt:if name="class" eq="entry"><__trans phrase="Only show published entries"><mt:else><__trans phrase="Only show published pages"></mt:if>"><img src="<$mt:var name="static_uri"$>images/spacer.gif" alt="<__trans phrase="Published">" width="9" height="9" /></a>
                        </mt:if>
                        <mt:if name="status" eq="3">
                                <a href="<$mt:var name="script_url"$>?__mode=entries_dialog<mt:if name="original_blog_id">&amp;blog_id=<$mt:var name="original_blog_id"$></mt:if>&amp;filter=status&amp;filter_val=3&amp;class=<mt:var name="class">" title="<mt:if name="class" eq="entry"><__trans phrase="Only show entries for review"><mt:else><__trans phrase="Only show pages for review"></mt:if>"><img src="<$mt:var name="static_uri"$>images/spacer.gif" alt="<__trans phrase="Unpublished (Review)">" width="9" height="9" /></a>
                        </mt:if>
                        <mt:if name="status" eq="4">
                                <a href="<$mt:var name="script_url"$>?__mode=entries_dialog<mt:if name="original_blog_id">&amp;blog_id=<$mt:var name="original_blog_id"$></mt:if>&amp;filter=status&amp;filter_val=4&amp;class=<mt:var name="class">" title="<mt:if name="class" eq="entry"><__trans phrase="Only show scheduled entries"><mt:else><__trans phrase="Only show scheduled pages"></mt:if>"><img src="<$mt:var name="static_uri"$>images/spacer.gif" alt="<__trans phrase="Scheduled">" width="9" height="9" /></a>
                        </mt:if>
                        <mt:if name="status" eq="5">
                                <a href="<$mt:var name="script_url"$>?__mode=entries_dialog<mt:if name="original_blog_id">&amp;blog_id=<$mt:var name="original_blog_id"$></mt:if>&amp;filter=status&amp;filter_val=5&amp;class=<mt:var name="class">" title="<mt:if name="class" eq="entry"><__trans phrase="Only show spam entries"><mt:else><__trans phrase="Only show spam pages"></mt:if>"><img src="<$mt:var name="static_uri"$>images/spacer.gif" alt="<__trans phrase="Spam">" width="9" height="9" /></a>
                        </mt:if>
                    </td>
                    <td class="col title">
                        <mt:if name="title">
                        <mt:var name="title" escape="html">
                        <mt:else>
                        ...
                        </mt:if>
                        <mt:if name="entry_permalink">
                            <mt:if name="status" eq="2">
                                &nbsp; <a href="<$mt:var name="entry_permalink"$>" target="<__trans phrase="_external_link_target">" title="<mt:if name="class" eq="entry"><__trans phrase="View entry"><mt:else><__trans phrase="View page"></mt:if>"><img style="vertical-align:baseline" src="<$mt:var name="static_uri"$>images/status_icons/view.gif" alt="<mt:if name="class" eq="entry"><__trans phrase="View entry"><mt:else><__trans phrase="View page"></mt:if>" width="13" height="9" /></a>
                            </mt:if>
                        </mt:if>
                        <input type="hidden" id="name-<mt:var name="id" escape="html">" value="<mt:var name="title" escape="html">" />
                    </td>
                    <td class="col"><mt:var name="text" remove_html="1"></td>
                    <td class="col category">
                    <mt:if name="entry_category_id">
                    <a href="<mt:var name="mt_url">?__mode=entries_dialog&amp;blog_id=<mt:var name="blog_id">&amp;filter=category_id&amp;filter_val=<mt:var name="entry_category_id">&amp;dialog_view=1&amp;class=<mt:var name="class">"><mt:var name="category_label" escape="html"></a>
                    </mt:if>
                    </td>
                    <mt:if name="scope_type" ne="blog">
                        <td class="col blog_name"><a href="<mt:var name="mt_url">?__mode=entries_dialog&amp;blog_id=<mt:var name="weblog_id">&amp;dialog_view=1"><mt:var name="weblog_name" escape="html"></a></td>
                    </mt:if>
                    <td class="col author_name"><a href="<mt:var name="mt_url">?__mode=entries_dialog&amp;blog_id=<mt:var name="blog_id">&amp;filter=author_id&amp;filter_val=<mt:var name="author_id">&amp;dialog_view=1&amp;class=<mt:var name="class">"><mt:var name="author_name" escape="html"></a>
                    <input type="hidden" id="title-<mt:var name="id" escape="html">" value="<$mt:var name="title_raw" escape="html"$>" />
                    <input type="hidden" id="permalink-<mt:var name="id" escape="html">" value="<$mt:var name="entry_permalink"$>" />
                    </td>
                </tr>
    <mt:if __last__>
            </tbody>
    </mt:if>
</mtapp:listing>
    <div class="actions-bar">
        <form action="" method="go_finish">
            <button
                onclick="append_object();return false;"
                type="submit"
                accesskey="s"
                title="<__trans phrase="Next (s)">"
                class="primary button action primary-button close disabled-button"
                >
                <__trans phrase="Next"></button>
            <button
                type="submit"
                accesskey="x"
                class="button cancel action mt-close-dialog"
                title="<__trans phrase="Cancel (x)">">
                <__trans phrase="Cancel"></button>
        </form>
    </div>
<script type="text/javascript">
    function append_object(){
        var tags = document.getElementsByTagName( 'input' );
        var len  = tags.length;
        var selected;
        var name;
        for ( var i = 0; i < len; i++ ) {
            var rb = tags[ i ];
            if ( rb.type == 'radio' ) {
                if ( rb.checked ) {
                    selected = rb.value;
                    name = getByID( 'name-' + selected ).value;
                    break;
                }
            }
        }
        if ( selected ) {
            var is_multi = false;
            if(window.parent.getByID('<mt:var name="edit_field" escape="js">-checker').value == 'multi'){
                is_multi = true;
            }
            var script_multi = '';
            if(is_multi){
                script_multi = '_multi';
            }
            name = '\n<span id="obj-<mt:var name="edit_field" escape="js">-' + selected + '" style="margin-right:12px;white-space:nowrap;">' + name + ' (ID:' + selected + ') <a href="javascript:;" onclick="jQuery(this).parent().remove();remove_val' + script_multi + '(\'' + selected + '\',\'<mt:var name="edit_field" escape="js">\');"><img src="<mt:var name="static_uri">images/status_icons/close.gif" alt="<__trans phrase="Delete">" title="<__trans phrase="Delete">" /></a></span>';
            if(! window.parent.getByID( 'obj-<mt:var name="edit_field" escape="js">-' + selected ) ){
                if ( is_multi ) {
                    window.parent.getByID( 'field_value-<mt:var name="edit_field" escape="js">' ).innerHTML += name;
                } else {
                    window.parent.getByID( 'field_value-<mt:var name="edit_field" escape="js">' ).innerHTML = name;
                }
                //window.parent.getByID( 'field_remove-<mt:var name="edit_field" escape="js">' ).style.display = 'inline';
                var insert_val = '';
                if ( is_multi ){
                    var val = window.parent.getByID( '<mt:var name="edit_field" escape="js">' ).value;
                    if ( val == '' ){
                        val = ',';
                    }
                    insert_val = val + selected + ',';
                }else{
                    insert_val = selected;
                }
                window.parent.getByID( '<mt:var name="edit_field" escape="js">' ).value = insert_val;
            }
            window.parent.jQuery.fn.mtDialog.close();
        } else {
            alert( '<__trans phrase="None selected">' );
        }
        return false;
    }
</script>
</__trans_section>