<mt:if name="screen_class" like="edit-entry|edit-page">
    <$mt:setvar name="is_edit_page" value="1"$>
</mt:if>
<mt:setvarblock name="html_head" prepend="1">
    <script type="text/javascript">
        var ScriptURI = '<mt:var name="script_url">';
        var StaticURI = '<mt:var name="static_uri">';
        var editor_another_setting = false;
    </script>
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/TinyMCE/css/TinyMCE.css" type="text/css" />
    <script type="text/javascript" src="<$mt:var name="static_uri"$>plugins/TinyMCE/lib/tinymce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="<$mt:var name="static_uri"$>plugins/TinyMCE/js/TinyMCE.js"></script>
    <mt:if name="is_edit_page">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/TinyMCE/css/TinyMCE_edit.css" type="text/css" />
    </mt:if>
    <script type="text/javascript">
        tinymce_editor.init['language'] = '<mt:if name="lang" eq="ja">ja<mt:else>en</mt:else></mt:if>';
        <mt:if name="editor_skin">
        tinymce_editor.init['skin'] = 'o2k7';
        tinymce_editor.init['skin_variant'] = 'silver';
        </mt:if>
        tinymce_editor.init['plugins'] = '<mt:ifPlugin component="KeitaiLib">emoji,</mt:ifPlugin><$mt:var name="editor_plugins" escape="js"$>';
        
        if(editor_another_setting){
            var editor_setting_btn1 = theme_advanced_buttons1;
            var editor_setting_btn2 = theme_advanced_buttons2;
            var editor_setting_btn3 = theme_advanced_buttons3;
            var editor_setting_btn4 = theme_advanced_buttons4;
            var editor_setting_btn5 = theme_advanced_buttons5;
            var editor_setting_css = editor_content_css;
        }else{
            var editor_setting_btn1 = '<$mt:var name="original_theme_advanced_buttons1" escape="js"$>';
            var editor_setting_btn2 = '<$mt:var name="original_theme_advanced_buttons2" escape="js"$>';
            var editor_setting_btn3 = '<$mt:var name="original_theme_advanced_buttons3" escape="js"$>';
            var editor_setting_btn4 = '<$mt:var name="original_theme_advanced_buttons4" escape="js"$>';
            var editor_setting_btn5 = '<$mt:var name="original_theme_advanced_buttons5" escape="js"$>';
            var editor_setting_css = '<$mt:var name="original_editor_style_css" escape="js"$>';
        }
        tinymce_editor.init['theme_advanced_buttons1'] = editor_setting_btn1;
        tinymce_editor.init['theme_advanced_buttons2'] = editor_setting_btn2;
        tinymce_editor.init['theme_advanced_buttons3'] = editor_setting_btn3;
        tinymce_editor.init['theme_advanced_buttons4'] = editor_setting_btn4;
        tinymce_editor.init['theme_advanced_buttons5'] = editor_setting_btn5;
        tinymce_editor.init['content_css'] = editor_setting_css;
        <$mt:var name="editor_advanced_setting"$>
        
        tinymce_editor.sub_init['blog_id'] = '<$mt:var name="blog_id" escape="js"$>';
        <mt:ifPlugin component="KeitaiLib">
        tinymce_editor.sub_init['emoji_path'] = '<$mt:var name="static_uri"$>plugins/KeitaiLib/images/<$MTKeitaiEmoticonSize$>/';
        </mt:ifPlugin>
        
        <__trans_section component="TinyMCE">
        tinymce_editor.trans['Insert_Image'] = '<__trans phrase="Insert Image" escape="js">';
        tinymce_editor.trans['Insert_File'] = '<__trans phrase="Insert File" escape="js">';
        tinymce_editor.trans['Insert_Link'] = '<__trans phrase="Insert Link" escape="js">';
        tinymce_editor.trans['Insert_Link'] = '<__trans phrase="Insert Link" escape="js">';
        </__trans_section>
        <mt:if name="is_edit_page">
        tinymce_editor.trans['Are_you_sure_you_want_to_use_the_Rich_Text_editor'] = '<__trans phrase="Are you sure you want to use the Rich Text editor?" escape="js">';
        </mt:if>
    </script>
</mt:setvarblock>
<mt:if name="is_edit_page">
    <mt:setvarblock name="editor_content" append="1">
    <mt:ignore>
        <div style="position:absolute;overflow:hidden;">
            <input id="tiny-dummy-focus" style="position:absolute;padding:1px;overflow:hidden;width:1px;height:1px;left:-1000px;" value="" />
        </div>
        <div id="tiny-formatted" class="editor-panel">
            <div class="field">
                <div class="field-content">
                    <div class="editor-sub" id="tiny-editor-content-enclosure" mt:min-height="66">
                        <textarea id="tiny-editor-content-textarea" class="mt-editor-content" name="tiny-editor-content-textarea" class="full-width" style="height:355px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </mt:ignore>
    </mt:setvarblock>
    <mt:setvarblock name="editor_content" append="1">
    <script type="text/javascript" src="<$mt:var name="static_uri"$>plugins/TinyMCE/js/TinyMCE_edit.js"></script>
    </mt:setvarblock>
</mt:if>
