<mtapp:setting
    id="default_module_objectgroup"
    label="<__trans phrase="Object Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_objectgroup" id="default_module_objectgroup"><mt:var name="default_module_objectgroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
<mtapp:setting id="og_entries_limit"
    label="<__trans phrase="The maximum number of entries and pages in edit screen">">
<ul>
  <li><input type="text" name="og_entries_limit" id="og_entries_limit" value="<mt:var name="og_entries_limit" escape="html">"></li>
</ul>
</mtapp:setting>
