<__trans_section component="CustomObject">
<mt:setvarblock name="list_id"><mt:var name="object_type">-listing</mt:setvarblock>
<mt:if name="blog_id"><mt:var name="blog_view" value="1"></mt:if>
<mt:unless name="search_replace">
<mt:unless name="dialog_view">
<mt:setvarblock name="action_buttons">
        <button
            onclick="if ( confirm ( '<mt:Trans component="$component" phrase="Are you sure you want to publish selected [_1]?" params="$class_label_plural">' ) ) { doForMarkedInThisWindow(getByID('<mt:var name="object_type">-listing-form'), '<__trans phrase="CustomObjects" escape="js">', '<__trans phrase="CustomObjects" escape="js">', 'id', 'publish_customobjects', { blog_id : <mt:if name="blog_id"><mt:var name="blog_id"><mt:else>0</mt:else></mt:if> }, '<__trans phrase="Publish" escape="js">'); return false;} else { return false; }"
            accesskey="p"
            title="<mt:Trans component="$component" phrase="Publish [_1] from selected datas (p)" params="$class_label_plural">"
            ><__trans phrase="Publish"></button>
        <button
            onclick="if ( confirm ( '<mt:Trans component="$component" phrase="Are you sure you want to unpublish selected [_1]?" params="$class_label_plural">' ) ) { doForMarkedInThisWindow(getByID('<mt:var name="object_type">-listing-form'), '<__trans phrase="CustomObjects" escape="js">', '<__trans phrase="CustomObjects" escape="js">', 'id', 'unpublish_customobjects', { blog_id : <mt:if name="blog_id"><mt:var name="blog_id"><mt:else>0</mt:else></mt:if> }, '<__trans phrase="Unpublish" escape="js">'); return false;} else { return false; }"
            accesskey="u"
            title="<mt:Trans component="$component" phrase="Unpublish [_1] from selected datas (u)" params="$class_label_plural">"
            ><__trans phrase="Unpublish"></button>
        <button
            class="mt-delete-items"
            onclick="doRemoveItems(getByID('<mt:var name="object_type">-listing-form'), '<mt:var name="class_label_plural" escape="js">', '<mt:var name="class_label_plural" escape="js">'); return false;"
            accesskey="x"
            title="<mt:Trans component="$component" phrase="Delete selected [_1] (x)" params="$class_label_plural">"
            ><__trans phrase="Delete"></button>
</mt:setvarblock>
<mt:else>
    <div class="listing-filter" style="margin-top:1em">
        <form action="<mt:var name="script_url">" method="get" id="modal-search">
            <input type="hidden" name="__mode" value="list_customobject" />
            <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
            <input type="hidden" name="edit_field" value="<mt:var name="edit_field" escape="html">" />
            <input type="hidden" name="dialog" value="1" />
            <input type="hidden" name="dialog_view" value="1" />
            <input type="hidden" name="costomobject_select" value="1" />
            <input type="hidden" name="class" value="<mt:var name="class">" />
            <input type="text" value="<mt:unless name="query"><__trans phrase="Search"><mt:else><mt:var name="query" escape="html"></mt:else></mt:unless>" name="query" class="search-input text med" onblur="if(this.value==''){this.style.color=''; this.form.reset()}" onfocus="this.value = ''; this.style.color = '#000';" />
            <input type="image" class="search-command search-submit" src="<$mt:var name="static_uri"$>images/search-submit-dialog.png" title="<__trans phrase="Search">" />
        </form>
    </div>
</mt:else>
</mt:unless>
</mt:unless>
<mt:setvarblock name="table_header">
    <tr>
        <mt:unless name="search_replace">
        <th class="col head cb" style="padding:7px;">
        <mt:unless name="dialog_view">
            <input type="checkbox" name="id-head" value="all" class="select" />
        </mt:unless>
        </th>
        </mt:unless>
        <th class="col head status" style="padding:7px;text-align:left;width:23px"><img src="<mt:var name="static_uri">images/status_icons/invert-flag.gif" width="9" height="9" alt="<__trans phrase="Status">" /></th>
        <th class="col head name" style="padding:7px;"><__trans phrase="Name"></th>
        <th class="col head author_name" style="padding:7px;width:77px"><__trans phrase="Author"></th>
        <th class="col head authored_on" style="padding:7px;width:77px"><__trans phrase="Publish Date"></th>
        <mt:if name="scope_type" ne="blog">
        <th class="col head blog_name" style="padding:7px;width:77px"><__trans phrase="Blog"></th>
        </mt:if>
    </tr>
</mt:setvarblock>

<mtapp:listing id="$list_id">
    <mt:if __first__>
            <thead><mt:var name="table_header"></thead>
            <tfoot><mt:var name="table_header"></tfoot>
            <tbody>
    </mt:if>
                <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                <mt:unless name="search_replace">
                    <td class="col cb">
                        <mt:if name="dialog_view">
                            <input type="radio" name="id" value="<mt:var name="id" escape="html">" class="select" />
                        <mt:else>
                            <mt:if name="can_edit">
                                <input type="checkbox" name="id" value="<mt:var name="id" escape="html">" class="select" />
                            </mt:if>
                        </mt:else>
                        </mt:if>
                    </td>
                </mt:unless>
                    <td class="col status" style="text-align:center;padding-top:10px">
                        <mt:unless name="search_replace">
                        <a href="<mt:var name="mt_url">?__mode=list_customobject&amp;blog_id=<mt:var name="blog_id">&amp;filter=status&amp;filter_val=<mt:var name="status"><mt:if name="dialog_view">&amp;dialog_view=1&amp;edit_field=<mt:var name="edit_field" escape="url">&amp;costomobject_select=1&amp;dialog=1</mt:if>&amp;class=<mt:var name="class">">
                        </mt:unless>
                        <mt:if name="status" eq="1"><img src="<mt:var name="static_uri">images/status_icons/draft.gif" width="9" height="9" alt="<__trans phrase="Draft">" /></mt:if>
                            <mt:if name="status" eq="2"><img src="<mt:var name="static_uri">images/status_icons/success.gif" width="9" height="9" alt="<__trans phrase="Publishing">" /></mt:if>
                        <mt:unless name="search_replace">
                        </a>
                        </mt:unless>
                    </td>
                    <td class="col name">
                        <input type="hidden" id="name-<mt:var name="id" escape="html">" value="<mt:var name="name" escape="html">" />
                    <mt:if name="can_edit"><a <mt:if name="dialog_view">target="_blank"</mt:if> href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<mt:var name="blog_id">&amp;id=<mt:var name="id">&amp;_type=customobject&amp;class=<mt:var name="class">"></mt:if>
                        <mt:var name="name" escape="html">
                    <mt:if name="can_edit"></a></mt:if>
                    </td>
                    <td class="col author_name">
                    <mt:unless name="search_replace">
                        <a href="<mt:var name="mt_url">?__mode=list_customobject&amp;blog_id=<mt:var name="blog_id">&amp;filter=author_id&amp;filter_val=<mt:var name="author_id"><mt:if name="dialog_view">&amp;dialog_view=1&amp;edit_field=<mt:var name="edit_field" escape="url">&amp;costomobject_select=1&amp;dialog=1</mt:if>&amp;class=<mt:var name="class">">
                    </mt:unless>
                    <mt:var name="author_name" escape="html">
                    <mt:unless name="search_replace">
                        </a>
                    </mt:unless>
                    </td>
                    <td class="col authored_on"><mt:var name="authored_on"></td>
                    <mt:if name="scope_type" ne="blog">
                    <td class="col blog_name"><a href="<mt:var name="mt_url">?__mode=list_customobject&amp;blog_id=<mt:var name="weblog_id">&amp;class=<mt:var name="class">"><mt:var name="weblog_name" escape="html"></a></td>
                    </mt:if>
                </tr>
    <mt:if __last__>
            </tbody>
    </mt:if>
</mtapp:listing>
<mt:if name="dialog_view">
<mt:include name="include/js_attachfield_multi.tmpl">
</mt:if>
</__trans_section>
