<__trans_section component="CustomObject">
<mt:setvarblock name="list_id"><mt:var name="object_type">-listing</mt:setvarblock>
<mt:if name="blog_id"><mt:var name="blog_view" value="1"></mt:if>
<mt:unless name="search_replace">
<mt:unless name="dialog_view">
<mt:setvarblock name="action_buttons">
        <button
            class="mt-delete-items button"
            onclick="doRemoveItems(getByID('<mt:var name="object_type">-listing-form'), '<mt:Trans component="$component" phrase="[_1] Groups" params="$class_label" escape="js">', '<mt:Trans component="$component" phrase="[_1] Groups" params="$class_label" escape="js">'); return false;"
            accesskey="x"
            title="<mt:Trans component="$component" phrase="Delete selected [_1] Groups (x)" params="$class_label">"
            ><__trans phrase="Delete"></button>
</mt:setvarblock>
<mt:else>
    <div class="listing-filter" style="margin-top:1em">
        <form action="<mt:var name="script_url">" method="get" id="modal-search">
            <input type="hidden" name="__mode" value="list_customobjectgroup" />
            <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
            <input type="hidden" name="edit_field" value="<mt:var name="edit_field" escape="html">" />
            <input type="hidden" name="dialog" value="1" />
            <input type="hidden" name="dialog_view" value="1" />
            <input type="hidden" name="costomobject_select" value="1" />
            <input type="hidden" name="class" value="<mt:var name="class">" />
            <input type="text" value="<mt:unless name="query"><__trans phrase="Search"><mt:else><mt:var name="query" escape="html"></mt:else></mt:unless>" name="query" class="search-input search-query" onblur="if(this.value==''){this.style.color=''; this.form.reset()}" onfocus="this.value = ''; this.style.color = '#000';" />
            <input type="image" class="search-command search-submit" src="<$mt:var name="static_uri"$>images/search-submit-dialog.png" title="<__trans phrase="Search">" />
            <a href="javascript:void(0)" class="search-reset hidden"><__trans phrase="Reset"></a>
        </form>
    </div>
</mt:else>
</mt:unless>
</mt:unless>
<mt:setvarblock name="table_header">
    <tr>
        <th class="col head cb" style="padding:7px;width:21px">
        <mt:unless name="dialog_view">
            <input type="checkbox" name="id-head" value="all" class="select" />
        </mt:unless>
        </th>
        <th class="col head name" style="padding:7px;<mt:if name="dialog_view">width:120px;</mt:if>"><__trans phrase="Name"> (<__trans phrase="Published">/<__trans phrase="Object Count">)</th>
    <mt:unless name="dialog_view">
        <th class="col head additem" style="padding:7px;width:200px;"><__trans phrase="Settings"></th>
    </mt:unless>
        <th class="col head author_name" style="padding:7px;width:70px"><__trans phrase="Author"></th>
        <mt:if name="scope_type" ne="blog">
        <th class="col head blog_name" style="padding:7px;"><__trans phrase="Blog"></th>
        </mt:if>
        <th class="col head created_on" style="padding:7px;"><__trans phrase="Created on"></th>
        <th class="col head modified_on" style="padding:7px;"><__trans phrase="Modified on"></th>
    </tr>
</mt:setvarblock>
<mtapp:listing id="$list_id">
    <mt:if __first__>
            <thead><mt:var name="table_header"></thead>
            <tfoot><mt:var name="table_header"></tfoot>
            <tbody>
    </mt:if>
                <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                    <td class="col cb">
                        <mt:if name="dialog_view">
                            <input type="radio" name="id" value="<mt:var name="id" escape="html">" class="select" />
                        <mt:else>
                        <mt:if name="can_edit"><input type="checkbox" name="id" value="<mt:var name="id" escape="html">" class="select" /></mt:if>
                        </mt:else>
                        </mt:if>
                    </td>
                    <td class="col name">
                    <input type="hidden" id="name-<mt:var name="id" escape="html">" value="<mt:var name="name" escape="html">" />
                    <mt:unless name="dialog_view"><mt:if name="can_edit"><a href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<mt:var name="blog_id">&amp;id=<mt:var name="id">&amp;_type=customobjectgroup<mt:if name="dialog_view">&amp;dialog_view=1&amp;edit_field=<mt:var name="edit_field" escape="url">&amp;costomobject_select=1&amp;dialog=1</mt:if>&amp;class=<mt:var name="class_raw">"></mt:if></mt:unless>
                        <mt:if name="name"><mt:var name="name" escape="html"><mt:else>...</mt:else></mt:if> (<mt:var name="published_children">/<mt:var name="count">)
                    <mt:unless name="dialog_view"><mt:if name="can_edit"></a></mt:if></mt:unless>
                    </td>
                <mt:unless name="dialog_view">
                    <td class="col additem">
                        <mt:if name="additem"><mt:Trans component="$component" phrase="Add new [_1]" params="$class_label"> (<mt:if name="addposition"><__trans phrase="Add last"><mt:else><__trans phrase="Add first"></mt:else></mt:if>)
                        <mt:if name="addfilter" eq="tag"><__trans phrase="Tag is">
                        '<mt:var name="addfiltertag" escape="html">'
                        </mt:if>
                        <mt:if name="addfilter" eq="blog"><__trans phrase="Website/Blog is">
                        '<mt:var name="filter_blogname" escape="html">'
                        </mt:if>
                        <mt:else><__trans phrase="None"></mt:else></mt:if>
                    </td>
                </mt:unless>
                    <td class="col author_name"><a href="<mt:var name="mt_url">?__mode=list_customobjectgroup&amp;blog_id=<mt:var name="screen_blog_id">&amp;filter=author_id&amp;filter_val=<mt:var name="author_id"><mt:if name="dialog_view">&amp;dialog_view=1&amp;edit_field=<mt:var name="edit_field" escape="url">&amp;costomobject_select=1&amp;dialog=1</mt:if>&amp;class=<mt:var name="class_raw">"><mt:var name="author_name" escape="html"></a></td>
                    <mt:if name="scope_type" ne="blog">
                    <td class="col blog_name"><a href="<mt:var name="mt_url">?__mode=list_customobjectgroup&amp;blog_id=<mt:var name="weblog_id"><mt:if name="dialog_view">&amp;dialog_view=1&amp;edit_field=<mt:var name="edit_field" escape="url">&amp;costomobject_select=1&amp;dialog=1</mt:if>&amp;class=<mt:var name="class_raw">"><mt:var name="weblog_name" escape="html"></a></td>
                    </mt:if>
                    <td class="col created_on"><mt:var name="created_on"></td>
                    <td class="col modified_on"><mt:var name="modified_on"></td>
                </tr>
    <mt:if __last__>
            </tbody>
    </mt:if>
</mtapp:listing>
<mt:if name="dialog_view">
<mt:include name="include/js_attachfield_multi.tmpl">
</mt:if>
</__trans_section>