<div id="folder-field" class="field field-folder ">
    <div class="field-header">
      <label id="folder-label" for="folder"><MTIgnore><img style="vartical-align:text-top" src="<mt:var name="static_uri">images/status_icons/create.gif" width="9" height="9" alt="<__trans phrase="Select">" /> </MTIgnore><__trans phrase="Folder"> <mt:var name="folder_path" escape="html"></label>
    </div>
    <div class="field-content ">
        <div mt:delegate="category-list" id="category-list" style="margin-bottom:1.2em;margin-top:0.4em;height:7em;overflow:auto;border:1px solid gray">
            <ul style="margin-left:1em;">
            <mt:loop name="category_tree">
                <li style="margin:0px;padding:2px;"><mt:var name="category_label_spacer"> <label><input type="radio" name="category_id" value="<mt:var name="folder_id">" <mt:if name="folder_id" eq="$category_id">checked="checked"</mt:if> /> <mt:var name="category_basename" escape="html"></label></li>
            </mt:loop>
            </ul>
        </div>
    </div>
</div>