<html>
    <head>
        <script type="text/javascript">
            parent.BlogTree.reload_noad();
            parent.jQuery.fn.mtDialog.close();
        </script>
    </head>
    <body></body>
</html>