<mtapp:setting
    id="hide_assets"
    label="<__trans phrase="Not Display Assets">">
    <input type="checkbox" name="hide_assets" id="hide_assets" value="1"<mt:if name="hide_assets"> checked="checked"</mt:if> /> <__trans phrase="Disable">
</mtapp:setting>