<mt:setvarblock name="html_head" append="1">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/BlogTree/css/BlogTree_summary.css" type="text/css" />
</mt:setvarblock>

<mtif name="blog_id">
    <mt:SetVarBlock name="blog_tree_label"><$mt:BlogName esscape="html"$></mt:SetVarBlock>
</mtif>
<mt:SetVarTemplate name="blog_tree_header">
    <ul class="status_menu">
<$MTBlogID setvar="perm_blog_id"$>
<MTIfUserCan blog_id="$perm_blog_id" permission="edit_templates">
        <li class="tmpl">
            <a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=template&amp;blog_id=<$MTBlogId$>" title="<__trans phrase="Template">">
                <img src="<$mt:var name="static_uri"$>images/nav_icons/color/templates.gif" alt="<__trans phrase="Template">" />
            </a>
        </li>
</MTIfUserCan>
<MTIfUserCan blog_id="$perm_blog_id" permission="manage_plugins">
        <li class="setting">
            <a href="<$mt:var name="script_url"$>?__mode=cfg_prefs&amp;blog_id=<$MTBlogId$>" title="<__trans phrase="Settings">">
                <img src="<$mt:var name="static_uri"$>images/nav_icons/color/settings.gif" alt="<__trans phrase="Settings">" />
            </a>
        </li>
</MTIfUserCan>
<MTIfUserCan blog_id="$perm_blog_id" permission="administer_blog">
        <li class="plugin">
            <a href="<$mt:var name="script_url"$>?__mode=cfg_plugins&amp;blog_id=<$MTBlogId$>" title="<__trans phrase="Plugins">">
                <img src="<$mt:var name="static_uri"$>images/nav_icons/color/plugins.gif" alt="<__trans phrase="Plugins">" />
            </a>
        </li>
</MTIfUserCan>
        <li class="view">
            <a href="<$MTBlogURL escape="html"$>" title="<__trans phrase="View Site">" target="_blank">
                <img src="<$mt:var name="static_uri"$>images/status_icons/view.gif" alt="<__trans phrase="View Site">" />
            </a>
        </li>
    </ul>
</mt:SetVarTemplate>

<mt:unless name="blog_id">
    <$mt:SetVar name="summary_mode" value="system"$>
<mt:else>
    <mt:IfWebsite>
        <$mt:SetVar name="summary_mode" value="website"$>
    <mt:else>
        <$mt:SetVar name="summary_mode" value="blog"$>
    </mt:IfWebsite>
</mt:unless>

<mt:SetVarBlock name="widget1"><__trans phrase="Unpublished (Review)">/<__trans phrase="Comments"></mt:SetVarBlock>

<mt:setvar name="show_posts" value="0">
<MTIfPlugin component="ContactForm">
    <mt:setvar name="show_posts" value="1">
<MTElse>
    <MTIfPlugin component="ContactForm">
        <mt:setvar name="show_posts" value="1">
    </MTIfPlugin>
</MTIfPlugin>

<mt:if name="summary_mode" eq="system">
        <$MTSetVar name="bt_i" value="1"$>
        <$MTSetVar name="group" value="0"$>
        <MTSetVarTemplate name="blog_status">
            <$mt:BlogName escape="html" setvar="blog_name"$>
            <$MTBlogID setvar="website_id"$>
            <mtapp:widget id="$widget_name" class="widget blog_tree_summary blog-tree-summary-widget" label="$blog_name" can_close="1">
                <MTIfUserHasPerm>
                    <$mt:var name="blog_tree_header"$>
                    <div id="blog_tree-status_body_<$MTGetVar name="bt_i"$>">
                        <div class="single box">
                            <h4><__trans phrase="Unpublished (Review)"></h4>
                            <ul>
                                <li class="odd"><MTIfUserCan blog_id="$website_id" permission="publish_post"><a href="<mt:var name="script_url">?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans phrase="Entry"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="3" include_blogs="children"$></span><MTIfUserCan blog_id="$website_id" permission="publish_post"></a></MTIfUserCan></li>
                                <li class="even"><MTIfUserCan blog_id="$website_id" permission="publish_post"><a href="<mt:var name="script_url">?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans phrase="Page"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="3" include_blogs="children"$></span><MTIfUserCan blog_id="$website_id" permission="publish_post"></a></MTIfUserCan></li>
                                <li class="odd"><MTIfUserCan blog_id="$website_id" permission="manage_feedback"><a href="<mt:var name="script_url">?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>&amp;filter_key=pending"></MTIfUserCan><__trans phrase="Comments"><span class="count"><$MTBlogTreeCommentCount junk_status="1" visible="0" include_blogs="children"$></span><MTIfUserCan blog_id="$website_id" permission="manage_feedback"></a></MTIfUserCan></li>
                                <li class="even"><MTIfUserCan blog_id="$website_id" permission="manage_feedback"><a href="<mt:var name="script_url">?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>&amp;filter_key=pending"></MTIfUserCan><__trans phrase="Trackbacks"><span class="count"><$MTBlogTreePingCount junk_status="1" visible="0" include_blogs="children"$></span><MTIfUserCan blog_id="$website_id" permission="manage_feedback"></a></MTIfUserCan></li>
<mt:if name="show_posts">
                                <li class="odd"><MTIfUserCan blog_id="$website_id" permission="manage_feedback"><a href="<mt:var name="script_url">?__mode=list&amp;_type=<MTIfPlugin component="ContactForm">feedback<MTElse>extraform</MTIfPlugin>&amp;blog_id=<$MTBlogId$><MTIfPlugin component="ContactForm">&amp;filter_key=unapproval<MTElse>&amp;filter=status&amp;filter_val=1</MTIfPlugin>"></MTIfUserCan><__trans_section component="BlogTree"><__trans phrase="Post"></__trans_section><span class="count"><$MTBlogTreeFormDataCount status="1" include_blogs="children"$></span><MTIfUserCan blog_id="$website_id" permission="manage_feedback"></a></MTIfUserCan></li>
</mt:if>
                            </ul>
                        </div>
                        <div class="single box">
                            <h4><__trans phrase="Entry">/<__trans phrase="Page"></h4>
                            <ul>
                                <li class="odd"><a href="<mt:var name="script_url">?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>"><__trans phrase="Entry"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" include_blogs="children"$></span></a></li>
                                <li class="even"><a href="<mt:var name="script_url">?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>"><__trans phrase="Page"><span class="count"><$MTBlogTreeEntriesCount class_type="page" include_blogs="children"$></span></a></li>
                            </ul>
                        </div>
                        <div class="single box">
                            <h4><__trans_section component="PowerCMS"><__trans phrase="PowerCMS Feedback"></__trans_section></h4>
                            <ul>
                                <li class="odd"><a href="<mt:var name="script_url">?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>"><__trans phrase="Comments"><span class="count"><$MTBlogTreeCommentCount include_blogs="children"$></span></a></li>
                                <li class="even"><a href="<mt:var name="script_url">?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>"><__trans phrase="Trackbacks"><span class="count"><$MTBlogTreePingCount include_blogs="children"$></span></a></li>
<mt:if name="show_posts">
                                <li class="odd"><a href="<mt:var name="script_url">?__mode=list&amp;_type=<MTIfPlugin component="ContactForm">feedback<MTElse>extraform</MTIfPlugin>&amp;blog_id=<$MTBlogId$>"><__trans_section component="BlogTree"><__trans phrase="Post"></__trans_section><span class="count"><$MTBlogTreeFormDataCount include_blogs="children"$></span></a></li>
</mt:if>
                            </ul>
                        </div>
                    </div>
                    <$MTSetVar name="bt_i" op="++"$>
                <MTElse>
                    <__trans phrase="No summary to show.">
                </MTIfUserHasPerm>
            </mtapp:widget>
        </MTSetVarTemplate>
        <MTWebsites>
                <$MTGetVar name="blog_status"$>
        </MTWebsites>
<mt:elseif name="summary_mode" eq="website">
        <$MTSetVar name="bt_i" value="1"$>
        <$MTSetVar name="group" value="0"$>
        <MTSetVarTemplate name="blog_status">
            <$mt:BlogName escape="html" setvar="blog_name"$>
            <$MTBlogID setvar="website_id"$>
            <mtapp:widget id="$widget_name" class="widget blog_tree_summary blog-tree-summary-widget" label="$blog_name" can_close="1">
                <MTIfUserHasPerm>
                    <$mt:var name="blog_tree_header"$>
                    <div id="blog_tree-status_body_<$MTGetVar name="bt_i"$>">
                        <div class="single box">
                            <h4><__trans phrase="Unpublished (Review)"></h4>
                            <ul>
                                <li class="odd"><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<mt:var name="script_url">?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans phrase="Entry"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="3" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                                <li class="even"><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<mt:var name="script_url">?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans phrase="Page"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="3" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                            </ul>
                        </div>
                        <div class="double box">
                            <h4><__trans phrase="Entry">/<__trans phrase="Page"></h4>
                            <div class="section odd">
                                <h5><MTIfUserCan blog_id="$blog_id" permission="create_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><span class="head"><__trans phrase="Entry"></span><span class="count"><$MTBlogTreeEntriesCount class_type="entry" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="create_post"></a></MTIfUserCan></h5>
                                <ul>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=2"></MTIfUserCan><__trans phrase="Published"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="2" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans_section component="BlogTree"><__trans phrase="Prepublished"></__trans_section><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="3" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="create_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=1"></MTIfUserCan><__trans phrase="Unpublished"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="1" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="create_post"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=4"></MTIfUserCan><__trans phrase="Future"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="4" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_templates"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=7"></MTIfUserCan><__trans phrase="Template"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="7" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_templates"></a></MTIfUserCan></li>
                                </ul>
                            </div>
                            <div class="section even">
                                <h5><MTIfUserCan blog_id="$blog_id" permission="manage_pages"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><span class="head"><__trans phrase="Page"></span><span class="count"><$MTBlogTreeEntriesCount class_type="page" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></h5>
                                <ul>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=2"></MTIfUserCan><__trans phrase="Published"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="2" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans_section component="BlogTree"><__trans phrase="Prepublished"></__trans_section><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="3" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_pages"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=1"></MTIfUserCan><__trans phrase="Unpublished"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="1" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_pages"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=4"></MTIfUserCan><__trans phrase="Future"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="4" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_templates"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=7"></MTIfUserCan><__trans phrase="Template"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="7" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_templates"></a></MTIfUserCan></li>
                                </ul>
                            </div>
                        </div>
                        <div class="double box">
                            <div class="section odd">
                                <h4><__trans phrase="Category">/<__trans phrase="Folder">/<__trans phrase="Tags"></h4>
                                <ul>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_categories"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=category&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="Category"><span class="count"><$MTBlogCategoryCount include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_categories"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_categories"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=folder&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="Folder"><span class="count"><$MTBlogTreeFolderCount include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_categories"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_tags"><a href="<$mt:var name="script_url"$>?__mode=list_tag&amp;blog_id=<$MTBlogId$>"><__trans phrase="Tags"></MTIfUserCan><span class="count"><$MTBlogTreeTagCount include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_tags"></a></MTIfUserCan></li>
                                </ul>
                            </div>
                            <div class="section even">
                                <h4><__trans phrase="Assets"></h4>
                                <ul>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_assets"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=asset&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="Assets"><span class="count"><$MTAssetCount include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_assets"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_assets"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=asset&amp;blog_id=<$MTBlogId$>&amp;filter_key=image"></MTIfUserCan><__trans phrase="Images"><span class="count"><$MTAssetCount type="image" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_assets"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_assets"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=asset&amp;blog_id=<$MTBlogId$>&amp;filter_key=audio"></MTIfUserCan><__trans phrase="Audio"><span class="count"><$MTAssetCount type="audio" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_assets"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_assets"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=asset&amp;blog_id=<$MTBlogId$>&amp;filter_key=video"></MTIfUserCan><__trans phrase="Videos"><span class="count"><$MTAssetCount type="video" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_assets"></a></MTIfUserCan></li>
                                </ul>
                            </div>
                        </div>
                        <div class="double box">
                            <h4><__trans_section component="PowerCMS"><__trans phrase="PowerCMS Feedback"></__trans_section></h4>
                            <div class="section odd">
                                <h5><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="Comments"><span class="count"><$MTBlogTreeCommentCount include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></h5>
                                <ul>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>&amp;filter_key=published"></MTIfUserCan><__trans phrase="published"><span class="count"><$MTBlogTreeCommentCount visible="1" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>&amp;filter_key=pending"></MTIfUserCan><__trans phrase="unpublished"><span class="count"><$MTBlogTreeCommentCount junk_status="1" visible="0" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>&amp;filter_key=spam"></MTIfUserCan><__trans phrase="Junk"><span class="count"><$MTBlogTreeCommentCount junk_status="-1" visible="0" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                                </ul>
                            </div>
                            <div class="section even">
                                <h5><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>"><__trans phrase="Trackbacks"><span class="count"><$MTBlogTreePingCount$></span></a></h5>
                                <ul>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>&amp;filter_key=published"></MTIfUserCan><__trans phrase="published"><span class="count"><$MTBlogTreePingCount visible="1" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>&amp;filter_key=pending"></MTIfUserCan><__trans phrase="unpublished"><span class="count"><$MTBlogTreePingCount junk_status="1" visible="0" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>&amp;filter_key=spam"></MTIfUserCan><__trans phrase="Junk"><span class="count"><$MTBlogTreePingCount junk_status="-1" visible="0" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                                </ul>
                            </div>
                        </div>
<mt:if name="show_posts">
<__trans_section component="BlogTree">
                        <div class="single box">
                            <h4><__trans phrase="Post"></h4>
                            <ul>
                                <li class="odd"><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=<MTIfPlugin component="ContactForm">feedback<MTElse>extraform</MTIfPlugin>&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="All"><span class="count"><$MTBlogTreeFormDataCount include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                                <li class="even">&nbsp;</li>
                                <li class="odd"><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=<MTIfPlugin component="ContactForm">feedback<MTElse>extraform</MTIfPlugin>&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=2"></MTIfUserCan><__trans phrase="Approved"><span class="count"><$MTBlogTreeFormDataCount status="2" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                                <li class="even"><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=<MTIfPlugin component="ContactForm">feedback<MTElse>extraform</MTIfPlugin>&amp;blog_id=<$MTBlogId$><MTIfPlugin component="ContactForm">&amp;filter_key=unapproval<MTElse>&amp;filter=status&amp;filter_val=1</MTIfPlugin>"></MTIfUserCan><__trans phrase="Pending"><span class="count"><$MTBlogTreeFormDataCount status="1" include_blogs="children"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                            </ul>
                        </div>
</__trans_section>
</mt:if>
                    </div>
                    <$MTSetVar name="bt_i" op="++"$>
                <MTElse>
                    <__trans phrase="No summary to show.">
                </MTIfUserHasPerm>
            </mtapp:widget>
        </MTSetVarTemplate>
        <$MTBlogId setvar="this_blog_id"$>
        <MTWebsites site_ids="$this_blog_id">
                <$MTGetVar name="blog_status"$>
        </MTWebsites>
<mt:else>
    <$mt:BlogName escape="html" setvar="blog_name"$>
    <mtapp:widget id="blog_tree_summary" class="widget blog_tree_summary blog-tree-summary-widget" label="$blog_name" can_close="1">
        <$mt:var name="blog_tree_header"$>
        <div class="single box">
            <h4><__trans phrase="Unpublished (Review)"></h4>
            <ul>
                <li class="odd"><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<mt:var name="script_url">?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans phrase="Entry"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="3"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                <li class="even"><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<mt:var name="script_url">?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans phrase="Page"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="3"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
            </ul>
        </div>
        <div class="double box">
            <h4><__trans phrase="Entry">/<__trans phrase="Page"></h4>
            <div class="section odd">
                <h5><MTIfUserCan blog_id="$blog_id" permission="create_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><span class="head"><__trans phrase="Entry"></span><span class="count"><$MTBlogTreeEntriesCount class_type="entry"$></span><MTIfUserCan blog_id="$blog_id" permission="create_post"></a></MTIfUserCan></h5>
                <ul>
                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=2"></MTIfUserCan><__trans phrase="Published"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="2"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans phrase="Prepublished"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="3"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="create_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=1"></MTIfUserCan><__trans phrase="Unpublished"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="1"$></span><MTIfUserCan blog_id="$blog_id" permission="create_post"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=4"></MTIfUserCan><__trans phrase="Future"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="4"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_templates"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=entry&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=7"></MTIfUserCan><__trans phrase="Template"><span class="count"><$MTBlogTreeEntriesCount class_type="entry" status="7"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_templates"></a></MTIfUserCan></li>
                </ul>
            </div>
            <div class="section even">
                <h5><MTIfUserCan blog_id="$blog_id" permission="manage_pages"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><span class="head"><__trans phrase="Page"></span><span class="count"><$MTBlogTreeEntriesCount class_type="page"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></h5>
                <ul>
                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=2"></MTIfUserCan><__trans phrase="Published"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="2"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=3"></MTIfUserCan><__trans phrase="Prepublished"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="3"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_pages"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=1"></MTIfUserCan><__trans phrase="Unpublished"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="1"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_pages"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="publish_post"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=4"></MTIfUserCan><__trans phrase="Future"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="4"$></span><MTIfUserCan blog_id="$blog_id" permission="publish_post"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_templates"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=page&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=7"></MTIfUserCan><__trans phrase="Template"><span class="count"><$MTBlogTreeEntriesCount class_type="page" status="7"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_templates"></a></MTIfUserCan></li>
                </ul>
            </div>
        </div>
        <div class="double box">
            <div class="section odd">
                <h4><__trans phrase="Category">/<__trans phrase="Folder">/<__trans phrase="Tags"></h4>
                <ul>
                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_categories"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=category&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="Category"><span class="count"><$MTBlogCategoryCount$></span><MTIfUserCan blog_id="$blog_id" permission="edit_categories"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_categories"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=folder&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="Folder"><span class="count"><$MTBlogTreeFolderCount$></span><MTIfUserCan blog_id="$blog_id" permission="edit_categories"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_tags"><a href="<$mt:var name="script_url"$>?__mode=list_tag&amp;blog_id=<$MTBlogId$>"><__trans phrase="Tags"></MTIfUserCan><span class="count"><$MTBlogTreeTagCount$></span><MTIfUserCan blog_id="$blog_id" permission="edit_tags"></a></MTIfUserCan></li>
                </ul>
            </div>
            <div class="section even">
                <h4><__trans phrase="Assets"></h4>
                <ul>
                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_assets"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=asset&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="Assets"><span class="count"><$MTAssetCount$></span><MTIfUserCan blog_id="$blog_id" permission="edit_assets"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_assets"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=asset&amp;blog_id=<$MTBlogId$>&amp;filter_key=image"></MTIfUserCan><__trans phrase="Images"><span class="count"><$MTAssetCount type="image"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_assets"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_assets"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=asset&amp;blog_id=<$MTBlogId$>&amp;filter_key=audio"></MTIfUserCan><__trans phrase="Audio"><span class="count"><$MTAssetCount type="audio"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_assets"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="edit_assets"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=asset&amp;blog_id=<$MTBlogId$>&amp;filter_key=video"></MTIfUserCan><__trans phrase="Videos"><span class="count"><$MTAssetCount type="video"$></span><MTIfUserCan blog_id="$blog_id" permission="edit_assets"></a></MTIfUserCan></li>
                </ul>
            </div>
        </div>
        <div class="double box">
            <h4><__trans_section component="PowerCMS"><__trans phrase="PowerCMS Feedback"></__trans_section></h4>
            <div class="section odd">
                <h5><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="Comments"><span class="count"><$MTBlogTreeCommentCount$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></h5>
                <ul>
                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>&amp;filter_key=published"></MTIfUserCan><__trans phrase="published"><span class="count"><$MTBlogTreeCommentCount visible="1"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>&amp;filter_key=pending"></MTIfUserCan><__trans phrase="unpublished"><span class="count"><$MTBlogTreeCommentCount junk_status="1" visible="0"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=comment&amp;blog_id=<$MTBlogId$>&amp;filter_key=spam"></MTIfUserCan><__trans phrase="Junk"><span class="count"><$MTBlogTreeCommentCount junk_status="-1" visible="0"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                </ul>
            </div>
            <div class="section even">
                <h5><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>"><__trans phrase="Trackbacks"><span class="count"><$MTBlogTreePingCount$></span></a></h5>
                <ul>
                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>&amp;filter_key=published"></MTIfUserCan><__trans phrase="published"><span class="count"><$MTBlogTreePingCount visible="1"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>&amp;filter_key=pending"></MTIfUserCan><__trans phrase="unpublished"><span class="count"><$MTBlogTreePingCount junk_status="1" visible="0"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                    <li><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=ping&amp;blog_id=<$MTBlogId$>&amp;filter_key=spam"></MTIfUserCan><__trans phrase="Junk"><span class="count"><$MTBlogTreePingCount junk_status="-1" visible="0"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                </ul>
            </div>
        </div>
<mt:if name="show_posts">
<__trans_section component="BlogTree">
        <div class="single box">
            <h4><__trans phrase="Post"></h4>
            <ul>
                <li class="odd"><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=<MTIfPlugin component="ContactForm">feedback<MTElse>extraform</MTIfPlugin>&amp;blog_id=<$MTBlogId$>"></MTIfUserCan><__trans phrase="All"><span class="count"><$MTBlogTreeFormDataCount$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                <li class="even">&nbsp;</li>
                <li class="odd"><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=<MTIfPlugin component="ContactForm">feedback<MTElse>extraform</MTIfPlugin>&amp;blog_id=<$MTBlogId$>&amp;filter=status&amp;filter_val=2"></MTIfUserCan><__trans phrase="Approved"><span class="count"><$MTBlogTreeFormDataCount status="2"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
                <li class="even"><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"><a href="<$mt:var name="script_url"$>?__mode=list&amp;_type=<MTIfPlugin component="ContactForm">feedback<MTElse>extraform</MTIfPlugin>&amp;blog_id=<$MTBlogId$><MTIfPlugin component="ContactForm">&amp;filter_key=unapproval<MTElse>&amp;filter=status&amp;filter_val=1</MTIfPlugin>"></MTIfUserCan><__trans phrase="Pending"><span class="count"><$MTBlogTreeFormDataCount status="1"$></span><MTIfUserCan blog_id="$blog_id" permission="manage_feedback"></a></MTIfUserCan></li>
            </ul>
        </div>
</__trans_section>
</mt:if>
    </mtapp:widget>
</mt:if>