<mtapp:setting
    id="default_module_bloggroup"
    label="<__trans phrase="Blog Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_bloggroup" id="default_module_bloggroup"><mt:var name="default_module_bloggroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="default_module_websitegroup"
    label="<__trans phrase="Website Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_websitegroup" id="default_module_websitegroup"><mt:var name="default_module_websitegroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="default_module_blogwebsitegroup"
    label="<__trans phrase="Blog / Website Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_blogwebsitegroup" id="default_module_blogwebsitegroup"><mt:var name="default_module_blogwebsitegroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
