@media print { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
    .ui-tabs-nav {
        display: none;
    }
}

/**
 * ==============================================
 * OVERWRITE MT BASE CSS
 * ==============================================
 */

#menu {
    margin-bottom: 0px;
    margin-left: 0px;
    float: none;
    width: 153px;
}

ul.menu-nav {
}

ul.menu-nav li {
    margin-bottom: 0px;
}

ul.menu-nav li a {
    display: block;
    outline: 0 none;
    text-decoration: none;
}

#footer,
.debug-panel {
    width: auto;
    left: 154px;
    right: 0px;
}

/**
 * ==============================================
 * .tabs
 * ==============================================
 */

#menu_wrapper {
    position: absolute;
    width: 175px;
    margin-left: -190px;
    z-index: 400;
}

#manu_stage {
    overflow: auto;
}

#manu_stage .tab_item {
    display: none;
}

#manu_stage #tab_menu {
    display: block;
}


#menu_tabs
{
    padding-top: 10px;
    width: 22px;
    position: absolute;
    left: 153px;
    z-index: 400;
}

#menu_tabs li
{
    width: 22px;
    height: 46px;
}

#menu_tabs a {
    display: block;
    width: 22px;
    height: 46px;
    overflow: hidden;
    background: url(../images/tab.gif) no-repeat 0px 0px;
    background-repeat: no-repeat;
    text-indent: -1000em;
    outline: none;
}

#menu_tabs a.current {
    background-position: -22px 0px;
}

#menu_tabs .trigger_menu a {
    background-image: url(../images/tab_menu.gif);
}



/**
 * ==============================================
 * #menu
 * ==============================================
 */

.has-menu-nav #menu
{
    border: none;
    border-top: 1px solid #C8C2BE;
    border-right: 1px solid #C8C2BE;
    background-color: #f3f3f3;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
}

/*\*/
* html .has-menu-nav #menu  {
    border-bottom: 1px solid #C8C2BE;
}
/**/

.has-menu-nav #menu .menu-nav
{
    margin: 10px 10px 30px 10px;
}

.has-menu-nav #menu #tab_item #main-table,
.has-menu-nav #menu #tab_page #main-table
{
    width: 100%;
}

.has-menu-nav #menu #tab_item
{
/*
    overflow: auto;
*/
}

.has-menu-nav #menu #tab_page .iframe_box
{
    overflow-y: auto;
    overflow-x: hidden;
}

#tab_menu
{
}

#indicate
{
    display: none;
    padding: 20px 0 30px;
    text-align: center;
}
