<mtapp:setting
    id="standard_fields"
    label="<__trans phrase="Standard Field">"
    hint="<__trans phrase="Setting about inputs like 'LABEL,name', per line.">"
    show_hint="1">
    <ul>
        <li>
            <textarea rows="10" name="standard_fields" id="standard_fields" /><mt:var name="standard_fields" escape="html"></textarea><br />
        </li>
    </ul>
</mtapp:setting>
<mtapp:setting
    id="ext_fields"
    label="<__trans phrase="Ext Field">"
    hint="<__trans phrase="Setting about ExtFields labels, per line.">"
    show_hint="1">
    <ul>
        <li>
            <textarea rows="10" name="ext_fields" id="ext_fields" /><mt:var name="ext_fields" escape="html"></textarea>
        </li>
    </ul>
</mtapp:setting>
<mtapp:setting
    id="category_equired"
    label="<__trans phrase="Category">">
    <label>
        <input type="checkbox" name="category_equired" id="category_equired" value="1" <mt:if name="category_equired">checked="checked"</mt:if> />
        <__trans phrase="The entry categories are required.">
    </label>
</mtapp:setting>
<mtapp:setting
    id="preview_check"
    label="<__trans phrase="Preview">">
    <label>
        <input type="checkbox" name="preview_check" id="preview_check" value="1" <mt:if name="preview_check">checked="checked"</mt:if> />
        <__trans phrase="When you check the preview.">
    </label>
</mtapp:setting>
