    <mtapp:setting
        id="directory"
        label="<__trans phrase="Uploadable file path">">
    <ul>
    <li><input type="text" value="<mt:var name="directory" escape="HTML">" name="directory" id="directory" /></li>
    </ul>
    </mtapp:setting>
    <mt:ignore>
    <mtapp:setting
        id="limit"
        label="<__trans phrase="Pager limit">">
    <ul>
    <li><input type="text" value="<mt:var name="limit" escape="HTML">" name="limit" id="limit" /></li>
    </ul>
    </mtapp:setting>
    </mt:ignore>
        <mtapp:setting
        id="limit"
        label_class="no-header"
        label="<__trans phrase="Pager limit">">
    </mtapp:setting>
    <input type="hidden" value="<mt:var name="limit" escape="HTML">" name="limit" id="limit" />
    <mtapp:setting
        id="rel2abs"
        label="<__trans phrase="Convert relative asset path to absolute path">">
    <ul>
    <li>
        <label><input type="radio" name="rel2abs" id="rel2abs_none" value="0" <mt:if name="rel2abs" eq="0">checked="checked"</mt:if> /> <__trans phrase="None"></label><br />
        <label><input type="radio" name="rel2abs" id="rel2abs_richtext" value="1" <mt:if name="rel2abs" eq="1">checked="checked"</mt:if> /> <__trans phrase="Rechtext only"></label><br />
        <label><input type="radio" name="rel2abs" id="rel2abs_all" value="2" <mt:if name="rel2abs" eq="2">checked="checked"</mt:if> /> <__trans phrase="Any textformat"></label>
    </li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="create_asset"
        label="<__trans phrase="Create Asset">">
    <ul>
    <li>
        <label><input type="checkbox" name="create_asset" id="create_asset" value="1" <mt:if name="create_asset">checked="checked"</mt:if> /> <__trans phrase="Create Asset when convert path."></label>
        <input type="hidden" name="create_asset" id="create_asset_hidden" value="0" />
    </li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="not_import"
        label="<__trans phrase="Exclude(File extensions)">">
    <ul>
    <li><input type="text" value="<mt:var name="not_import" escape="HTML">" name="not_import" id="not_import" /></li>
    </ul>
    </mtapp:setting>    
    
    <mtapp:setting
        id="rename_file"
        label="<__trans phrase="Upload">">
    <ul>
    <li>
        <label><input type="checkbox" name="rename_file" id="rename_file" value="1" <mt:if name="rename_file">checked="checked"</mt:if> /> <__trans phrase="Rename upload file when exist same file name."></label>
        <input type="hidden" name="rename_file" id="rename_file_hidden" value="0" />
    </li>
    </ul>
    </mtapp:setting>
