<__trans_section component="SidebarAssets">
<mt:setvarblock name="sidebar_image_list">
<$mt:setvar name="edit_class" value="assets_item"$>
<mt:if name="can_upload"><$mt:setvar name="edit_class" value="can_upload " prepend="1"$></mt:if>
<mt:if name="can_save_image_defaults"><$mt:setvar name="edit_class" value="can_save " prepend="1"$></mt:if>
<mt:if name="can_edit_assets"><$mt:setvar name="edit_class" value="can_edit " prepend="1"$></mt:if>
<mt:loop name="asset_loop">
    <mt:unless name="delete_id" eq="$asset_id">
        <mt:setvarblock name="edit_url"><$mt:var name="script_url"$>?__mode=view&amp;_type=asset&amp;__type=dialog&amp;id=<$mt:var name="asset_id"$>&amp;blog_id=<$mt:var name="blog_id"$>&amp;dialog=1</mt:setvarblock>
        <mt:if name="__odd__">
            <$mt:var name="style" value="odd"$>
        <mt:else>
            <$mt:var name="style" value="even"$>
        </mt:if>
        <mt:if name="page_class" eq="*">
            <$mt:SetVar name="load_class" value="all"$>
        <mt:else>
            <mt:SetVarBlock name="load_class"><$mt:var name="page_class"$></mt:SetVarBlock>
        </mt:if>
        <table class="sidebar_asset-<$mt:var name="asset_id"$> <$mt:var name="asset_class"$> <$mt:var name="icon_class"$> <$mt:var name="style"$>">
            <tr>
                <td class="thumbnail">
                    <mt:if name="asset_class" eq="image">
                    <script type="text/javascript">
                        var selector = '.item_asset_id_<$mt:var name="asset_id"$> img';
                        var new_rule = 'width:<$mt:var name="thumb_width"$>px !important; height:<$mt:var name="thumb_height"$>px !important;';
                        var sheets = document.styleSheets;
                        if(sheets){
                            var tSheet=sheets[sheets.length-1];
                            if(tSheet.addRule){
                                tSheet.addRule(selector,new_rule);
                            }else if(tSheet.insertRule){
                                tSheet.insertRule(selector+'{'+new_rule+'}',tSheet.cssRules.length);
                            }
                        }
                    </script>
                    </mt:if>
                    <table>
                        <tr>
                            <td class="thumbnail_image item_asset_id_<$mt:var name="asset_id"$>">
                                <mt:if name="asset_class" eq="image">
                                    <img src="<$mt:var name="asset_url"$>" alt="<$mt:var name="asset_label"$>" width="<$mt:var name="asset_width"$>" height="<$mt:var name="asset_height"$>" />
                                <mt:else>
                                    <a class="<$mt:var name="edit_class"$>" target="_blank" href="<$mt:var name="asset_url"$>" title="<$mt:var name="asset_url"$> (<$mt:var name="asset_label"$> : <$mt:var name="asset_mime_type"$>)">
                                    <span><$mt:var name="asset_label"$></span>
                                    </a>
                                </mt:if>
                            </td>
                        </tr>
                        <tr>
                            <td class="thumbnail_footer"<mtignore> id="thumb_<$mt:var name="load_class"$>_<$mt:var name="asset_id"$>"</mtignore>>
                                <mtignore><$MTPluginSetting component="SidebarAssets" name="sidebar_width" setvar="tab_width"$></mtignore>
                                <$MTSetVar name="tab_width" value="148"$>
                                <mt:setvarblock name="table_w"><$mt:var name="tab_width" op="/" value="2"$></mt:setvarblock>
                                <div class="file_name" style="width:<$mt:var name="table_w" op="-" value="20"$>px;">
                                    <a target="_blank" href="<$mt:var name="asset_url"$>" class="<$mt:var name="edit_class"$>" mt:asset_id="<$mt:var name="asset_id"$>"<mtignore> id="footer_asset_<$mt:var name="asset_id"$>"</mtignore> <MTIfIE><mt:else>title="<$mt:var name="asset_url"$> (<mt:if name="asset_class" eq="image"><$mt:var name="asset_width"$> x <$mt:var name="asset_height"$>px<mt:else><$mt:var name="asset_label"$> : <$mt:var name="asset_mime_type"$></mt:else></mt:if>)"</mt:else></MTIfIE>><mt:if name="asset_label"><$mt:var name="asset_label"$><mt:else>&nbsp;</mt:else></mt:if></a>
                                </div>
                                
                            </td>
                        </tr>
                    </table>
                </td>
                <mtignore>
                <td class="icons">
                    <a href="<$mt:var name="asset_url"$>" target="_blank"><img src="<$mt:var name="static_uri"$>images/status_icons/view.gif" alt="<__trans phrase="View">" /></a>
                    <mt:if name="can_edit_assets">
                        <a title="<__trans phrase="Edit">" class="mt-open-dialog" href="<$mt:var name="edit_url"$>"><img src="<mt:var name="static_uri">images/nav_icons/color/new-entry.gif" alt="<__trans phrase="Edit">" width="17" height="15" style="vertical-align:middle" /></a>
                    </mt:if>
                </td>
                </mtignore>
            </tr>
        </table>
    </mt:unless>
</mt:loop>
</mt:setvarblock>
<$mt:var name="sidebar_image_list" trim="1" strip_linefeeds="1"$>
<mt:if name="blog_id">
<script type="text/javascript">
asset_count = {
    all   : <$mt:SidebarAssetCount blog_id="$blog_id"$>,
    file  : <$mt:SidebarAssetCount blog_id="$blog_id" class="file"$>,
    image : <$mt:SidebarAssetCount blog_id="$blog_id" class="image"$>,
    audio : <$mt:SidebarAssetCount blog_id="$blog_id" class="audio"$>,
    video : <$mt:SidebarAssetCount blog_id="$blog_id" class="video"$>
};
</script>

</mt:if>
</__trans_section>