<mtapp:setting
    id="default_module_categorygroup"
    label="<__trans phrase="Category Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_categorygroup" id="default_module_categorygroup"><mt:var name="default_module_categorygroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="default_module_foldergroup"
    label="<__trans phrase="Folder Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_foldergroup" id="default_module_foldergroup"><mt:var name="default_module_foldergroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="default_module_categoryfoldergroup"
    label="<__trans phrase="Category / Folder Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_categoryfoldergroup" id="default_module_categoryfoldergroup"><mt:var name="default_module_categoryfoldergroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
