<__trans_section component="EntryWorkflow">
<mt:setvarblock name="page_title"><__trans phrase="Change author"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<style type="text/css">
#wf_status_approval-field {
    margin-bottom: 0px;
}

#entry-workflow-message-field .field-header {
    display: none;
}
</style>
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">
<form method="post" action="<mt:var name="script_url">" target="_parent">
    <input type="hidden" name="__mode" value="sendback" />
    <input type="hidden" name="_type" value="<$mt:var name="object_type" escape="html"$>" />
    <input type="hidden" name="id" value="<$mt:var name="entry_id" escape="html"$>" />
    <input type="hidden" name="blog_id" value="<$mt:var name="blog_id" escape="html"$>" />
    <input type="hidden" name="revision_id" value="<$mt:var name="revision_id" escape="html"$>" />
    <input type="hidden" name="magic_token" value="<$mt:var name="magic_token" escape="html"$>" />
    <mtapp:setting
        id="change_author_id"
        label="<__trans phrase="Please select author.">"
        label_class="top-label">
        <div>
            <select name="change_author_id" id="change_author_id" onchange="toggle_notification_approve( this )">
                <option value=""><__trans phrase="None"></option>
            <mt:loop name="creator_loop">
                <mt:if name="__first__"><optgroup label="<__trans phrase="Creator">" id="optgroup_creator"></mt:if>
                <option class="creator" value="<mt:var name="author_id">"><mt:var name="author_nickname" escape="html"></option>
                <mt:if name="__last__"></optgroup></mt:if>
            </mt:loop>
            <mt:loop name="approver_loop">
                <mt:if name="__first__"><optgroup label="<__trans phrase="Approver">" id="optgroup_approver"></mt:if>
                <option class="approver" value="<mt:var name="author_id">"><mt:var name="author_nickname" escape="html"></option>
                <mt:if name="__last__"></optgroup></mt:if>
            </mt:loop>
            <mt:if name="wf_approver">
                <mt:setvar name="show_publisher" value="1">
                <mt:setvar name="show_administer" value="1">
            </mt:if>
            <mt:if name="wf_can_publish">
                <mt:setvar name="show_publisher" value="1">
                <mt:setvar name="show_administer" value="1">
            </mt:if>
            <mt:if name="show_publisher">
                <mt:loop name="publisher_loop">
                    <mt:if name="__first__"><optgroup label="<__trans phrase="Publisher">" id="optgroup_publisher"></mt:if>
                    <option class="publisher" value="<mt:var name="author_id">"><mt:var name="author_nickname" escape="html"></option>
                    <mt:if name="__last__"></optgroup></mt:if>
                </mt:loop>
            </mt:if>
            <mt:if name="show_administer">
                <mt:loop name="administer_loop">
                    <mt:if name="__first__"><optgroup label="<__trans phrase="Administer">" id="optgroup_administer"></mt:if>
                    <option class="administer" value="<mt:var name="author_id">"><mt:var name="author_nickname" escape="html"></option>
                    <mt:if name="__last__"></optgroup></mt:if>
                </mt:loop>
            </mt:if>
            </select>
        </div>
        <mt:if name="id">
            <mt:unless name="wf_entry_author_can_publish">
                <mt:if name="wf_can_publish">
        <p class="alert-warning-inline" id="change-author-warning">
        <img src="<mt:var name="static_uri">/images/status_icons/warning.gif" alt="<__trans phrase="Warning">" width="9" height="9" />
            <__trans phrase="Warning: If, when you publish the page has been owned by an unauthorized user public ownership will be changed to your page.">
        </p>
                </mt:if>
            </mt:unless>
        </mt:if>
        <p class="alert-warning-inline" id="creator-warning" style="display:none">
        <img src="<mt:var name="static_uri">/images/status_icons/warning.gif" alt="<__trans phrase="Warning">" width="9" height="9" />
            <__trans phrase="Warning: If the page is notified to the authority in Creator, status on the page is automatically drafted.">
        </p>
        <p class="alert-warning-inline" id="approver-warning" style="display:none">
        <img src="<mt:var name="static_uri">/images/status_icons/warning.gif" alt="<__trans phrase="Warning">" width="9" height="9" />
            <__trans phrase="Warning: If the page is notified to the authority in Approver, status on the page is automatically drafted.">
        </p>
        <p class="alert-warning-inline" id="not-edit_all_posts-warning" style="display:none">
        <img src="<mt:var name="static_uri">/images/status_icons/warning.gif" alt="<__trans phrase="Warning">" width="9" height="9" />
            <__trans phrase="Warning: If the page is notified to the other user, As for you, the authority to edit the page is lost.">
        </p>
        <p class="alert-warning-inline" id="approval-warning" style="display:none">
        <img src="<mt:var name="static_uri">/images/status_icons/warning.gif" alt="<__trans phrase="Warning">" width="9" height="9" />
            <__trans phrase="Warning: If the request for approval, As for you, the authority to edit the page is lost.">
        </p>
    </mtapp:setting>
    <div id="entry-workflow-textarea-wrapper">
        <mt:if name="powercms_installed">
        <mtapp:setting
            id="wf_status_approval"
            label="<__trans phrase="E-mail Notification">"
            label_class="top-label">
            <label>
            <input type="checkbox" onchange="toggle_approval_warning( this )" value="3" name="wf_status_approval" id="wf_status_approval" />
            <__trans phrase="Request the Approve.">
            </label>
        </mtapp:setting>
        </mt:if>
        <mtapp:setting
            id="entry-workflow-message"
            label="<__trans phrase="Please enter an message for send back.">"
            label_class="top-label">
            <textarea name="entry-workflow-message" id="entry-workflow-message" class="text full" style="height:220px"></textarea>
        </mtapp:setting>
    </div>
    <div class="actions-bar">
        <div class="actions-bar-inner pkg actions">
            <button
                type="submit"
                accesskey="s"
                title="<__trans phrase="Send">"
                class="button action primary"
                id="submit"
                ><__trans phrase="Send"></button>
            <button
                onclick="closeDialog(); return false"
                type="submit"
                accesskey="x"
                class="button action cancel mt-close-dialog"
                title="<__trans phrase="Cancel (x)">"
                ><__trans phrase="Cancel"></button>
        </div>
    </div>
</form>

<script type="text/javascript">
<mt:if name="powercms_installed">
    function toggle_approval_warning( cb ) {
        if ( cb.checked ) {
            <mt:unless name="wf_can_publish">
            if ( getByID( 'not-edit_all_posts-warning' ).style.display == 'none' ) {
                getByID( 'approval-warning' ).style.display = 'block';
            }
            </mt:unless>
        } else {
            getByID( 'approval-warning' ).style.display = 'none';
        }
    }
</mt:if>
    function toggle_notification_approve ( sel, selected_value ) {
        var area = getByID( 'entry-workflow-textarea-wrapper' );
        if ( sel.selectedIndex == 0 ) {
            jQuery( '#submit' ).attr('disabled','disabled').addClass('disabled');
            //area.style.display = 'none';
            getByID( 'not-edit_all_posts-warning' ).style.display = 'none';
        } else {
            jQuery( '#submit' ).removeAttr('disabled').removeClass('disabled');
            //area.style.display = 'block';
    <mt:if name="entry_class" eq="entry">
        <mt:if name="wf_not_edit_all_posts">
            getByID( 'not-edit_all_posts-warning' ).style.display = 'block';
        </mt:if>
    <mt:else>
    <mt:if name="wf_not_edit_all_posts">
        <mt:if name="powercms_installed">
            getByID( 'not-edit_all_posts-warning' ).style.display = 'block';
        </mt:if>
    </mt:if>
    </mt:else>
    </mt:if>
        }
        var opt = sel.options[ sel.selectedIndex ];
        var classname = opt.className;
    <mt:unless name="wf_creator">
        if ( classname.indexOf( 'creator' ) == 0 ) {
            getByID( 'creator-warning' ).style.display = 'block';
        }
    </mt:unless>
    <mt:if name="wf_can_publish">
        if ( classname.indexOf( 'approver' ) == 0 ) {
            getByID( 'approver-warning' ).style.display = 'block';
        }
    </mt:if>
        if ( classname.indexOf( 'creator' ) != 0 ) {
            getByID( 'creator-warning' ).style.display = 'none';
        }
        if ( classname.indexOf( 'approver' ) != 0 ) {
            getByID( 'approver-warning' ).style.display = 'none';
        }
    <mt:if name="powercms_installed">
        if ( classname.indexOf( 'administer' ) == 0 ) {
            jQuery( '#wf_status_approval-field .field-content' ).show();
        } else if ( classname.indexOf( 'publisher' ) == 0 ) {
            jQuery( '#wf_status_approval-field .field-content' ).show();
        } else {
            jQuery( '#wf_status_approval-field .field-content' ).hide();
        }
    </mt:if>
    }
    
    toggle_notification_approve( getByID('change_author_id') );
    
</script>

<mt:include name="dialog/footer.tmpl">
</__trans_section>