<__trans_section component="PowerRevision">
<mt:setvarblock name="list_id"><$mt:var name="object_type"$>-listing</mt:setvarblock>
<mt:if name="scope_type" eq="blog"><mt:var name="blog_view" value="1"></mt:if>
<mt:setvarblock name="action_buttons">
    <mt:unless name="is_search">
        <button
            onclick="if ( confirm ( '<__trans phrase="Are you sure you want to recover entries form selected revision datas?">' ) ) { doForMarkedInThisWindow(getByID('<$mt:var name="object_type"$>-listing-form'), '<__trans phrase="Revision datas" escape="js">', '<__trans phrase="Revision datas" escape="js">', 'id', 'recover_entries', { blog_id : <mt:if name="blog_id"><$mt:var name="blog_id"$><mt:else>0</mt:else></mt:if> }, '<__trans phrase="Recover" escape="js">'); return false;}else{return false;}"
            accesskey="r"
            title="<__trans phrase="Recover entries from selected revision datas (r)">"
            ><__trans phrase="Recover"></button>

        <button
            onclick="doRemoveItems(getByID('<$mt:var name="object_type"$>-listing-form'), '<__trans phrase="Revision datas" escape="js">', '<__trans phrase="Revision datas" escape="js">'); return false;"
            accesskey="x"
            title="<__trans phrase="Delete selected revision datas (x)">"
            ><__trans phrase="Delete"></button>
    </mt:unless>
</mt:setvarblock>

<mt:setvarblock name="table_header">
                <tr>
    <mt:unless name="is_search">
                    <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
    </mt:unless>
                    <th style="padding:7px" class="col head object-status"><__trans phrase="Object"></th>
                    <th style="padding:7px" class="col head revision-status"><__trans phrase="Status"></th>
                    <th style="padding:7px" class="col head recover"><__trans phrase="Recover"></th>
                    <th style="padding:7px" class="col head object_name"><__trans phrase="Title"></th>
                    <th style="padding:7px" class="col head object_class"><__trans phrase="Type"></th>
                    <th style="padding:7px" class="col head author_name"><__trans phrase="Username"></th>
                    <mt:unless name="blog_view">
                    <th style="padding:7px" class="col head blog_name"><__trans phrase="Website/Blog"></th>
                    </mt:unless>
                    <th style="padding:7px" class="col head class"><__trans phrase="Class"></th>
                    <th style="padding:7px" class="col head comment"><__trans phrase="Comment for revision"></th>
                    <th style="padding:7px" class="col head object_authored_on"><__trans phrase="Publish Date"></th>
                    <th style="padding:7px" class="col head modified_on"><__trans phrase="Modified On"></th>
                    <th style="padding:7px" class="col head view"><__trans phrase="View"></th>
<$mt:templatenote note="THIS_NOTE_IS_HOOKPOINT(FOR_EXTRA_COLUMN_TH_TO_LAST)"$>
                </tr>
</mt:setvarblock>
<mtapp:listing id="$list_id">
    <mt:if __first__>
            <thead><$mt:var name="table_header"$></thead>
            <tfoot><$mt:var name="table_header"$></tfoot>
            <tbody>
    </mt:if>
                <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
    <mt:unless name="is_search">
                    <td class="cb">
                        <mt:if name="can_recover">
                        <input type="checkbox" name="id" value="<mt:var name="id" escape="html">" class="select" />
                        <mt:else>
                        &nbsp;
                        </mt:else>
                        </mt:if>
                    </td>
    </mt:unless>
                    <td class="col object-status">
                    <mt:setvarblock name="item_object-status">
                    <mt:if name="entry_status">
                        <mt:if name="can_edit_entry"><a href="<mt:var name="mt_url">?__mode=view&amp;_type=<mt:var name="object_class" escape="html">&amp;id=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Edit current version">"></mt:if>
                        <mt:if name="entry_status" eq="1">
                        <img src="<$mt:var name="static_uri"$>images/status_icons/draft.gif" width="9" height="9" title="<__trans phrase="Edit this entry">" alt="<__trans phrase="Unpublished (Draft)">" />
                        </mt:if>
                        <mt:if name="entry_status" eq="2">
                        <img src="<$mt:var name="static_uri"$>images/status_icons/success.gif" width="9" height="9" title="<__trans phrase="Edit this entry">" alt="<__trans phrase="Published">" />
                        </mt:if>
                        <mt:if name="entry_status" eq="4">
                        <img src="<$mt:var name="static_uri"$>images/status_icons/future.gif" width="9" height="9" title="<__trans phrase="Edit this entry">" alt="<__trans phrase="Scheduled">" />
                        </mt:if>
                        <mt:if name="entry_status" eq="3">
                        <img src="<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/status_review.gif" width="11" height="9" title="<__trans phrase="Edit this entry">" alt="<__trans phrase="Unpublished (Review)">" />
                        </mt:if>
                        <mt:if name="entry_status" eq="7">
                        <img src="<$mt:var name="static_uri"$>plugins/TemplateSelector/images/status_template.gif" width="9" height="9" title="<__trans phrase="Edit this entry">" alt="<__trans phrase="Unpublished (Review)">" />
                        </mt:if>
                        <mt:if name="can_edit_entry"></a></mt:if>
                        <mt:else>
                        <img src="<$mt:var name="static_uri"$>images/nav_icons/mini/delete.gif" title="<__trans phrase="Removed">" alt="<__trans phrase="Removed">" /></mt:else>
                    </mt:if>
                    </mt:setvarblock>
                    <mt:var name="item_object-status" strip_linefeeds="1" replace="    ","">
                    </td>
                    <td class="col revision-status">
                    <mt:setvarblock name="item_revision-status">
                    <mt:if name="status" eq="1">
                    <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=status&amp;filter_val=<mt:var name="status">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show unpublished revision data">">
                    <img src="<$mt:var name="static_uri"$>images/status_icons/draft.gif" width="9" height="9" alt="<__trans phrase="Unpublished (Draft)">" />
                    </a>
                    </mt:if>
                    <mt:if name="status" eq="4">
                    <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=status&amp;filter_val=<mt:var name="status">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show scheduled revision data">">
                    <img src="<$mt:var name="static_uri"$>images/status_icons/future.gif" width="9" height="9" alt="<__trans phrase="Scheduled">" />
                    </a>
                    </mt:if>
                    <mt:if name="status" eq="3">
                    <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=status&amp;filter_val=<mt:var name="status">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show revision data as under approval">">
                    <img src="<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/status_review.gif" width="11" height="9" alt="<__trans phrase="Unpublished (Review)">" />
                    </a>
                    </mt:if>
                    <mt:if name="status" eq="7">
                    <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=status&amp;filter_val=<mt:var name="status">&amp;blog_id=<mt:var name="blog_id">"
                    title="<__trans phrase="Only show entry template revision data">">
                    <img src="<$mt:var name="static_uri"$>plugins/TemplateSelector/images/status_template.gif" width="9" height="9" title="<__trans phrase="Template">" alt="<__trans phrase="Unpublished (Review)">" />
                    </mt:if>
                    </a>
                    </mt:setvarblock>
                    <mt:var name="item_revision-status" strip_linefeeds="1" replace="    ","">
                    </td>
                    <td class="col recover">
                        <mt:if name="can_recover"><a onclick="return confirm('<__trans phrase="Are you sure you want to recover this [_1]?" params="<mt:if name="object_class" eq="entry"><__trans phrase="entry"><mt:else><__trans phrase="page"></mt:else></mt:if>">')" href="<mt:var name="mt_url">?__mode=recover_entry&amp;_type=<mt:var name="object_class">&amp;entry_id=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">&amp;revision_id=<mt:var name="id">"
                        title="<__trans phrase="Recover from this version">"><img src="<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/revision.gif" alt="<__trans phrase="Recover">" width="8" height="9" /></a>
                        </mt:if>
                    </td>
                    <td class="col object_name">
                        <mt:if name="can_edit_revision"><a href="<mt:var name="mt_url">?__mode=edit_revision&amp;_type=<mt:var name="object_class" escape="html">&amp;entry_id=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">&amp;revision_id=<mt:var name="id">"
                        title="<__trans phrase="Edit this revision data">"></mt:if><mt:var name="object_name" escape="html" default="..."><mt:if name="can_edit_revision"></a></mt:if>
                        <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=object_id&amp;filter_val=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">"
                        title="<mt:if name="object_class" eq='entry'><__trans phrase="Only show this entry's revision data"><mt:else><__trans phrase="Only show this page's revision data"></mt:else></mt:if>"><img alt="<__trans phrase="Do filter">" src="<mt:var name="static_uri">images/filter.gif" width="8" height="8" border="0" /></a>
                    </td>
                    <td class="col object_class">
                        <mt:if name="object_class" eq='entry'>
                        <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=object_class&amp;filter_val=entry&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show entry's revision data">"><__trans phrase="entry"></a>
                        <mt:else>
                        <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=object_class&amp;filter_val=page&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show page's revision data">"><__trans phrase="page"></a>
                        </mt:else>
                        </mt:if>
                    </td>
                    <td class="col author_name">
                        <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=author_id&amp;filter_val=<mt:var name="author_id">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show this user's revision data">"><mt:var name="author_name" escape="html"></a>
                    </td>
                    <mt:unless name="blog_view">
                    <td class="col blog_name">
                        <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;blog_id=<mt:var name="blog_id">" title="<__trans phrase="Only show this blog's revision data">"><mt:var name="blog_name" escape="html"></a>
                    </td>
                    </mt:unless>
                    <td class="col class">
                        <mt:if name="class" eq="workflow">
                        <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=class&amp;filter_val=<mt:var name="class" escape="html">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show workflow revision data">">
                            <__trans phrase="Workflow">
                        </a>
                        </mt:if>
                        <mt:if name="class" eq="backup">
                        <a href="<mt:var name="mt_url">?__mode=list&amp;_type=powerrevision&amp;filter=class&amp;filter_val=<mt:var name="class" escape="html">&amp;blog_id=<mt:var name="blog_id">"
                        title="<__trans phrase="Only show backup revision data">">
                            <__trans phrase="Backup">
                        </a>
                        </mt:if>
                    </td>
                    <td class="col comment">
                        <mt:var name="comment" escape="html">
                    </td>
                    <td class="col obj_auth_on">
                        <mt:var name="obj_auth_on">
                    </td>
                    <td class="col modified_on">
                        <mt:var name="modified_on">
                    </td>
                    <td class="col view">
                    <mt:if name="can_edit_revision">
                        <a href="<mt:var name="mt_url">?__mode=preview_history&amp;_type=<mt:var name="object_class" escape="html">&amp;entry_id=<mt:var name="object_id">&amp;blog_id=<mt:var name="blog_id">&amp;revision_id=<mt:var name="id">"
                        title="<__trans phrase="View">"
                        target="_blank"><img src="<$mt:var name="static_uri"$>images/status_icons/view.gif" alt="<__trans phrase="View">" /></a>
                    </mt:if>
                    </td>
<$mt:templatenote note="THIS_NOTE_IS_HOOKPOINT(FOR_EXTRA_COLUMN_TD_TO_LAST)"$>
                </tr>
    <mt:if __last__>
            </tbody>
    </mt:if>
</mtapp:listing>
</__trans_section>
