.clf {
min-height: 1px;
}

.clf:after {
content: "";
display: block;
clear: both;
height: 1px;
overflow: hidden;
}

/*\*/
* html .clf {
height: 1px;
overflow: visible;
}
/**/

p.contact-form-information {
font-size: 14px;
line-height: 1.5em;
}

div.contact-form {
border-top: 1px solid #C1C1C1;
width: 520px;
text-align: left;
}

div.contact-form div.contact-form-field,
div.contact-form div.contact-form-submit {
padding: 20px 0 20px 0;
border-left: 1px solid #C1C1C1;
border-right: 1px solid #C1C1C1;
border-bottom: 1px solid #C1C1C1;
width: 518px;
}

div.contact-form div.contact-form-field.highlight {
background: url(../images/cf-field-bg.gif) repeat;
}

div.contact-form div.contact-form-submit input {
margin-left: 190px;
padding: 5px 25px;
border: 1px solid #CCCCCC;
background-color: #656565;
color: #FFFFFF;
}

div.contact-form div.contact-form-submit input:hover {
background-color: #999999;
}

div.contact-form div.contact-form-field p.form-label {
display: block;
float: left;
margin: 0;
padding: 0 25px 0 10px;
width: 155px;
text-align: right;
font-weight: bold;
font-size: 14px;
line-height: 1.2em;
color: #333333;
}

div.contact-form div.contact-form-field p.form-label span.must {
display: block;
margin: 3px 0 0 0;
font-size: 10px;
color: #FF3333;
}

div.contact-form div.contact-form-field p.form-label span.description {
display: block;
padding: 3px 0 0 0;
font-weight: normal;
font-size: 12px;
color: #646464;
}

div.contact-form div.contact-form-field .form-element {
display: block;
float: left;
margin: 0 0 0 0;
width: 290px;
}

div.contact-form div.contact-form-field .form-element input.contact-form-text-full,
div.contact-form div.contact-form-field .form-element input.contact-form-text-middle,
div.contact-form div.contact-form-field .form-element input.contact-form-text-date,
div.contact-form div.contact-form-field .form-element input.contact-form-text-time {
padding: 7px;
border: 1px solid #C1C1C1;
}

div.contact-form div.contact-form-field .form-element input.contact-form-text-full {
width: 292px;
}

div.contact-form div.contact-form-field .form-element input.contact-form-text-middle {
width: 150px;
}

div.contact-form div.contact-form-field .form-element input.contact-form-text-date {
width: 90px;
}

div.contact-form div.contact-form-field .form-element input.contact-form-text-time {
width: 90px;
}

div.contact-form div.contact-form-field .form-element textarea.contact-form-textarea {
padding: 7px;
width: 292px;
height: 10em;
border: 1px solid #C1C1C1;
line-height: 1.5em;
}

div.contact-form div.contact-form-field ul.form-element li {
float: left;
margin-right: 8px;
margin-bottom: 4px;
list-style-type: none;
}

div.contact-form div.contact-form-field div.form-element ul {
float: left;
margin-left: 0;
margin-bottom: 4px;
list-style-type: none;
}

div.contact-form div.contact-form-field div.form-element ul li {
float: left;
margin-right: 8px;
margin-bottom: 4px;
list-style-type: none;
}

div.contact-form div.contact-form-field div.form-element p {
clear: left;
}

div.contact-form div.contact-form-field .field_error {
display: block;
margin: 3px 0 0 0;
font-size: 12px;
color: #FF3333;
}