/* - edit_contactformgroup.tmpl */

#group-settings h3 {
	position: relative;
	padding-left: 30px;
}

#group-settings h3 span.togglePlus,
#group-settings h3 span.toggleMinus {
	position: absolute;
	top: 4px;
	left: 4px;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/formgroup_edit_toggle_btn.png) no-repeat;
}

#group-settings h3 span.toggleMinus {
	background-position: right;
}

#group-settings div.group-setting-content textarea {
	height: 3.5em;
	min-height: 3.5em;
}

#group-settings .field-header {
	width: 10em;
}

#group-settings hr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #DDDDDD;
	height: 1px;
}

/* -for IE6 */
* html #group-settings h3 span.togglePlus,
* html #group-settings h3 span.toggleMinus {
	left: -26px;
}
