<style type="text/css">
    .medium-header {
        margin-bottom: 20px;
        padding-left: 5px;
        padding-bottom: 4px;
        border-bottom: 1px solid #ccc;
        font-size: 110%;
    }
    .small-header {
        margin-bottom: 15px;
        padding-left: 5px;
        padding-bottom: 4px;
        border-bottom: 1px dotted #ccc;
        font-size: 105%;
    }
</style>
<__trans_section component="PowerCMS">
<h2 class="medium-header"><__trans phrase="Dynamic Search"></h2>
<mtapp:setting
    id="altsearch_path"
    label="<__trans phrase="Search Path">">
    <input type="text" class="text" value="<mt:var name="altsearch_path" escape="html">" name="altsearch_path" id="altsearch_path" />
</mtapp:setting>
<mtapp:setting
    id="altsearch_feedpath"
    label="<__trans phrase="Feed Path">">
    <input type="text" class="text" value="<mt:var name="altsearch_feedpath" escape="html">" name="altsearch_feedpath" id="altsearch_feedpath" />
</mtapp:setting>
<mtapp:setting
    id="altsearch_default_limit"
    label="<__trans phrase="Default Limit">">
    <input type="text" class="text" value="<mt:var name="altsearch_default_limit" escape="html">" name="altsearch_default_limit" id="altsearch_default_limit" />
</mtapp:setting>
<h2 class="medium-header"><__trans phrase="Field Label Setting"></h2>
<mtapp:setting
    id="title"
    label="<__trans phrase="Title">">
    <input type="text" value="<mt:var name="title" escape="html">" name="title" id="title" />
</mtapp:setting>
<mtapp:setting
    id="text"
    label="<__trans phrase="Body">">
    <input type="text" value="<mt:var name="text" escape="html">" name="text" id="text" />
</mtapp:setting>
<mtapp:setting
    id="extended"
    label="<__trans phrase="Extended">">
    <input type="text" value="<mt:var name="extended" escape="html">" name="extended" id="extended" />
</mtapp:setting>
<mtapp:setting
    id="excerpt"
    label="<__trans phrase="Excerpt">">
    <input type="text" value="<mt:var name="excerpt" escape="html">" name="excerpt" id="excerpt" />
</mtapp:setting>
<mtapp:setting
    id="keywords"
    label="<__trans phrase="Keywords">">
    <input type="text" value="<mt:var name="keywords" escape="html">" name="keywords" id="keywords" />
</mtapp:setting>
<mtapp:setting
    id="tags"
    label="<__trans phrase="Tags">">
    <input type="text" value="<mt:var name="tags" escape="html">" name="tags" id="tags" />
</mtapp:setting>
<mtapp:setting
    id="basename_"
    label="<__trans phrase="Basename">">
    <input type="text" value="<mt:var name="basename" escape="html">" name="basename" id="basename" />
</mtapp:setting>
<mtapp:setting
    id="comments"
    label="<__trans phrase="Comments">">
    <input type="text" value="<mt:var name="comments" escape="html">" name="comments" id="comments" />
</mtapp:setting>
<mtapp:setting
    id="trackbacks"
    label="<__trans phrase="Trackbacks">">
    <input type="text" value="<mt:var name="trackbacks" escape="html">" name="trackbacks" id="trackbacks" />
</mtapp:setting>
<mtapp:setting
    id="category"
    label="<__trans phrase="Category">">
    <input type="text" value="<mt:var name="category" escape="html">" name="category" id="category" />
</mtapp:setting>
<h2 class="medium-header"><__trans phrase="TinyMCE Setting"></h2>
<mtapp:setting
    id="editor_style_css"
    label="editor_style.css:">
    <input type="text" id="editor_style_css" name="editor_style_css" value="<mt:var name="editor_style_css" escape="html">" class="text full" />
</mtapp:setting>
</__trans_section>
