<mt:setvarblock name="html_head" append="1">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/Compact/css/Compact.css?v=<mt:var name="mt_version_id" escape="url">" type="text/css" />
    <script type="text/javascript" src="<$mt:var name="static_uri"$>plugins/Compact/js/Compact.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
</mt:setvarblock>