<__trans_section component="PowerCMS">
<style type="text/css">
    .medium-header {
        margin-bottom: 20px;
        padding-left: 5px;
        padding-bottom: 4px;
        border-bottom: 1px solid #ccc;
        font-size: 110%;
    }
    .small-header {
        margin-bottom: 15px;
        padding-left: 5px;
        padding-bottom: 4px;
        border-bottom: 1px dotted #ccc;
        font-size: 105%;
    }
</style>
<h2 class="medium-header"><__trans phrase="Rebuild Trigger"></h2>
<mtapp:setting
    id="rebuildtrigger"
    label="<__trans phrase="Trigger">">
<div><__trans phrase="You can write YAML format. Example:"></div>
<textarea class="text high" style="height:260px;" readonly="readonly">
Trigger1:
    params:
        - __mode=cfg_prefs
        - _type=blog
        - saved=1
    template_id:
        - 1
        - 2
Trigger2:
    params:
        - __mode=list_entry
        - is_power_edit=1
        - saved=1
    blog_id: &lt;mt:BlogId&gt;
</textarea>
<ul>
<li><textarea rows="10" id="rebuildtrigger" class="text high" name="rebuildtrigger" style="height:260px;"><mt:var name="rebuildtrigger" escape="html"></textarea>
</li>
</ul>
</mtapp:setting>
<h2 class="medium-header"><__trans phrase="Field Label Setting"></h2>
<mtapp:setting
    id="title"
    label="<__trans phrase="Title">">
    <input type="text" value="<mt:var name="title" escape="html">" name="title" id="title" />
</mtapp:setting>
<mtapp:setting
    id="text"
    label="<__trans phrase="Body">">
    <input type="text" value="<mt:var name="text" escape="html">" name="text" id="text" />
</mtapp:setting>
<mtapp:setting
    id="extended"
    label="<__trans phrase="Extended">">
    <input type="text" value="<mt:var name="extended" escape="html">" name="extended" id="extended" />
</mtapp:setting>
<mtapp:setting
    id="excerpt"
    label="<__trans phrase="Excerpt">">
    <input type="text" value="<mt:var name="excerpt" escape="html">" name="excerpt" id="excerpt" />
</mtapp:setting>
<mtapp:setting
    id="keywords"
    label="<__trans phrase="Keywords">">
    <input type="text" value="<mt:var name="keywords" escape="html">" name="keywords" id="keywords" />
</mtapp:setting>
<mtapp:setting
    id="tags"
    label="<__trans phrase="Tags">">
    <input type="text" value="<mt:var name="tags" escape="html">" name="tags" id="tags" />
</mtapp:setting>
<mtapp:setting
    id="basename"
    label="<__trans phrase="Basename">">
    <input type="text" value="<mt:var name="basename" escape="html">" name="basename" id="basename" />
</mtapp:setting>
<mtapp:setting
    id="comments"
    label="<__trans phrase="Comments">">
    <input type="text" value="<mt:var name="comments" escape="html">" name="comments" id="comments" />
</mtapp:setting>
<mtapp:setting
    id="trackbacks"
    label="<__trans phrase="Trackbacks">">
    <input type="text" value="<mt:var name="trackbacks" escape="html">" name="trackbacks" id="trackbacks" />
</mtapp:setting>
<mtapp:setting
    id="category"
    label="<__trans phrase="Category">">
    <input type="text" value="<mt:var name="category" escape="html">" name="category" id="category" />
</mtapp:setting>
<h2 class="medium-header"><__trans phrase="W3C Markup Validation Setting"></h2>
<mtapp:setting
    id="use_validation"
    label="<__trans phrase="Use Markup Validation">">
    <label><input type="checkbox" name="use_validation" id="use_validation" value="1" <mt:if name="use_validation">checked="checked"</mt:if> /> <__trans phrase="Use"></label>
    <input type="hidden" name="use_validation" id="use_validation" value="0" />
</mtapp:setting>
<mtapp:setting
    id="posturl"
    label="<__trans phrase="Url of W3C Markup Validation Service">">
    <input type="text" value="<mt:var name="posturl" escape="HTML">" name="posturl" id="posturl" />
</mtapp:setting>
<h2 class="medium-header"><__trans phrase="TinyMCE Setting"></h2>
<mtapp:setting
    id="editor_style_css"
    label="editor_style.css:">
    <input type="text" id="editor_style_css" name="editor_style_css" value="<mt:var name="editor_style_css" escape="html">" class="text full" />
</mtapp:setting>
<mtapp:setting
    id="editor_plugins"
    label="plugins:">
    <textarea id="editor_plugins" name="editor_plugins" class="text full low"><mt:var name="editor_plugins" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="theme_advanced_buttons1"
    label="advanced_buttons1:">
    <textarea id="theme_advanced_buttons1" name="theme_advanced_buttons1" class="text full low"><mt:var name="theme_advanced_buttons1" escape="html"></textarea>
    <div class="hint"><__trans phrase="&quot;emoji&quot; is enabled when &quot;KeitaiLib plugin&quot; is used"></div>
</mtapp:setting>
<mtapp:setting
    id="theme_advanced_buttons2"
    label="advanced_buttons2:">
    <textarea id="theme_advanced_buttons2" name="theme_advanced_buttons2" class="text full low"><mt:var name="theme_advanced_buttons2" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="theme_advanced_buttons3"
    label="advanced_buttons3:">
    <textarea id="theme_advanced_buttons3" name="theme_advanced_buttons3" class="text full low"><mt:var name="theme_advanced_buttons3" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="theme_advanced_buttons4"
    label="advanced_buttons4:">
    <textarea id="theme_advanced_buttons4" name="theme_advanced_buttons4" class="text full low"><mt:var name="theme_advanced_buttons4" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="theme_advanced_buttons5"
    label="advanced_buttons5:">
    <textarea id="theme_advanced_buttons5" name="theme_advanced_buttons5" class="text full low"><mt:var name="theme_advanced_buttons5" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="source_buttons1"
    label="source_buttons1:">
    <textarea id="source_buttons1" name="source_buttons1" class="text full low"><mt:var name="source_buttons1" escape="html"></textarea>
    <div class="hint"><__trans phrase="&quot;emoji&quot; is enabled when &quot;KeitaiLib plugin&quot; is used"></div>
</mtapp:setting>
<mtapp:setting
    id="source_buttons2"
    label="source_buttons2:">
    <textarea id="source_buttons2" name="source_buttons2" class="text full low"><mt:var name="source_buttons2" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="source_buttons3"
    label="source_buttons3:">
    <textarea id="source_buttons3" name="source_buttons3" class="text full low"><mt:var name="source_buttons3" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="source_buttons4"
    label="source_buttons4:">
    <textarea id="source_buttons4" name="source_buttons4" class="text full low"><mt:var name="source_buttons4" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="source_buttons5"
    label="source_buttons5:">
    <textarea id="source_buttons5" name="source_buttons5" class="text full low"><mt:var name="source_buttons5" escape="html"></textarea>
</mtapp:setting>
<mtapp:setting
    id="editor_advanced_setting"
    label="<__trans phrase="Advanced Setting">">
    <textarea id="editor_advanced_setting" name="editor_advanced_setting" class="text full high"><mt:var name="editor_advanced_setting" escape="html"></textarea>
    <div class="hint"><__trans phrase="e.g">) tinymce_editor.init['theme_advanced_blockformats'] = 'p,div,h1,h2,h3,h4';</div>
</mtapp:setting>
</__trans_section>
<h2 class="medium-header"><__trans phrase="Memo"></h2>
<mtapp:setting
    id="memo"
    label_class="top-label">
    <textarea rows="10" id="memo" class="text full high" name="memo"><mt:var name="memo" escape="html"></textarea>
    <p class="hint"><__trans phrase="This is free space to memo. This is never used."></p>
</mtapp:setting>
