<mt:setvarblock name="page_title"><$mt:var name="page_title"$></mt:setvarblock>

<mt:if name="msg">
<mt:setvarblock name="system_msg" append="1">
        <mtapp:statusmsg
            id="saved-changes"
            class="success">
            <mt:var name="msg">
        </mtapp:statusmsg>
</mt:setvarblock>
</mt:if>

<mt:include name="include/header.tmpl">

<mt:if name="titles">
<div id="main-content">
    <div id="main-content"><div id="main-content-inner" class="inner pkg">
    <div id="group-listing" class="listing ">

    <table id="unpublished-listing-table" class="legacy listing-table compact" cellspacing="0">
        <thead>
            <tr>
                <th style="padding:7px" class="col head" ><mt:var name="changed_entry"></th>
            </tr>
        </thead>
        <tbody>
        <mt:loop name="tmpl_loop">
            <tr class="<mt:if name="odd">odd<mt:else>even</mt:else></mt:if>">
                <td style="padding:7px" class="col"><mt:var name="title"></td>
            </tr>
        </mt:loop>
        </tbody>
    </table>
    </div></div>
    </div>
</div>
</mt:if>

<mt:include name="include/footer.tmpl">