<__trans_section component="PowerCMS">
<mt:setvarblock name="page_title"><__trans phrase="PowerCMS Configration"></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
</mt:setvarblock>
<mt:setvar name="position_actions_bottom" value="1">
<mt:setvarblock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
           id="saved"
            class="success">
            <__trans phrase="Your changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="request.reset">
        <mtapp:statusmsg
           id="reset"
            class="success">
            <__trans phrase="Your settings have been reset.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="no_config">
        <mtapp:statusmsg
           id="no_config"
            class="success">
            <__trans phrase="PowerCMS Configration is not available.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:setvartemplate name="action_buttons">
<mt:unless name="no_config">
    <button
        type="submit"
        accesskey="s"
        onclick="return do_save();"
        title="<__trans phrase="Save">"
        class="save action primary-button primary button"
        ><__trans phrase="Save"></button>
    <button
        type="submit"
        accesskey="r"
        onclick="return do_reset();"
        title="<__trans phrase="Reset">"
        class="save action button"
        ><__trans phrase="Reset"></button>
</mt:unless>
</mt:setvartemplate>

<mt:include name="include/header.tmpl">

<mt:ignore id="config_loop">Inset after this block</mt:ignore>

<mt:include name="include/footer.tmpl">
</__trans_section>