<mt:PowerCMSImportTinyMCEConfig />
<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
(function($) {


var config = MT.Editor.TinyMCE.config;

// 設定の読み込み
(function() {
    var tinymce_editor = {
        init: {
            plugins: '<mt:var name="editor_plugins" escape="js">',
            theme_advanced_buttons1: '<mt:var name="original_theme_advanced_buttons1" escape="js">',
            theme_advanced_buttons2: '<mt:var name="original_theme_advanced_buttons2" escape="js">',
            theme_advanced_buttons3: '<mt:var name="original_theme_advanced_buttons3" escape="js">',
            theme_advanced_buttons4: '<mt:var name="original_theme_advanced_buttons4" escape="js">',
            theme_advanced_buttons5: '<mt:var name="original_theme_advanced_buttons5" escape="js">',
            source_buttons1: '<mt:var name="original_source_buttons1" escape="js">',
            source_buttons2: '<mt:var name="original_source_buttons2" escape="js">',
            source_buttons3: '<mt:var name="original_source_buttons3" escape="js">',
            source_buttons4: '<mt:var name="original_source_buttons4" escape="js">',
            source_buttons5: '<mt:var name="original_source_buttons5" escape="js">',
            content_css: '<mt:var name="original_editor_style_css" escape="js">'
        }
    };
    <mt:var name="editor_advanced_setting">
        

    (function() {
        var i;
        for (i = 1; i <= 5; i++) {
            config['plugin_mt_wysiwyg_buttons' + i] =
                tinymce_editor.init['theme_advanced_buttons' + i];
            delete tinymce_editor.init['theme_advanced_buttons' + i];

            config['plugin_mt_source_buttons' + i] =
                tinymce_editor.init['source_buttons' + i];
            delete tinymce_editor.init['source_buttons' + i];
        }
    })();

    config['content_css'] += ',' + tinymce_editor.init['content_css'];
    delete tinymce_editor.init['content_css'];


    $.extend(config, tinymce_editor.init);
})();


// KeitaiLib がインストールされている場合には絵文字ボタンのプラグインをロード
<mt:ifPlugin component="KeitaiLib">
config.plugins += ',emoji';
tinymce.PluginManager.load('emoji',
    {
        prefix: StaticURI + 'addons/PowerCMS.pack/tiny_mce/plugins/',
        resource: 'emoji',
        suffix:'/editor_plugin' + tinymce.suffix + '.js'
    },
    function () {
        tinymce.plugins.EmojiPlugin.emoji_path =
            '<$mt:var name="static_uri"$>plugins/KeitaiLib/images/<$MTKeitaiEmoticonSize$>/';
    }
);
</mt:ifPlugin>


$(function() {
    // #blog-id の要素を含んでいない場合にはここで DOM に追加
    if ($('#blog-id').length == 0) {
        $('<input />')
            .attr({
                type: 'hidden',
                id: 'blog-id',
                value: '<mt:Var name="blog_id" />'
            })
            .appendTo('body');
    }
});

window.Lexicon['Insert Link'] = '<__trans phrase="Insert Link" escape="js">';;

})(jQuery);
</script>
<script type="text/javascript" src="<mt:var name="static_uri">addons/PowerCMS.pack/tiny_mce/js/extension.js"></script>
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/TinyMCE/tiny_mce/themes/advanced/skins/mt/ui.css" type="text/css" />
<link rel="stylesheet" href="<mt:var name="static_uri">addons/PowerCMS.pack/tiny_mce/css/TinyMCE.css" type="text/css" />
</mt:setvarblock>
