<__trans_section component="PowerCMS">
<mt:setvarblock name="page_title"><mt:if name="request.key"><__trans phrase="Edit Bookmark"><mt:else><__trans phrase="Add to Bookmark"></mt:else></mt:if><mt:if name="has_object"> (<mt:var name="object_class_label" escape="html"> - <mt:var name="object_name" escape="html">)</mt:if></mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript">
<mt:if name="request.save_changes">
parent.jQuery.fn.mtDialog.close();
</mt:if>
jQuery(function() {
    jQuery('#submit-button').click(function() {
        var p = parent;

        var nom = function(str) {
            if (str) {
                str = str.replace(/&/g,'&amp;');
                str = str.replace(/>/g,'&gt;');
                str = str.replace(/</g,'&lt;');
            }
            return str;
        };

        var url = jQuery('#bookmark_url').val();
        var label = jQuery('#bookmark_label').val();
        var icon = jQuery('input[name="bookmark_icon"]:checked').val();
        if (!icon) {
            icon = 'star_48';
        }
        var order = jQuery('#bookmark_order').val();

        url = nom(url);
        label = nom(label);
        icon = nom(icon);
        order = nom(order);

        var insert_li = function(menu, menu_insert_item) {
            var li = menu.find('li');
            var insert = false;
            if (li.length) {
                li.each(function(i) {
                    if (order == (i + 1)) {
                        jQuery(menu_insert_item).insertBefore(this);
                        insert = true;
                    }
                    if (jQuery(this).find('a').eq(0).attr('href') == jQuery('#bookmark_url').val()) {
                        jQuery(this).remove();
                    }
                });
                if (insert == false) {
                    menu.append(menu_insert_item);
                }
            } else {
                menu.append(menu_insert_item);
            }
        };
        var menu = p.jQuery('#bookmarks_menu_ul');
        var menu_insert_item = '<li><a href="' + url + '">' + label + '</a></li>';
        insert_li(menu, menu_insert_item);

        var key = '<mt:var name="request.key" escape="js">';
        var menu = p.jQuery('.shortcuts-list');
        var menu_insert_item = '' +
            '<li class="item" style="background-image:url(<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/function_icon_set/16/' + icon + '.png);">' +
            '<a href="' + url + '">' + label + '</a>';
        if (key) {
            menu_insert_item += ''+
            '<span class="icons">' +
            '<a title="<__trans phrase="edit">" onclick="jQuery.fn.mtDialog.open(this.href);return false;" class="mt-open-dialog" href="<$mt:var name="mt_url"$>?__mode=shortcut_dialog&amp;dialog_view=1&amp;key=' + key + '"><img src="<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/edit.gif" alt="<__trans phrase="edit">" width="10" height="10" /></a> '+
            '<a href="javascript:void(0)" class="delete" onclick="bookmark.delete(this,\'' + key + '\');"><img title="<__trans phrase="delete">" src="<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/trush.gif" alt="<__trans phrase="delete">" width="9" height="10" /></a>'+
            '</span>';
        }else{
            menu_insert_item += '<span>(<__trans phrase="Can not edit bookmark">)</span>';
        }
        menu_insert_item += '</li>';
        insert_li(menu, menu_insert_item);
        p.jQuery('#no-shortcut-available').hide();
    });

    var selected_icon = jQuery('#bookmark_icons input:checked');
    if (selected_icon.length) {
        jQuery('#bookmark_icons').scrollLeft(selected_icon.parent().position().left - 30)
    }

    <mt:unless name="request.key">
    var parent_title = window.parent.document.title;
    var bookmark_label = parent_title.replace(' | <$mt:var name="mt_product_name"$>','');
    jQuery('#bookmark_label').val(bookmark_label);
    </mt:unless>
});
</script>
<style type="text/css">
.icon_slider {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 631px;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;

    outline: 0;
    border: 1px solid #dcdddd;
    border-top-color: #adadad;
    border-left-color: #adadad;
    background-color: #fbfbfb;
    font-size: 13px;
    vertical-align: middle;
    box-shadow: 0 1px 0 #f3f3f3;
    -webkit-box-shadow: 0 1px 0 #f3f3f3;
    -moz-box-shadow: 0 1px 0 #f3f3f3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.icon_slider_inner {
    padding: 5px 10px;
}

.icon_slider_inner label {
    margin-right: 15px;
}

</style>
</mt:setvarblock>

<mt:include name="dialog/header.tmpl">
<form name="detail" id="detail" method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="__mode" value="add2shortcut">
    <input type="hidden" name="bookmark_old_key" value="<mt:var name="key" escape="html">">
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
    <input type="hidden" name="return_args" value="__mode=shortcut_dialog&amp;dialog=1<mt:if name="request.parent_listing">&amp;parent_listing=1</mt:if>" />
<fieldset>
    <mtapp:setting
        id="bookmark_label"
        label_class="top-label"
        label="<__trans phrase="Bookmark Label">"
        show_hint="0">
    <input type="text" name="bookmark_label" id="bookmark_label" class="text full" value="<mt:var name="bookmark_label" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="bookmark_url"
        label_class="top-label"
        label="<__trans phrase="Bookmark URL">"
        show_hint="0">
    <input type="text" name="bookmark_url" id="bookmark_url" class="text full" value="<mt:var name="bookmark_url" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
        id="bookmark_icon"
        label_class="top-label"
        label="<__trans phrase="Icon">"
        show_hint="0">
        <div id="bookmark_icons" class="icon_slider">
            <div class="icon_slider_inner">
            <mt:loop name="icon_loop">
                <label>
                <input type="radio"<mt:if name="bookmark_icon" eq="$kind"> checked="checked"</mt:if> name="bookmark_icon" value="<mt:var name="kind" escape="html">" />
                <img width="48" height="48" src="<$mt:var name="static_uri"$>addons/PowerCMS.pack/images/function_icon_set/<mt:var name="name" escape="html">" alt="<mt:var name="key" escape="html">" />
                </label>
            </mt:loop>
            </div>
        </div>
    </mtapp:setting>

    <mtapp:setting
        id="bookmark_order"
        label_class="top-label"
        label="<__trans phrase="Order">"
        show_hint="0">
        <select name="bookmark_order" id="bookmark_order">
        <mt:for from="$order_min" to="$order_max" var="i">
        <option value="<mt:var name="i">"<mt:if name="bookmark_order" eq="$i"> selected="selected"</mt:if>><mt:var name="i"></option>
        </mt:for>
        </select>
    </mtapp:setting>

    <div class="actions-bar actions-bar-bottom">
    <button
        type="submit"
        id="submit-button"
        title="<__trans phrase="Save (s)">"
        class="save action button primary">
    <__trans phrase="Save"></button>

    <button
        type="button"
        accesskey="s"
        title="<__trans phrase="Cancel (x)">"
        onclick="<mt:if name="request.parent_listing"><mt:if name="request.saved">parent.location.reload();parent.jQuery.fn.mtDialog.close();</mt:if></mt:if>"
        class="cancel action button mt-close-dialog">
        <__trans phrase="Cancel"></button>
    </div>
</fieldset>
</form>
<mt:include name="dialog/footer.tmpl">
</__trans_section>
