<mt:setvarblock name="page_title"><$mt:var name="page_title"$></mt:setvarblock>
<mt:include name="include/header.tmpl">

<mt:if name="page_msg">
<mtapp:statusmsg id="saved-changes" class="success">
<$mt:var name="page_msg"$>
</mtapp:statusmsg>
</mt:if>

<mt:if name="not_found_msg">
<mtapp:statusmsg id="zero-state" class="info zero-state">
<$mt:var name="not_found_msg"$>
</mtapp:statusmsg>
</mt:if>

<mt:include name="include/footer.tmpl">
