<mtapp:setting
    id="default_module_entrygroup"
    label="<__trans phrase="Entry Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_entrygroup" id="default_module_entrygroup"><mt:var name="default_module_entrygroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="default_module_pagegroup"
    label="<__trans phrase="Page Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_pagegroup" id="default_module_pagegroup"><mt:var name="default_module_pagegroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="default_module_entrypagegroup"
    label="<__trans phrase="Entry / Page Group Module">">
<ul>
<li><textarea rows="10" class="text low" name="default_module_entrypagegroup" id="default_module_entrypagegroup"><mt:var name="default_module_entrypagegroup" escape="html"></textarea></li>
</ul>
</mtapp:setting>
<mt:ifcmswebsite>
<mt:else>
    <mtapp:setting
        id="sync_entrygroup_category"
        label="<__trans phrase="Sync Category">">
    <ul>
        <li><label><input type="checkbox" value="1"
            <mt:if name="sync_entrygroup_category"> checked="checked"</mt:if>
            onclick="if ( this.checked ) {
                document.getElementById( '_category_group_sync-setting' ).style.display='block';
            } else {
                document.getElementById( '_category_group_sync-setting' ).style.display='none';
            }
            "
            name="sync_entrygroup_category" id="sync_entrygroup_category" /> <__trans phrase="Sync Entry / Page Group and Category"></label>
        </li>
    </ul>
    <input type="hidden" name="sync_entrygroup_category" value="0" />
    </mtapp:setting>
<div id="_category_group_sync-setting" <mt:unless name="sync_entrygroup_category">style="display:none"</mt:unless>>
    <mtapp:setting
        id="add_item"
        label="<__trans phrase="Add new">">
    <ul>
        <li><label><input type="checkbox" value="1"
            <mt:if name="add_item"> checked="checked"</mt:if>
            onclick="if ( this.checked ) {
                document.getElementById( '_category_group_sync-add_position' ).style.display='block';
            } else {
                document.getElementById( '_category_group_sync-add_position' ).style.display='none';
            }
            "
            name="add_item" id="add_item" /> <__trans phrase="Add new entry to group."></label>
        </li>
    </ul>
    <input type="hidden" name="add_item" value="0" />
    </mtapp:setting>
    <div id="_category_group_sync-add_position" <mt:unless name="add_item">style="display:none"</mt:unless>>
        <mtapp:setting
            id="add_position"
            label="<__trans phrase="Position">">
        <ul>
            <li><label><input type="radio" value="0"
                <mt:unless name="add_position">checked="checked"</mt:unless>
                name="add_position" id="add_position" /> <__trans phrase="First"></label>
                &nbsp;
                <label><input type="radio" value="1"
                <mt:if name="add_position"> checked="checked"</mt:if>
                name="add_position" id="add_position" /> <__trans phrase="Last"></label>
            </li>
        </ul>
        </mtapp:setting>
    </div>
</div>
</mt:ifcmswebsite>