<__trans_section component="Link">
<mt:setvarblock name="list_id"><mt:var name="object_type">-listing</mt:setvarblock>
<mt:if name="blog_id"><mt:var name="blog_view" value="1"></mt:if>
<mt:unless name="search_replace">
<mt:setvarblock name="action_buttons">
        <button
            onclick="if ( confirm ( '<__trans phrase="Are you sure you want to publish selected Links?">' ) ) { doForMarkedInThisWindow(getByID('<$mt:var name="object_type"$>-listing-form'), '<__trans phrase="Links" escape="js">', '<__trans phrase="Links" escape="js">', 'id', 'publish_links', { blog_id : <mt:if name="blog_id"><$mt:var name="blog_id"$><mt:else>0</mt:else></mt:if> }, '<__trans phrase="Publish" escape="js">'); return false;} else { return false; }"
            accesskey="p"
            title="<__trans phrase="Publish Links from selected datas (p)">"
            ><__trans phrase="Publish"></button>
        <button
            onclick="if ( confirm ( '<__trans phrase="Are you sure you want to unpublish selected Links?">' ) ) { doForMarkedInThisWindow(getByID('<$mt:var name="object_type"$>-listing-form'), '<__trans phrase="Links" escape="js">', '<__trans phrase="Links" escape="js">', 'id', 'unpublish_links', { blog_id : <mt:if name="blog_id"><$mt:var name="blog_id"$><mt:else>0</mt:else></mt:if> }, '<__trans phrase="Unpublish" escape="js">'); return false;} else { return false; }"
            accesskey="u"
            title="<__trans phrase="Unpublish Links from selected datas (u)">"
            ><__trans phrase="Unpublish"></button>
        <button
            onclick="if ( confirm ( '<__trans phrase="Are you sure you want to do link check?">' ) ) { doForMarkedInThisWindow(getByID('link-listing-form'), '<__trans phrase="Link">', '<__trans phrase="Link">', 'id', 'action_link_check', { blog_id : <mt:if name="blog_id"><$mt:var name="blog_id"$><mt:else>0</mt:else></mt:if> }, '<__trans phrase="Check">'); return false;} else { return false; }"
            accesskey="l"
            title="<__trans phrase="Do Link check (l)">"
            ><__trans phrase="Do Link check"></button>
        <button
            class="mt-delete-items"
            onclick="doRemoveItems(getByID('<mt:var name="object_type">-listing-form'), '<__trans phrase="Links" escape="js">', '<__trans phrase="Links" escape="js">'); return false;"
            accesskey="x"
            title="<__trans phrase="Delete selected Links (x)">"
            ><__trans phrase="Delete"></button>
</mt:setvarblock>
</mt:unless>

<mt:setvarblock name="table_header">
    <tr>
    <mt:unless name="search_replace">
    <th class="cb col head" style="width:21px;padding:7px;">
        <mt:unless name="dialog_view">
            <mt:if name="can_edit">
                <input type="checkbox" name="id-head" value="all" class="select" />
            </mt:if>
        </mt:unless>
    </th>
    </mt:unless>
        <th class="col head status" style="padding:7px;text-align:left;width:23px"><img src="<mt:var name="static_uri">images/status_icons/invert-flag.gif" width="9" height="9" alt="<__trans phrase="Status">" /></th>
        <th class="col head name" style="padding:7px;<mt:if name="dialog_view">width:330px</mt:if>"><__trans phrase="Name"></th>
    <mt:unless name="dialog_view">
        <th class="col head url" style="padding:7px;width: 230px;"><__trans phrase="URL"></th>
        <th class="col head description" style="padding:7px;width:100px"><__trans phrase="Description"></th>
        <th class="col head rating" style="padding:7px;width:48px"><__trans phrase="Rating"></th>
        <th class="col head author_name" style="padding:7px;width:70px"><__trans phrase="Author"></th>
    </mt:unless>
        <mt:if name="scope_type" ne="blog">
        <th class="col head blog_name" style="padding:7px;"><__trans phrase="Blog"></th>
        </mt:if>
        <th class="col head authored_on" style="padding:7px;width:108px"><__trans phrase="Created On"></th>
        <th class="col head rss" style="padding:7px;width:44px"><__trans phrase="RSS"></th>
        <th class="col head view" style="padding:7px;width:40px"><__trans phrase="View"></th>
    </tr>
</mt:setvarblock>

<mtapp:listing id="$list_id">
    <mt:if __first__>
            <thead><mt:var name="table_header"></thead>
            <tfoot><mt:var name="table_header"></tfoot>
            <tbody>
    </mt:if>
                <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
                <mt:unless name="search_replace">
                    <td class="cb col">
                        <mt:if name="dialog_view">
                            <input type="radio" name="id" value="<mt:var name="id" escape="html">" class="select" />
                        <mt:else>
                            <mt:if name="can_edit"><input type="checkbox" name="id" value="<mt:var name="id" escape="html">" class="select" /></mt:if>
                        </mt:if>
                    </td>
                </mt:unless>
                    <td class="status col" style="text-align:center;padding-top:10px">
                    <mt:unless name="search_replace">
                    <a href="<mt:var name="mt_url">?__mode=list_link&amp;blog_id=<mt:var name="blog_id">&amp;filter=status&amp;filter_val=<mt:var name="status">">
                    </mt:unless>
                        <mt:if name="status" eq="1"><img src="<mt:var name="static_uri">images/status_icons/draft.gif" width="9" height="9" alt="<__trans phrase="Draft">" /></mt:if>
                        <mt:if name="status" eq="2"><img src="<mt:var name="static_uri">images/status_icons/success.gif" width="9" height="9" alt="<__trans phrase="Publishing">" /></mt:if>
                        <mt:if name="status" eq="3"><img src="<mt:var name="static_uri">images/status_icons/future.gif" width="9" height="9" alt="<__trans phrase="Scheduled">" /></mt:if>
                        <mt:if name="status" eq="4"><img src="<mt:var name="static_uri">images/status_icons/close.gif" width="9" height="9" alt="<__trans phrase="Ended">" /></mt:if>
                    <mt:unless name="search_replace">
                    </a>
                    </mt:unless>
                    </td>
                    <td class="name col">
                    <input type="hidden" id="name-<mt:var name="id" escape="html">" value="<mt:var name="name" escape="html">" />
                    <mt:if name="can_edit"><a <mt:if name="dialog_view">target="_blank"</mt:if>href="<mt:var name="mt_url">?__mode=view&amp;blog_id=<mt:var name="blog_id">&amp;id=<mt:var name="id">&amp;_type=link"></mt:if>
                        <mt:if name="name"><mt:var name="name" escape="html"><mt:else>...</mt:else></mt:if>
                    <mt:if name="can_edit"></a></mt:if>
                    </td>
                <mt:unless name="dialog_view">
                    <td class="url col">
                      <mt:var name="url" escape="html">
                      <mt:unless name="search_replace"><a href="<mt:var name="mt_url">?__mode=list_link&amp;blog_id=<mt:var name="blog_id">&amp;filter=broken_link&amp;filter_val=<mt:var name="filter_val">"></mt:unless>
                      <mt:if name="broken_link">
                        <img style="vertical-align:middle" src="<mt:var name="static_uri">images/status_icons/warning.gif" height="9" width="9" alt="<__trans phrase="Broken">" />
                      <mt:else>
                        <mt:if name="urlupdated_on">
                          <img style="vertical-align:middle" src="<mt:var name="static_uri">images/status_icons/success.gif" height="9" width="9" alt="<__trans phrase="Success">" />
                        </mt:if>
                      </mt:else>
                      </mt:if>
                      <mt:unless name="search_replace"></a></mt:unless>
                    </td>
                    <td class="description col"><mt:var name="description" escape="html"></td>
                    <td class="rating col"><mt:var name="rating"></td>
                    <td class="author_name col">
                    <mt:unless name="search_replace">
                    <a href="<mt:var name="mt_url">?__mode=list_link&amp;blog_id=<mt:var name="blog_id">&amp;filter=author_id&amp;filter_val=<mt:var name="author_id">">
                    </mt:unless>
                    <mt:var name="author_name" escape="html">
                    <mt:unless name="search_replace">
                    </a>
                    </mt:unless>
                    </td>

                </mt:unless>
                    <mt:if name="scope_type" ne="blog">
                    <td class="blog_name col">
                    <mt:unless name="search_replace">
                    <a href="<mt:var name="mt_url">?__mode=list_link&amp;blog_id=<mt:var name="weblog_id">">
                    </mt:unless>
                    <mt:var name="weblog_name" escape="html">
                    <mt:unless name="search_replace">
                    </a>
                    </mt:unless>
                    </td>
                    </mt:if>
                    <td class="authored_on col"><mt:var name="authored_on"></td>
                    <td class="rss col" style="text-align:center;">
                    <mt:if name="rss_address">
                    <div style="background-color:#4444ff;padding:1px 0px;text-align:center;">
                    <a style="color:white" target="_blank" href="<mt:var name="rss_address" escape="html">" title="<mt:var name="rss_address" escape="html">">
                    RSS
                    </a>
                    </div>
                    </mt:if>
                    </td>
                    <td class="view col" style="text-align:center;padding-top:10px">
                    <mt:if name="url">
                        <a target="_blank" href="<mt:var name="url" escape="html">" title="<mt:var name="url" escape="html">">
                            <img src="<mt:var name="static_uri">images/status_icons/view.gif" width="13" height="9" alt="<__trans phrase="View">" />
                        </a>
                    </mt:if>
                    </td>
                </tr>
    <mt:if __last__>
            </tbody>
    </mt:if>
</mtapp:listing>

</__trans_section>

