<mt:setvar name="page_title" value="<__trans phrase="Select a category">">
<mt:setvarblock name="html_head" append="1">
<mt:if name="request.action">
<script type="text/javascript">
//parent.location.reload();
parent.location.href='<mt:var name="script_url">?__mode=list&_type=member&blog_id=<mt:var name="blog_id" escape="html">';
parent.jQuery.fn.mtDialog.close();
</script>
</mt:if>
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">

<form name="notify_form" id="notify_form" method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
    <input type="hidden" name="action" value="<mt:var name="action">" />
<mt:if name="action" eq="add">
    <input type="hidden" name="__mode" value="add_perms_for_category" />
    <h3><__trans phrase="To grant users permissions to the selected categories."></h3>
<mt:elseif name="action" eq="remove">
    <input type="hidden" name="__mode" value="remove_perms_for_category" />
    <h3><__trans phrase="To remove users permissions to the selected categories."></h3>
<mt:elseif name="action" eq="update">
    <input type="hidden" name="__mode" value="manage_perms_for_category" />
    <input type="hidden" name="author_id" value="<mt:var name="request.author_id" escape="html">" />
    <h3><__trans phrase="To set users permissions to the categories."></h3>
</mt:if>
    <input type="hidden" name="ids" value="<mt:var name="ids" escape="html">" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id" escape="html">" />

    <div class="selected-items">
    <span class="modal_added"><__trans phrase="Users Selected">:</span>
        <mt:loop name="selected_user_loop">
        <span class="items">
        <span class="sticky-label">
        <mt:var name="author_name" escape="html">&nbsp;&nbsp;
        </span>
        </span>
        </mt:loop>
    </div>
    <div id="category-field" class="field field-category ">
        <div class="field-header">
          <label id="category-label" for="category"><MTIgnore><img style="vartical-align:text-top" src="<mt:var name="static_uri">images/status_icons/create.gif" width="9" height="9" alt="<__trans phrase="Select">" /> </MTIgnore><__trans phrase="Category"> <mt:var name="category_path" escape="html"></label>
        </div>
        <div class="field-content ">
            <div mt:delegate="category-list" id="category-list" style="margin-bottom:1.2em;margin-top:0.4em;padding-bottom:0.4em;border:1px solid gray">
                <ul style="margin-left:1em;">
                <mt:loop name="category_tree">
                    <li style="margin:0px;padding:2px;"><mt:var name="category_label_spacer"> <label><input type="checkbox" name="category_id" value="<mt:var name="category_id">" <mt:if name="has_perm">checked="checked"</mt:if> /> <mt:var name="category_basename" escape="html"></label></li>
                </mt:loop>
                </ul>
            </div>
        </div>
    </div>

    <mt:setvarblock name="action_buttons">
        <button
           type="submit"
           accesskey="s"
           title="<__trans phrase="Save (s)">"
           class="send action primary button">
          <__trans phrase="Save">
        </button>
        <button
           type="submit"
           accesskey="x"
           title="<__trans phrase="Cancel (x)">"
           class="cancel action button mt-close-dialog">
          <__trans phrase="Cancel">
        </button>
    </mt:setvarblock>

    <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</form>
<mt:include name="dialog/footer.tmpl">
