<__trans_section component="PowerSearch">
<mt:if name="no_blog_id">
<__trans phrase="No Blog specified.">
<mt:elseif name="no_result_template">
<__trans phrase="Search Result Template Not exists in Blog ID: [_1]." params="<mt:var name="blog_id">">
</mt:if>
</__trans_section>
