    <mtapp:setting
        id="draftpath"
        label="<__trans phrase="Path to draft">">
    <ul>
    <li><label>&lt;<__trans phrase="Site Root">&gt; : <input type="text" name="draftpath" id="draftpath" value="<mt:var name="draftpath" escape="html">" style="width:230px;" /></label></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="gatherlang"
        label="<__trans phrase="Default language">">
    <ul>
    <li><label><input type="text" name="gatherlang" id="gatherlang" value="<mt:var name="gatherlang" escape="html">" style="width:470px;" /></label></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="exclude_indexing"
        label="<__trans phrase="Exclude indexing path(es)">">
    <ul>
    <li><label><input type="text" name="exclude_indexing" id="exclude_indexing" value="<mt:var name="exclude_indexing" escape="html">" style="width:470px;" /></label></li>
    </ul>
    </mtapp:setting>
