#utility-nav {
    top: 0px;
    height: 32px;
}

#utility-nav li {
    display: inline-block;
    height: 32px;
    vertical-align: top;
    line-height: 32px;
}

#utility-nav #user .userpic {
    vertical-align: -5px;
}


#utility-nav .extended_menu {
    position: relative;
    z-index: 1050 !important;
    height: 32px;
}

#utility-nav .extended_menu .extended_menu_a {
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    padding: 0px 20px 0px 5px;
    margin-right: 9px;
    background-image: url(../images/arrow-down-gray.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

#utility-nav #extended_system_menu {
    vertical-align: top;
}

#utility-nav .extended_menu .extended_menu_a:hover,
#utility-nav .hover .extended_menu_a {
    color: #EAE69F;
    background-color: #575757;
    background-image: url(../images/arrow-down-gray_on.gif) !important;
    text-decoration: none;
}

#utility-nav .extended_menu ul {
    display: none;
    position: absolute;
    /*top: 28px;*/
    top: 32px;
    left: 0;
    width: 150px;
    z-index: 1000;
}

#utility-nav .extended_menu ul li {
    display: block;
    position: relative;
    float: left;
    width: 150px;
    height: 25px;
}

#utility-nav .hover ul.extended_menu_ul {
    display: block !important;
}

#utility-nav .extended_menu ul li a,
#utility-nav .extended_menu ul li span {
    display: block;
    padding: 0 10px;
    width: 130px;
    height: 25px;
    line-height: 25px;
    color: #C8C2BE;
    background-color: #575757;
/*    cursor: pointer;*/
    overflow: hidden;
}

* html #utility-nav .extended_menu ul li,
* html #utility-nav .extended_menu ul li a,
* html #utility-nav .extended_menu ul li span {
    zoom: 1;
}

#utility-nav .extended_menu ul li span {
    background-image: url(../images/arrow-right-gray.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

#utility-nav .extended_menu ul .li_hover span {
    background-image: url(../images/arrow-right-gray_on.gif) !important;
}

#utility-nav .extended_menu ul li a:hover,
#utility-nav .extended_menu ul .li_hover span.trigger {
    color: #EAE69F;
    text-decoration: none;
    background-color: #454545;
}

#utility-nav .extended_menu ul ul {
    top: 0px;
    left: 150px;
    float: left;
}

#utility-nav .extended_menu ul .li_hover ul {
    display: block !important;
}




#utility-nav .extended_menu#bookmarks_menu .extended_menu_a,
#utility-nav .extended_menu#bookmarks_menu .extended_menu_a:hover {
    background-image: url(../images/shortcut.gif) !important;
    background-position: 95% 50% !important;
    padding-right: 22px;
}

#utility-nav .extended_menu#bookmarks_menu ul,
#utility-nav .extended_menu#bookmarks_menu ul li {
    width: 200px;
}

#utility-nav .extended_menu#bookmarks_menu ul li a,
#utility-nav .extended_menu#bookmarks_menu ul li span {
    width: 180px;
}

#listing-table-overlay {
    z-index: 3000;
}




#menu-bar-icons li {
    position: relative;
}

#menu-bar-icons li #quick-search-form {
    position: absolute;
    right: 0px;
    top: 17px;
}

#menu-bar-icons li #quick-search-form #basic-search {
    position: static;
    white-space: nowrap;
}

.field-left-label .field-content span.field-content {
    margin-left: 0px;
}
