<mt:setvarblock name="system_msg" append="1">
<__trans_section component="Link">
    <div id="msg-container">
    <mt:if name="request.saved_deleted">
        <mtapp:statusmsg
            id="saved-deleted"
            class="success"
            rebuild="all">
            <__trans phrase="The Link Group has been deleted from the database.">
        </mtapp:statusmsg>
    </mt:if>
    </div>
</__trans_section>
</mt:setvarblock>
